<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="breakpoint-1024">
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" data-toggle="sidebar-menu" id="toggle-sidebar-menu" class="visible-xs"><i class="fa fa-ellipsis-v"></i></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a data-toggle="sidebar-chat" class="btn btn-link navbar-btn visible-xs"><i class="fa fa-comments"></i></a>
                <a class="navbar-brand" href="index.html">AMS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="main-nav" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Mạng xã hội</a>
                    </li>
                    <li>
                        <a href="/Service">Dịch vụ</a>
                    </li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Public User Pages</li>
                            <li>
                                <a href="index.html">Timeline</a>
                            </li>
                            <li>
                                <a href="user-public-profile.html">About</a>
                            </li>
                            <li>
                                <a href="user-public-users.html">Friends</a>
                            </li>
                            <li class="dropdown-header">Private User Pages</li>
                            <li>
                                <a href="user-private-messages.html">Messages</a>
                            </li>
                            <li>
                                <a href="user-private-profile.html">Profile</a>
                            </li>
                            <li class="active">
                                <a href="user-private-timeline.html">Timeline</a>
                            </li>
                            <li>
                                <a href="user-private-users.html">Friends</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="buttons.html">UI Components</a>
                    </li>*@
          
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <a href="#" data-toggle="sidebar-chat">
                            <i class="fa fa-comments"></i>
                        </a>
                    </li>

                    <!-- User -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                            <img src="/images/people/110/guy-5.jpg" alt="Bill" class="img-circle" width="40"> Bill <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="user-private-profile.html">Profile</a>
                            </li>
                            <li>
                                <a href="user-private-messages.html">Messages</a>
                            </li>
                            <li>
                                <a href="login.html">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
        </div>
    </div>
    <!--

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    -->
        @*AnLTNM change*@
@*     <div class="st-container body-content">*@
     <div class="st-container">
        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/amsScript/vendor.js"></script>
    <script src="~/Scripts/amsScript/scripts.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
