@{
    List<HelpdeskServiceCategory> hdSrvCategories = ViewBag.helpdeskServiceCategories;
}

@{
    if (hdSrvCategories == null || hdSrvCategories.Count == 0)
    {
        <tr><td style="font-weight: 600">Không có dữ liệu !</td></tr>
    }
    else
    {
        int i = 0;
        foreach (var hdSrvCat in hdSrvCategories)
        {
            i++;
            <tr id="rowHdSrvCat_@(hdSrvCat.Id)">
                <td>@i</td>
                <td>
                    @hdSrvCat.Name
                </td>
@*                <td>*@
@*                    <button class="btn btn-default btn-sm">@hdSrvCat.</button>*@
@*                </td>*@
                <td class="text-right">
                    <a class="btn btn-default btn-xs" onclick="hdSrvCategoryDetail(@hdSrvCat.Id)"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-danger btn-xs" onclick="deleteHdSrvCategory(@hdSrvCat.Id)"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        }
    }
}


