<!DOCTYPE html>
<html>
<head>
    <title>Block Setup</title>
    <meta charset="utf-8" />
    <style type="text/css">
        .auto-style6 {
            width: 210px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }
    </style>
</head>
<body>

    <!DOCTYPE html>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        #Text1 {
            margin-top: 37px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style6 {
            width: 210px;
        }

        .auto-style7 {
            width: 173px;
        }

        .auto-style8 {
            width: 210px;
            height: 129px;
        }

        .auto-style9 {
            width: 173px;
            height: 129px;
        }

        .auto-style10 {
            height: 129px;
        }

        .auto-style11 {
            width: 90%;
            height: 415px;
        }

        .auto-style12 {
            width: 142px;
            height: 139px;
        }

        .auto-style15 {
            height: 18px;
            width: 169px;
        }

        .auto-style16 {
            width: 44px;
            height: 40px;
        }

        .auto-style17 {
            width: 68px;
            height: 64px;
        }
    </style>
    <table class="auto-style11">
        <tr>
            <td class="auto-style8">
                <p class="auto-style15">
                    <img alt="" class="auto-style5" src="/images/AdminIconImages/GDM-Icon-Admin-Client-Round.png" />Admin Page&nbsp;&nbsp;
                </p>
                <hr />
                <p style="height: 18px; width: 169px">
                    &nbsp;<img alt="" class="auto-style4" src="/images/AdminIconImages/system-512.png" />Configure System
                </p>
                <hr />
                <img alt="" class="auto-style1" src="/images/AdminIconImages/green_house_icon.jpg" />House<hr />
            </td>
            <td class="auto-style9">
                &nbsp;
            </td>
            <td class="auto-style10">
                <hr />
                Add House Step by step or Add House Manual<table style="width: 100%;">
                    <tr>
                        <td>
                            <hr />
                            <img alt="Add House" class="auto-style17" src="/images/AdminIconImages/green_house_icon.jpg" /><br />
                            Add House<br />
                            Add House Manual
                        </td>
                        <td>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                            View By Block
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;<hr />
                            <img alt="Block A" class="auto-style12" src="/images/AdminIconImages/1407644478_office-building.png" />Block A
                        </td>
                        <td>
                            <hr />
                            <img alt="Block A" class="auto-style12" src="/images/AdminIconImages/1407644478_office-building.png" />Block B
                        </td>
                        <td>
                            <hr />
                            <img alt="Block A" class="auto-style12" src="/images/AdminIconImages/1407644478_office-building.png" />Block C
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                <br />
                <table style="width:100%;">

                    <td> &nbsp;</td>

                </table>
            </td>
            <td class="auto-style7">
                &nbsp;
            </td>
            <td>
                <hr />
                <img alt="Add Block" class="auto-style16" src="/images/AdminIconImages/plus-icon.png" />Add more Block
            </td>
        </tr>
        <tr>
            <td class="auto-style6">&nbsp;</td>
            <td class="auto-style7">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>

</body>
</html>

@*<!DOCTYPE html>
<html>
<head>
    
    <title>Block Setup</title>
    <meta charset="utf-8" />
    <style type="text/css">
        .auto-style6 {
            width: 210px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }
    </style>
</head>
<body>

    <!DOCTYPE html>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        #Text1 {
            margin-top: 37px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style6 {
            width: 210px;
        }

        .auto-style7 {
            width: 173px;
        }

        .auto-style8 {
            width: 210px;
            height: 129px;
        }

        .auto-style9 {
            width: 173px;
            height: 129px;
        }

        .auto-style10 {
            height: 129px;
        }

        .auto-style11 {
            width: 70%;
            height: 315px;
        }

        .auto-style12 {
            width: 142px;
            height: 139px;
        }

        .auto-style13 {
            width: 153px;
            height: 141px;
        }

        .auto-style14 {
            width: 162px;
            height: 146px;
        }

        .auto-style15 {
            height: 18px;
            width: 169px;
        }
    </style>
    <table class="auto-style11">
        <tr>
            <td class="auto-style8">
                <p class="auto-style15">
                    @*<img alt="" class="auto-style5" src="/images/AdminIconImages/GDM-Icon-Admin-Client-Round.png" />
                    <a href="AdminPage" title="House"><img class="auto-style5" src="/images/AdminIconImages/GDM-Icon-Admin-Client-Round.png" /></a>@Html.ActionLink("Admin Page", "AdminPage")
                </p>
                <p style="height: 18px; width: 169px">
                    @*&nbsp;<img alt="" class="auto-style4" src="/images/AdminIconImages/system-512.png" />
                    <a href="AdminPage" title="House"><img class="auto-style5"  src="/images/AdminIconImages/system-512.png" /></a>@Html.ActionLink("Configure System", "AdminPage")
                </p>
            </td>
            <td class="auto-style9">
                @*<img alt="Block A" class="auto-style12" src="/images/AdminIconImages/1407644478_office-building.png" />
                <a href="FloorSetup" title="Block A"><img class="auto-style12"  src="/images/AdminIconImages/1407644478_office-building.png" /></a>
            </td>
            <td class="auto-style10">
                <table style="width:100%;">
                    <tr>Block A</tr>
                    <tr>
                        <td>@Html.ActionLink("Add", "FloorSetup")</td>

                    </tr>
                    <tr>
                        <td>@Html.ActionLink("View", "viewHouse")</td>

                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                <img alt="" class="auto-style1" src="/images/AdminIconImages/green_house_icon.jpg" /><br />
                <table style="width:100%;">

                    <td>@Html.ActionLink("Add House Manual", "addHouse")</td>
                

                </table>
            </td>
            <td class="auto-style7">
               @* <img alt="" class="auto-style13" src="/images/AdminIconImages/1407644478_office-building.png" />
                <a href="FloorSetup" title="Block B"><img class="auto-style12" src="/images/AdminIconImages/1407644478_office-building.png" /></a>
            </td>
            <td>
                <table style="width:100%;">
                    <tr>Block B</tr>
                    <tr>
                        <td>@Html.ActionLink("Add", "FloorSetup")</td>

                    </tr>
                    <tr>
                        <td>@Html.ActionLink("View", "viewHouse")</td>

                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td class="auto-style6"></td>
            <td class="auto-style7">
            @*    <img alt="" class="auto-style14" src="/images/AdminIconImages/1407644478_office-building.png" />
                <a href="FloorSetup" title="Block C"><img class="auto-style12" src="/images/AdminIconImages/1407644478_office-building.png" /></a>
            </td>
            <td>
                <table style="width:100%;">
                    <tr>Block C</tr>
                    <tr>
                        <td>@Html.ActionLink("Add", "FloorSetup")</td>

                    </tr>
                    <tr>
                        <td>@Html.ActionLink("View", "viewHouse")</td>

                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>
</html>*@
