<body>

    <!DOCTYPE html>
    <title></title>
    <meta charset="utf-8" />
    <style type="text/css">
        #Text1 {
            margin-top: 37px;
        }

        .auto-style1 {
            width: 98px;
            height: 101px;
            margin-left: 0px;
        }

        .auto-style4 {
            width: 32px;
            height: 31px;
        }

        .auto-style5 {
            width: 37px;
            height: 32px;
        }

        .auto-style6 {
            width: 210px;
        }

        .auto-style7 {
            width: 173px;
        }

        .auto-style8 {
            width: 210px;
            height: 129px;
        }

        .auto-style9 {
            width: 173px;
            height: 129px;
        }

        .auto-style10 {
            height: 129px;
        }

        .auto-style11 {
            width: 66%;
            height: 315px;
        }

        .auto-style12 {
            width: 142px;
            height: 139px;
        }

        .auto-style13 {
            width: 158px;
            height: 132px;
        }
    </style>
    <table class="auto-style11">
        <tr>
            <td class="auto-style8">
                <p class="auto-style15">
                    <img alt="" class="auto-style5" src="/images/AdminIconImages/GDM-Icon-Admin-Client-Round.png" />@Html.ActionLink("Admin Page", "AdminPage")
                </p>
                <p style="height: 18px; width: 169px">
                    &nbsp;<img alt="" class="auto-style4" src="/images/AdminIconImages/system-512.png" />@Html.ActionLink("Configure System", "AdminPage")
                </p>
            </td>
            <td class="auto-style9">
                <img alt="Floor 1" class="auto-style13" src="/images/AdminIconImages/development-sexes-floor-level-height-house-construction-512.png" />
            </td>
            <td class="auto-style10">
                <table style="width:100%;">
                    <tr>
                        <td>@Html.ActionLink("Add", "addHouse")</td>

                    </tr>
                    <tr>
                        <td>@Html.ActionLink("View", "viewHouse")</td>

                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
              @*  <img alt="" class="auto-style1" src="/images/AdminIconImages/green_house_icon.jpg" />House*@
                <a href="BlockSetup" title="House"><img class="auto-style1" src="/images/AdminIconImages/green_house_icon.jpg" /></a>@Html.ActionLink("House", "BlockSetup")
            </td>
            

              


         
            <td class="auto-style7">
                <img alt="Floor 2" class="auto-style13" src="/images/AdminIconImages/development-sexes-floor-level-height-house-construction-512.png" />
            </td>
            <td>
                <table style="width:100%;">
                    <tr>
                        <td>@Html.ActionLink("Add", "addHouse")</td>

                    </tr>
                    <tr>
                        <td>@Html.ActionLink("View", "viewHouse")</td>

                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td class="auto-style6">
                <img alt="Block A" class="auto-style12" src="/images/AdminIconImages/1407644478_office-building.png" />
            </td>
            <td class="auto-style7">
                <img alt="Floor 3" class="auto-style13" src="/images/AdminIconImages/development-sexes-floor-level-height-house-construction-512.png" />
            </td>
            <td>
                <table style="width:100%;">
                    <tr>
                        <td>@Html.ActionLink("Add", "addHouse")</td>

                    </tr>
                    <tr>
                        <td>@Html.ActionLink("View", "viewHouse")</td>

                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>