@{ 
    ViewBag.Title = "update House version 2";

    List<House> allHouseInfo = ViewBag.allHouseInfo;
    List<House> allHouse = ViewBag.allHouse;
    House house = ViewBag.allHouseInfo;
}
@*@{
    int index = 0;
    foreach (var houseDetail in allHouse)
    {
        {
            index++;
        }
        <div id="row_@index" class="form-group">
            <div class="col-sm-6">
                <input id="item_name_@index" value="@houseDetail.Id" name="" type="text" class="form-control order-item">
            </div>
            <div class="col-sm-1">
                <input id="item_qty_@index" value="@houseDetail.HouseName" type="text" class="form-control order-item-qty">
            </div>
            <div class="col-sm-2">
                <input id="item_unit_price_@index" value="@houseDetail.Description" type="text" class="form-control order-item-price">
            </div>
            
            <span class="btn btn-danger btn-xs" onclick="deleteItem(@index)"><i class="fa fa-times"></i></span>
            <input type="hidden" id="item_id_@index" value="@houseDetail.Id" name="" />
        </div>
        }
    }*@
@*<div id="content">
    <table class="table">
        <thead>
            <tr>
                <th>Update House</th>
            </tr>
        </thead>
        <tbody id="housetablebody"></tbody>
    </table>

    @using (Html.BeginForm("updateHouse2", "Admin", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
       
    }
                 <label>ID</label>
                <input class="form-control" name="Id" id="Id" value="@house.Id" />
             

                <label>House Name</label>
                <input class="form-control" name="HouseName" id="HouseName" value="@house.HouseName" />
                <label>Description</label>
                <input class="form-control" name="Description" id="Description" value="@house.Description" />

                <input type="reset" class="btn btn-default" value="Reset" />
                <input type="submit" class="btn btn-success" value="Update" id="btnsubmit" />

    }
    }
</div>*@

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">Update House</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post">
                <div class="table-responsive">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">House Id</label>
                        <div class="col-sm-9">
                            <input type="email" readonly="readonly" class="form-control" id="title" value="@house.Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Căn hộ</label>
                        <div class="col-sm-9">
                            <input type="email" readonly="readonly" class="form-control" id="houseName" value="@house.HouseName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Nội dung</label>
                        <div class="col-sm-9">
                            <input type="email" readonly="readonly" class="form-control" id="description" value="@house.Description">
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <input hidden="hidden" id="hiddenId" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Trở Về</button>
                        @*<button type="submit" onclick="updateRequest(hiddenId.value, status.value)" class="btn btn-primary">Cập Nhật</button>*@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
