@{
    List<HelpdeskService> helpdeskServices = ViewBag.helpdeskServices;
}

@{
    if (helpdeskServices == null || helpdeskServices.Count == 0)
    {
        <tr><td style="font-weight: 600">Không có dữ liệu !</td></tr>
    }
    else
    {
        var i = 1;
        foreach (var hdSrv in helpdeskServices)
        {
            <tr id="@("row_" +hdSrv.Id)">
                <td>@(i++)</td>
                <td>
                    @hdSrv.Name
                </td>
                <td>
                    @hdSrv.HelpdeskServiceCategory.Name
                </td>
                <td>
                    @(hdSrv.Price == 0 ? "Miễn phí" : hdSrv.Price.ToString())
                </td>
                <td>
                    @if (hdSrv.Status == 0)
                    {
                        <span class="label label-default">Ngưng hổ trợ</span>
                    }
                    else
                    {
                        <span class="label label-info">Đang hổ trợ</span>
                    }

                </td>
                <td class="text-right">
                    <span onclick="helpdeskServiceDetail(@hdSrv.Id)" class="btn btn-default btn-xs">
                        <i class="fa fa-pencil"></i>
                    </span>
                    <span href="#" class="btn btn-danger btn-xs" onclick="deleteHelpdeskService(@hdSrv.Id)">
                        <i class="fa fa-times"></i>
                    </span>
                </td>
            </tr>
        }
    }
}

