@{
    ViewBag.Title = "Nhà";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    User curUser = ViewBag.curUser;
    House curHouse = ViewBag.curHouse;
    List<User> members = ViewBag.members;
}
<div class="container-fluid">
    <div class="cover overlay" style="position:relative">
        <img src="~/Content/images/familycover.jpg" alt="cover">
        <a href="#" class="btn btn-cover"><i class="fa fa-pencil fa-fw"></i></a>
      
    </div>
    <div style="width:120px;height:120px;background-color:red;position:absolute;margin-top:-120px;text-align:center">
        <img src="@(curHouse.ProfileImage==null||curHouse.ProfileImage.Equals("")?"/Content/images/home_default.jpg":curHouse.ProfileImage)" style="width:auto;height:100%"/>
        <h2>@curHouse.HouseName</h2>
    </div>
</div>

<div class="panel panel-default" style="margin-top:60px">
    <div class="panel-heading panel-heading-gray">Thành viên trong nhà @curHouse.HouseName</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="timeline row" data-toggle="gridalicious">
                @{
                    foreach (User u in members)
                    {
                        <div class="timeline-block">
                            <div class="panel panel-default user-box">
                                <div class="panel-body">
                                    <div class="media">
                                        <div style="width:100px">
                                            @{
                                                if (@u.ProfileImage != null && !@u.ProfileImage.Equals(""))
                                                {
                                                    <img src="@u.ProfileImage" style="width:100px !important" alt="People" class="media-object img-circle pull-left" />

                                                }
                                                else
                                                {
                                                    <img src="~/Content/images/defaultProfile.png" style="width:100px !important" alt="People" class="media-object img-circle pull-left" />

                                                }
                                            }
                                        </div>
                                        <div class="media-body">
                                            <a href="" class="username">@u.Fullname (@u.Username)</a>
                                            <div class="profile-icons">
                                                <span>
                                                    <i class="fa fa-users"></i>@{
                                                        if (u.Id == curHouse.OwnerID)
                                                        {
                                                            <span> Chủ nhà</span>
                                                        }
                                                        else
                                                        {
                                                            <span> Thành viên</span>
                                                        }
                                                    }
                                                </span>
                                            </div>
                                            <div class="profile-icons">
                                                <span>
                                                    @{
                                                        if (u.IsApproved == SLIM_CONFIG.USER_APPROVE_WAITING)
                                                        {
                                                            <i class="fa fa-fw fa-warning" style="color:chocolate"></i>
                                                                <span style="color:chocolate"> Đang đợi duyệt</span>
                                                        }

                                                    }
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   }
                }

            </div>
        </form>
    </div>
</div>
   
<div class="container-fluid">
    <div class="row">
        <h3 style="margin-left:60px">Bài viết</h3>
        <div class="col-md-9">
            <ul class="timeline-list" id="timeline"></ul>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addEmbedModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mã nhúng</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" id="embedCode" placeholder="Copy và paste đoạn mã nhúng của bạn vào đây" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveEmbedCode()">Lưu lại</button>
            </div>
        </div>

    </div>
</div>



<script>
    var listUploadImage = [];
    function addImage() {
        $("#uploadEditorImage").click();

    }
    function saveEmbedCode() {
        alert("saveEmbedCode");
        var embedContent = $("#embedCode").val();
        $("#previewContent").html(embedContent);
    }
    function createNewPost() {
        alert('createNewPost');
        $.ajax({
            url: "/Post/Create",
            type: "POST",
            datatype: 'json',
            data: {
                images: listUploadImage,
                content: $("#postContent").val(),
                embeded: $("#embedCode").val(),

            },

            success: function (successData) {
                if (successData == 'success') {
                    clearCreatePostForm();
                    reloadFeed();
                }
            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });

    }

    $("#uploadEditorImage").change(function () {
        var data = new FormData();
        data.append("dir","@SLIM_CONFIG.dirPostImage");
        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

       // progessBar(true);
        $.ajax({
            url: "/Image/Upload/",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,

            success: function (successData) {
                addImageToPreviewList(successData,listUploadImage.length);
                listUploadImage[listUploadImage.length] = successData;
               // progessBar(false);

            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });
    });
    $(document).ready(function () {
        loadAllPost();

    });

    function loadAllPost() {
        $.ajax({
            url: "/Post/getPost",
            type: "GET",
            datatype: 'json',
            data: {
                idToken: -1,
                houseId: @curHouse.Id
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $.each(obj, function (index, jsonObject) {
                    addPostToTimeline(index, jsonObject);
                    getImagesForPost(index, jsonObject["Id"]);
                    getUserProfileForPost(index, jsonObject["Id"]);
                });
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function getUserProfileForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getUserForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
               // alert(successData)
                var obj = JSON.parse(successData);
                if (obj['ProfileImage'] === null) {
                    $('#userImagePost' + id).attr("src", "/Content/images/defaultProfile.png");
                } else {
                    $('#userImagePost' + id).attr("src", obj["ProfileImage"]);

                }
                $('#userNamePost' + id).html(obj["Username"])
            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addPostToTimeline(index, postObject) {
        $("#timeline").append('<li class="media">'
                       +'<div class="pull-left">'
                            + '<img id="userImagePost' + postObject['Id'] + '" src="images/people/110/woman-5.jpg" alt="people" class="img-circle" width="80">'
                            +'<div id="userNamePost'+postObject['Id']+'" class="date">3 MAY</div>'
                        +'</div>'
                        +'<div class="media-body">'
                            +'<div class="panel panel-default">'
                                +'<div class="panel-body" >'
                                    +'<p>'+postObject['Body']+'</p>'
                                    +'<div class="row" id="imagesPost'+postObject['Id'] +'" style="height:auto">'
                                    +'</div>'
                                    + '<div class="row" style="height:auto;">'
                                    + postObject['EmbedCode']
                                    +'</div>'
                                +'</div>'
                                +'<div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>'
                                +'<ul class="comments">'
                                    +'<li>'
                                        +'<div class="media">'
                                            +'<a href="" class="pull-left">'
                                                +'<img  src="/images/people/50/woman-5.jpg" class="media-object">'
                                            +'</a>'
                                            +'<div class="media-body">'
                                                +'<a href="" class="comment-author">Mary</a>'
                                                +'<span>Thanks Bill</span>'
                                                +'<div class="comment-date">2 days</div>'
                                            +'</div>'
                                        +'</div>'
                                    +'</li>'
                                    +'<li>'
                                        +'<div class="media">'
                                            +'<a href="" class="pull-left">'
                                                +'<img src="/images/people/50/guy-5.jpg" class="media-object">'
                                            +'</a>'
                                            +'<div class="media-body">'
                                                +'<a href="" class="comment-author">Bill D.</a>'
                                                +'<span>What time did it finish?</span>'
                                                +'<div class="comment-date">14 min</div>'
                                            +'</div>'
                                        +'</div>'
                                    +'</li>'
                                    +'<li class="comment-form">'
                                        +'<div class="input-group">'
                                            + '<input type="text" class="form-control">'
                                            +'<span class="input-group-addon">'
                                                +'<a href=""><i class="fa fa-photo"></i></a>'
                                            +'</span>'
                                        +'</div>'
                                    +'</li>'
                                +'</ul>'
                            +'</div>'
                        +'</div>'
                    +'</li>')
    }


    function getImagesForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getImagesForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $.each(obj, function (index, image) {
                    addImageToPost(image['url'],id)
                });
            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addImageToPost(imageUrl, postId) {
        $("#imagesPost" + postId).append('<img src="'+imageUrl+'" style="width:30%;height:auto;margin-right:5px">')
    }

    function addImageToPreviewList(dir,position) {
        $("#previewList").prepend('<div id="previewImage'+position+'" style="height:100px;width:100px;float:left;position:relative"><img onclick="removePreview('+position+')" src="/Content/images/delete.png" style="position:absolute;top:0px;right:0px;width:20px;height:20px"/><img src="'+dir+'" style="max-width:100%;max-height:100%"/></div>')
    }
    function removePreview(position) {
        $('#previewImage' + position + '').hide();
        listUploadImage[position] = "";

    }
    function reloadFeed() {
        //clear all feed
        $("#timeline").html("");
        loadAllPost();
    }
    function clearCreatePostForm() {
        var embedContent = "";
        $("#previewContent").html(embedContent);
        listUploadImage = [];
        $("#previewList").html('');
        $("#postContent").val('');
    }
</script>