@{
    ViewBag.Title = "Nhà";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    User curUser = ViewBag.curUser;
    House curHouse = ViewBag.curHouse;
    List<User> members = ViewBag.members;
}

<link rel="stylesheet" href="~/Content/css/FamilyTree.css" type="text/css" />
<script src="~/Scripts/amsScript/LoadFamilyTree.js"></script>
<script src="~/Scripts/amsScript/LoadUserProfile.js"></script>

<style>
    /*AnLTNM change*/
    textarea {
        width: 100% !important;
        min-width: 0;
    }

    ul.timeline-list li.media > .media-body .panel {
        min-width: 0px;
        width: 100%;
    }

    .panel.panel-default ul.comments {
        width: 100%;
        margin-left: 0;
    }

    .panel-footer {
        padding: 10px 15px !important;
    }

    .avatar-comment {
        border-radius: 30px;
        height: 34px;
    }

    .input-cmnt {
        width: 100%;
        padding-right: 35px;
    }
    /*AnLTNM change*/
</style>
<div class="container-fluid">
    <div class="cover overlay" style="position:relative">
        <img src="~/Content/images/familycover.jpg" alt="cover">

    </div>
    <div style="height:120px;position:absolute;margin-top:-120px;text-align:center">
        <img src="@(curHouse.ProfileImage==null||curHouse.ProfileImage.Equals("")?"/Content/images/home_default.jpg":curHouse.ProfileImage)" style="width:auto;height:100%;border-bottom-left-radius: 30px;border-top-right-radius: 30px;" />
        <h2 style="color: white;background-color: #25AD9F;border-radius: 30px;">@curHouse.HouseName</h2>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="panel panel-default" style="margin-top:60px">
                <div class="panel-heading panel-heading-gray"><h4>Thành viên trong nhà @curHouse.HouseName</h4></div>
                <div class="panel-body" id="memberPanelBody">
                    <div class="row" style="text-align:center">
                        <a href="/House/@curHouse.Id" class="familymember">
                            <div style="width:100px;height:120px;float:left">
                                <img src="@(curHouse.ProfileImage==null||curHouse.ProfileImage.Equals("")?"/Content/Images/home_default.jpg":curHouse.ProfileImage)" style="width:100%;">
                                <div style="margin-top: 5px; font-size: small;font-weight: 700;background-color: aliceblue;">
                                    @curHouse.HouseName
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <h3 style="margin-left:60px">Bài viết</h3>
        <div class="col-md-9">
            <ul class="timeline-list" id="timeline"></ul>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        loadAllMember("tree","@curHouse.Id");
    });

    function addImage() {
        $("#uploadEditorImage").click();

    }
    function saveEmbedCode() {
        alert("saveEmbedCode");
        var embedContent = $("#embedCode").val();
        $("#previewContent").html(embedContent);
    }
    function createNewPost() {
        alert('createNewPost');
        $.ajax({
            url: "/Post/Create",
            type: "POST",
            datatype: 'json',
            data: {
                images: listUploadImage,
                content: $("#postContent").val(),
                embeded: $("#embedCode").val(),

            },

            success: function (successData) {
                if (successData == 'success') {
                    clearCreatePostForm();
                    reloadFeed();
                }
            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });

    }

    $("#uploadEditorImage").change(function () {
        var data = new FormData();

        data.append("dir", "@SLIM_CONFIG.dirPostImage");

        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        // progessBar(true);
        $.ajax({
            url: "/Image/Upload/",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,

            success: function (successData) {
                addImageToPreviewList(successData, listUploadImage.length);
                listUploadImage[listUploadImage.length] = successData;
                // progessBar(false);

            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });
    });
    $(document).ready(function () {
        loadAllPost();

    });

    function loadAllPost() {
        $.ajax({
            url: "/Post/getPost",
            type: "GET",
            datatype: 'json',
            data: {
                idToken: -1,
                houseId: @curHouse.Id,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $.each(obj, function (index, jsonObject) {
                    addPostToTimeline(index, jsonObject);
                    getImagesForPost(index, jsonObject["Id"]);
                    // getUserProfileForPost(index, jsonObject["Id"]);
                    getCommentsForPost(jsonObject["Id"]);

                });
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function getUserProfileForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getUserForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
                // alert(successData)
                var obj = JSON.parse(successData);
                if (obj['ProfileImage'] === null) {
                    $('#userImagePost' + id).attr("src", "/Content/images/defaultProfile.png");
                } else {
                    $('#userImagePost' + id).attr("src", obj["ProfileImage"]);

                }
                $('#userNamePost' + id).html(obj["Username"])
                $('#userHrefPost' + id).attr("href", "/Profile/" + obj["Id"])

                $('#userLoadProfilePost' + id).attr("onclick", "LoadUserProfile(" + obj["Id"] + ",true)")

            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addPostToTimeline(index, postObject) {
        $("#timeline").append('<li class="media">'


                       + '<div class="pull-left" id="userLoadProfilePost' + postObject['Id'] + '" onclick="LoadUserProfile(' + postObject['UserId'] + ',true)">'


                            + '<img id="userImagePost' + postObject['Id'] + '" src="' + postObject['userProfile'] + '" alt="people" class="img-circle" width="80" height="80">'
                            + '<div id="userNamePost' + postObject['Id'] + '" class="date">' + postObject['username'] + '</div>'

                        + '</div>'

                        + '<div class="media-body">'
                            + '<div class="panel panel-default">'
                                + '<div class="panel-body" >'
                                    + '<div href="" class="btn btn-white btn-xs pull-right" onclick="report(' + postObject['Id'] + ')"><i class="fa fa-fw fa-warning"></i></div>'
                                    + '<p>' + postObject['Body'] + '</p>'
                                    + '<div class="form-group" id="imagesPost' + postObject['Id'] + '" style="height:auto">'
                                    + '</div>'
                                    + '<div class="row" style="height:auto;">'
                                    + postObject['EmbedCode']
                                    + '</div>'
                                + '</div>'
                                + '<div class="view-all-comments" id="countComment' + postObject['Id'] + '"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>'
                                + '<ul class="comments" id="commentsArea' + postObject['Id'] + '">'

                                + '</ul>'
                                + '<ul class="comments">'
                                 + '<li class="comment-form">'
                                         + '<div class="input-group" style="width: 100%;">'
                                        + '<a href="javascript:void(0)" onclick="LoadUserProfile(2,true)" class="pull-left"><img src="@(curUser.ProfileImage == null ? "/Content/images/defaultProfile.png" : curUser.ProfileImage)" class="media-object avatar-comment"></a>'
                                        + '<div class="media-body" style="padding-left: 10px;">' +
                                            '<input id="contentDetail' + postObject['Id'] + '" type="text" class="form-control input-cmnt" placeholder="Viết bình luận của bạn..."/>' +
                                             '<i class="fa fa-fw fa-chevron-circle-right " onclick="addComment(' + postObject['Id'] + ')" style="font-size: xx-large;color: #25AD9F;position: absolute;top: 2px;right: 0px;transition: right 0.2s; z-index:50000"></i>' +
                                        '</div>'
                                    + '</li>'
                                + '</ul>'
                            + '</div>'
                        + '</div>'
                    + '</li>'
 )

    }

    function addComment(postId) {
        $.ajax({
            url: "/Post/CreateComment",
            type: "POST",
            data: {
                detail: $("#contentDetail" + postId).val(),
                postId: postId,
            },
            success: function (successData) {
                if (successData === 'success') {
                    $("#commentsArea" + postId).html("");
                    getCommentsForPost(postId)
                    $("#contentDetail" + postId).val("")
                } else {
                    alert(successData)
                }
            },
            error: function (er) {
                alert(er)
            }

        });
    }

    function getCommentsForPost(postid) {
        if (postid == null) {
            alert("postid == null");
            return;
        }
        $.ajax({
            url: "/Post/getCommentsForPost",
            type: "GET",
            data: {
                postId: postid,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                if (obj.length === 0) {
                    $("#countComment" + postid).html("Chưa có bình luận nào");
                } else {
                    $("#countComment" + postid).html(obj.length + " bình luận");
                }
                $.each(obj, function (index, comment) {
                    addCommentToCommentArea(postid, comment);
                });
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function addCommentToCommentArea(postId, comment) {
        $("#commentsArea" + postId).append('<li>'
                                        + '<div class="media">'
                                            + '<a href="" class="pull-left">'
                                                + '<img  src="' + comment['userProfile'] + '" class="media-object" style="width:50px">'
                                            + '</a>'
                                            + '<div class="media-body">'
                                                + '<a href="/Profile/' + comment['userId'] + '" class="comment-author">' + comment['username'] + ': </a>'
                                                + '<span>' + comment['detail'] + '</span>'
                                                + '<div class="comment-date">' + timeSince(comment['createdDate']) + ' trước </div>'
                                            + '</div>'
                                        + '</div>'

                                    + '</li>')

    }


    function timeSince(dateString) {

        var date = new Date(dateString);
        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = Math.floor(seconds / 31536000);

        if (interval >= 1) {
            return interval + " năm";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval >= 1) {
            return interval + " tháng";
        }
        interval = Math.floor(seconds / 86400);
        if (interval >= 1) {
            return interval + " ngày";
        }
        interval = Math.floor(seconds / 3600);
        if (interval >= 1) {
            return interval + " giờ";
        }
        interval = Math.floor(seconds / 60);
        if (interval >= 1) {
            return interval + " phút";
        }
        return Math.floor(seconds) + " giây";

    }



    function getImagesForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getImagesForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                var currentElement = {};
                var listElement = "";
                var isFirst = true;
                $.each(obj, function (index, image) {
                    if (isFirst) {
                        $("#imagesPost" + image.postId).html("");
                        currentElement = $("#imagesPost" + image.postId);
                        isFirst = false;
                        if (obj.length == 1) {
                            $("#imagesPost" + image.postId).removeClass("testetetet").addClass("one-col");
                            if (parseInt(image.width) >= parseInt(image.height)) {
                                listElement = listElement +
                                    '<div style="border:1px solid white"><img style="width:100%; height:auto" src="' +
                                    image.url +
                                    '" alt="The Last of us"></div>';
                            } else {
                                listElement = listElement +
                                    '<div style="border:1px solid white" ><img style="height:100% !important; width:auto !important "src="' +
                                    image.url +
                                    '" alt="The Last of us"></div>';
                            }
                            return;
                        } else {
                            $("#imagesPost" + image.postId).removeClass("one-col").addClass("testetetet");
                        }
                    }
                    if (parseInt(image.width) >= parseInt(image.height)) {
                        listElement = listElement + '<div style="border:1px solid white"><img style="width:100% !important; height:auto !important" src="' + image.url + '" ></div>';
                    } else {
                        listElement = listElement + '<div style="border:1px solid white" ><img style="width:100% !important; height:auto !important" src="' + image.url + '"></div>';
                    }

                });
                listElement = listElement + "</div>";
                currentElement.append(listElement);
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function addImageToPost(imageUrl, postId, width) {
        $("#imagesPost" + postId)
            .append('<img src="' + imageUrl + '" style="width:' + width + '%;height:auto;margin-right:5px">');

    }

    function addImageToPreviewList(dir, position) {
        $("#previewList").prepend('<div id="previewImage' + position + '" style="height:100px;width:100px;float:left;position:relative"><img onclick="removePreview(' + position + ')" src="/Content/images/delete.png" style="position:absolute;top:0px;right:0px;width:20px;height:20px"/><img src="' + dir + '" style="max-width:100%;max-height:100%"/></div>')
    }
    function removePreview(position) {
        $('#previewImage' + position + '').hide();
        listUploadImage[position] = "";

    }
    function reloadFeed() {
        //clear all feed
        $("#timeline").html("");
        loadAllPost();
    }
    function clearCreatePostForm() {
        var embedContent = "";
        $("#previewContent").html(embedContent);
        listUploadImage = [];
        $("#previewList").html('');
        $("#postContent").val('');
    }
    function report(id) {
        alert('Chức năng report (chưa xử lí)' + id);
    }
</script>