@{
    ViewBag.Title = "Nhà";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    User curUser = ViewBag.curUser;
    House curHouse = ViewBag.curHouse;
    List<User> members = ViewBag.members;
}

<link rel="stylesheet" href="~/Content/css/FamilyTree.css" type="text/css" />
<script src="~/Scripts/amsScript/LoadFamilyTree.js"></script>
<script src="~/Scripts/amsScript/LoadUserProfile.js"></script>
<style>
    .button {
        display: block;
        width: 100px;
        height: 35px;
        background: #4E9CAF;
        padding: 7px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99999;
        display: none;
        opacity: 1;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
    }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: #339999;
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }

    .panel-feed {
        width: 90%;
    }

    .comments {
        margin-left: 5%;
    }

    ul.timeline-list li.mediawithoutBorder:before {
        border-left: none;
    }
    /*AnLTNM change*/
    textarea {
        width: 100% !important;
        min-width: 0;
    }



    ul.timeline-list li.media > .media-body .panel.share {
        z-index: 1031;
    }

    .panel.panel-default ul.comments {
        width: 100%;
        margin-left: 0;
    }

    .panel-footer {
        padding: 10px 15px !important;
    }

    .avatar-comment {
        border-radius: 30px;
        height: 34px;
    }

    .input-cmnt {
        width: 100%;
        padding-right: 35px;
    }

    .new-post {
        bottom: 0%;
        transition: opacity .3s;
        background: #000;
        left: 0;
        opacity: 0.63;
        position: fixed;
        transition: opacity 0.3s, bottom 0s .3s;
        z-index: 1030;
        width: 100%;
        height: 100%;
        display: none;
    }

    .avartar-img {
        width: 50px;
        height: 50px;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
    }

    .preview-img {
        border: 1px solid #777777;
        max-width: 100%;
        max-height: 100%;
    }

    .post-heading {
        color: #1d2129;
        font-size: 12px;
        font-weight: bold;
        line-height: 19px;
        padding: 0 10px;
    }

        .post-heading:hover {
            color: #25ad9f;
            text-decoration: none;
        }

    .post-heading-icon {
        color: #25ad9f;
        font-size: 17px;
    }

    .house-name {
        float: right;
        border: solid 2px;
        border-radius: 4px;
        padding: 5px;
        border-color: #ced0d4;
        color: #333333;
        background-color: #f6f7f9;
        border-color: #ced0d4;
        color: #4b4f56;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .125);
        line-height: 12px;
    }

    .user-name {
        font-size: 17px;
        line-height: 1.38;
        color: #555555;
    }

    .icon-house {
        color: #25ad9f;
        font-size: 15px;
        margin-right: 5px;
    }

    p {
        font-size: 17px;
        font-weight: normal;
        line-height: 1.38;
    }

    .post-time {
        color: #999999;
        font-size: 14px;
        font-weight: normal;
    }


    ul.timeline-list li.media:before {
        position: static;
        display: inline;
        top: 0;
        content: '';
        height: initial;
        margin-left: 0;
        border-left: none;
        z-index: 0;
    }
    /*AnLTNM change*/
</style>
<div class="row" style="background: #00695C;margin-bottom: 30px;">

    @*    <div class="cover overlay" style="position: relative">*@
    @*        <img src="~/Content/images/familycover.jpg" alt="cover">*@
    @*    </div>*@

    @*    <div style="height: 120px; position: absolute; margin-top: -120px; text-align: center">*@
    @*        <img src="@(curHouse.ProfileImage == null || curHouse.ProfileImage.Equals("") ? "/Content/images/home_default.jpg" : curHouse.ProfileImage)" style="width: auto; height: 100%; border-bottom-left-radius: 30px; border-top-right-radius: 30px;"/>*@
    @*        <h2 style="color: white; background-color: #25AD9F; border-radius: 30px;">@curHouse.HouseName</h2>*@
    @*    </div>*@
    <div style="margin-top: -120px; text-align: center; position: relative; display: inline-block;margin-left: 25px;">
        <div class="border-img" style="width: 190px; height: 190px; background: #fff; float: left; border: 2px solid #fff;">
            <img src="@(curHouse.ProfileImage == null || curHouse.ProfileImage.Equals("") ? "/Content/images/home_default.jpg" : curHouse.ProfileImage)" style="width: auto; height: 100%;">
        </div>

        <div style="font-size: 26px; /* added *//* added */float: left;">
            <div style="position: absolute; bottom: 0; width: 100%;">
                <div class="border-img" style="border-radius: 4px; border: none; background: #fff; padding: 10px; margin-left: 10px; margin-bottom: 0; white-space: nowrap;">
                    <i class="fa fa-home" style="color: #009688;"></i>
                    <strong>@curHouse.HouseName</strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8" style="padding-left: 0;padding-right: 0">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
                <h4>Bài viết</h4>
            </div>
        </div>
        <ul class="timeline-list" id="timeline"></ul>
    </div>
    <div class="col-md-4" style="text-align: center">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-gray">
                <h4>Thành viên trong nhà</h4>
            </div>
            <div class="panel-body" id="memberPanelBodyHousePage">
                <div class="row" style="position: relative;">
                    <div class="house-roof">
                        <span style="line-height: 140px;">Nhà</span>@*Must be has text in this tag*@
                    </div>
                    <div class="abs-centering">
                        <a id="usrInfoUrlToFamily" class="link-cursor" href="/House/@curHouse.Id">
                            <img id="usrInfoHouseImg" class="img-border" onerror="this.src = '/Content/images/home_default.jpg';" src="@(curHouse.ProfileImage == null ? "/Content/images/home_default.jpg" : curHouse.ProfileImage)" style="height: 90px; border: 2px solid #bf360c;">
                            <div>
                                <span id="usrInfoHouseName" class="house-title">@curHouse.HouseName</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container-fluid">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8" style="text-align: center">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-gray"><h4>Thành viên trong nhà @curHouse.HouseName</h4></div>
                    <div class="panel-body" id="memberPanelBody">
                        <div class="row" style="position: relative;">
                            <div class="house-roof">
                                <span style="line-height: 140px;">Nhà</span>$1$Must be has text in this tag#1#
                            </div>
                            <div class="abs-centering">
                                <a id="usrInfoUrlToFamily" class="link-cursor" href="/House/@curHouse.Id">
                                    <img id="usrInfoHouseImg" class="img-border" onerror="this.src = '/Content/images/home_default.jpg';" src="@(curHouse.ProfileImage == null ? "/Content/images/home_default.jpg" : curHouse.ProfileImage)" style="height: 90px; border: 2px solid #bf360c;">
                                    <div>
                                        <span id="usrInfoHouseName" class="house-title">@curHouse.HouseName</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h3 style="margin-left:15%">Bài viết</h3>
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <ul class="timeline-list" id="timeline"></ul>
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>*@

<script>
    var curTokenId = -1;
    $(document).ready(function () {
        setTimeout(function () {
            $('.left-nav')
                .affix({
                    offset: {
                        top: function () {
                            console.log("call this funtion");
                            return 370;
                        },
                        bottom: 10
                    }
                });
        }, 100);

        $('.modalDialog').fadeIn();

        $('.close').on('click', function (event) {
            event.preventDefault();
            /* Act on the event */

            $('.modalDialog').fadeOut();

        });
        $("#postStatusArea").on("click", function (e) {
            onFocusPost();
        });
        $("#userAvatar").on("click", function (e) {
            e.stopPropagation();
            LoadUserProfile($(this).data("userId"));
        });
    });

    $('#loadMoreBtn').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        loadMore();

    });

    var listUploadImage = [];
    function loadMore() {
        console.log("loadMore");
        loadAllPost(curTokenId);
    }
    function addImage() {
        $("#uploadEditorImage").click();
        onFocusPost();
    }
    function saveEmbedCode() {
        // alert("saveEmbedCode");
        var embedContent = $("#embedCode").val();
        $("#previewContent").html(embedContent);
    }
    function createNewPost() {
        //alert('createNewPost');
        $.ajax({
            url: "/Post/Create",
            type: "POST",
            datatype: 'json',
            data: {
                images: listUploadImage,
                content: $("#postContent").val(),
                embeded: $("#embedCode").val(),

            },

            success: function (successData) {
                if (successData == 'success') {
                    clearCreatePostForm();
                    reloadFeed();
                }
            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });

    }

    $("#uploadEditorImage").change(function () {
        var data = new FormData();

        data.append("dir", "@SLIM_CONFIG.dirPostImage");

        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        // progessBar(true);
        $.ajax({
            url: "/Image/Upload/",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,

            success: function (successData) {
                addImageToPreviewList(successData, listUploadImage.length);
                listUploadImage[listUploadImage.length] = successData;
                // progessBar(false);

            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });
    });
    $(document).ready(function () {
        loadAllPost(-1);
        loadAllMember("tree", '@curHouse.Id', "memberPanelBodyHousePage", true);

        $("#userInforModal").on("hidden.bs.modal", function () {
            $("#memberPanelBody").children().not("div.row:first").remove();
            $("#recentActivity li").remove();
            $("#userInfoTabHeader li:first a").click();
        });
    });

    function loadAllPost(idToken) {
        $.ajax({
            url: "/Post/getPost",
            type: "GET",
            datatype: 'json',
            data: {
                idToken: idToken,
            },
            success: function (successData) {
                console.log("GetPostData: " + successData);
                var obj = JSON.parse(successData);
                $.each(obj, function (index, jsonObject) {
                    addPostToTimeline(index, jsonObject);
                    getImagesForPost(index, jsonObject["Id"]);
                    getCommentsForPost(jsonObject["Id"]);
                    curTokenId = jsonObject["Id"];

                });
                $("#loadMoreBtn").button('reset');

            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function getUserProfileForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getUserForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
                // alert(successData)
                var obj = JSON.parse(successData);
                if (obj['ProfileImage'] === null) {
                    $('#userImagePost' + id).attr("src", "/Content/images/defaultProfile.png");
                } else {
                    $('#userImagePost' + id).attr("src", obj["ProfileImage"]);
                }
                $('#userNamePost' + id).html(obj["Username"]);
                $('#userHrefPost' + id).attr("href", "/Profile/" + obj["Id"]);
                $('#userLoadProfilePost' + id).attr("onclick", "LoadUserProfile(" + obj["Id"] + ",true)");
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function addPostToTimeline(index, postObject) {
        var reportDiv = "";
        if (postObject['UserId'] != '@curUser.Id') {
            reportDiv = '<div style="position: absolute;right: 0;width: 30px;">' +
              '<div style="position: relative;width: 100%;text-align: center;margin-top: 5px;">' +
              '<div class="link-cursor" style="color:#000000" onclick="report(' + postObject['Id'] + ')"><i class="fa fa-fw fa-warning"></i></div>' +
                       '</div>' +
                       '</div>';
        }
        var header = '<div class="panel-heading clearfix user-post" style="background-color: transparent;">' +
                '<div class="form-group" style="margin-bottom:0">' +
                    '<div style="display: flex">' +
                        '<div class="pull-left" id="userLoadProfilePost' + postObject['Id'] + '" onclick="LoadUserProfile(' + postObject['UserId'] + ')" style="margin-right: 10px">' +
                            '<img id="userImagePost' + postObject['Id'] + '" src="' + postObject['userProfile'] + '" onerror="this.src=\'/Content/Images/defaultProfile.png\';" class="avartar-img link-cursor">' +
                        '</div>' +
                        '<div style="flex: 1; width: 0;padding-right: 40px;">' +
                            '<h3 class="" style="margin-top: 0;margin-bottom: 0;">' +
                                '<strong>' +
                                '   <a class="text-capitalize" onclick="LoadUserProfile(' + postObject['UserId'] + ',true)" user-name link-cursor" id="userNamePost' + postObject['Id'] + '">' + postObject['userFullName'] + '</a>' +
                                '</strong>' +
                                '<strong class="house-name"> ' +
                                    '<span style="font-size: 17px;">' +
                                        '<i class="fa fa-home icon-house"></i>' +
                                            postObject['houseName'] +
                                    '</span>' +
                                '</strong>' +
                            '</h3>' +
                            '<h3 class="" style="margin-top: 0;margin-bottom: 0;">' +
            '                   <strong>' +
                                    '<span class="post-time">' +
                                        '<i class="fa fa-globe icon-house"></i> ' +
                                        timeSince(postObject['CreateDate']) +
                                    '</span>' +
                                '</strong>' +
                            '</h3>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>';
        $("#timeline").append('<li class="media">'
                       /*+ '<div class="pull-left" id="userLoadProfilePost' + postObject['Id'] + '" onclick="LoadUserProfile(' + postObject['UserId'] + ',true)">'
                            + '<img id="userImagePost' + postObject['Id'] + '" src="' + postObject['userProfile'] + '" alt="people" class="img-circle" width="80" height="80">'
                            + '<div id="userNamePost' + postObject['Id'] + '" class="date">' + postObject['userFullName'] + '</div>'

                        + '</div>'*/

                        + '<div class="media-body">'
                            + '<div class="panel panel-default panel-feed">' + header
                                + '<div class="panel-body" >'
                                    + '<pid="postBody' + postObject['Id'] + '">' + postObject['Body'] + '</p>'
                                    + '<section class="form-group testetetet" id="imagesPost' + postObject['Id'] + '" style="height:auto">'
                                    + '</section>'
                                    + '<div class="row embed-row" style="height:auto;">'
                                    + getYoutubeFrameFromText(postObject['EmbedCode'])
                                    + '</div>'
                                + '</div>'
                                + '<div class="view-all-comments" style="height: 25px;">' +
                                    '<div id="countComment' + postObject['Id'] + '" style="float: left;"><i style="color: #546E7A;"class="fa fa-comments-o"></i><i class="hide"> Chưa có bình luận</i> <span></span><strong> / </strong><span></span> <span> bình luận</span></div>' +
                                    '<div class="hide" id="loadMoreComment' + postObject['Id'] + '" style="float: right;"><a onclick="loadMorePost(' + postObject['Id'] + ')"><i class="fa fa-refresh"></i> Tải bình luận trước đó </a></div>' +
                                '</div>'

                                + '<ul class="comments" id="commentsArea' + postObject['Id'] + '">'
                                + '</ul>'

                                + '<div class="view-all-comments" style="height: 25px; text-align:center">' +
                                    '<div class=""><a onclick="getNewCommentsForPost(' + postObject['Id'] + ')"><i class="fa fa-refresh"></i> Tải mới </a></div>' +
                                '</div>'

                                + '<ul class="comments">'
                                 + '<li class="comment-form">'
                                        + '<div class="input-group" style="width: 100%;">'
                                        + '<a onclick="LoadUserProfile(\'' + @(curUser.Id) + '\')" class="pull-left link-cursor"><img src="@(curUser.ProfileImage == null ? "/Content/images/defaultProfile.png" : curUser.ProfileImage)" class="media-object avatar-comment link-cursor"></a>'
                                        + '<div class="media-body" style="padding-left: 10px;">' +
                                            '<input id="contentDetail' + postObject['Id'] + '" type="text" class="form-control input-cmnt" placeholder="Viết bình luận của bạn..."/>' +
                                             '<i class="fa fa-fw fa-chevron-circle-right " onclick="addComment(' + postObject['Id'] + ')" style="font-size: xx-large;color: #25AD9F;position: absolute;top: 2px;right: 0px;transition: right 0.2s; z-index:100"></i>' +
                                        '</div>'
            + '</div>'
            + '</li>'
            + '</ul>'
            + '</div>'
             + reportDiv
            + '</div>'
            + '</li>'
        );

    }

    //    function addCommentToCommentArea(postId, comment) {
    //        $("#commentsArea" + postId).append('<li>'
    //            + '<div class="media">'
    //                + '<a onclick ="LoadUserProfile(' + comment["userId"] + ',true)"  class="pull-left link-cursor">'
    //                    + '<img  src="' + comment['userProfile'] + '" onerror="this.src=\'/Content/Images/defaultProfile.png\';" class="media-object avartar-img link-cursor">'
    //                + '</a>'
    //                    + '<div class="media-body">'
    //                        + '<a onclick ="LoadUserProfile(' + comment["userId"] + ',true)" class="comment-author link-cursor">' + comment['fullName'] + ': </a>'
    //                        + '<span>' + comment['detail'] + '</span>'
    //                        + '<div class="comment-date">' + timeSince(comment['createdDate']) + ' trước </div>'
    //                    + '</div>'
    //            + '</div>'
    //        + '</li>');
    //
    //    }

    function getImagesForPost(index, id) {
        appenImageToPost(index, id);
    }
    function addImageToPost(imageUrl, postId, width) {
        $("#imagesPost" + postId)
            .append('<img src="' + imageUrl + '" style="width:' + width + '%;height:auto;margin-right:5px">');

    }

    function addImageToPreviewList(dir, position) {
        //        $("#previewList").prepend('<div id="previewImage' + position + '" style="height:100px;width:100px;float:left;position:relative;margin: 0px 5px;"><img onclick="removePreview(' + position + ')" src="/Content/images/delete.png" style="position:absolute;top:0px;right:0px;width:20px;height:20px"/><img src="' + dir + '" style="max-width:100%;max-height:100%"/></div>')
        $("#previewList")
            .prepend('<div id="previewImage' +
                position +
                '" style="height:100px;width:auto;float:left;position:relative;margin:5px;border: 1px solid #e5e5e5;"><img onclick="removePreview(' +
                position +
                ')" src="/Content/images/delete.png" style="position:absolute;top:5px;right:5px;width:20px;height:20px"/><img src="' +
                dir +
                '" class="preview-img"/></div>');
    }
    function removePreview(position) {
        $('#previewImage' + position + '').hide();
        listUploadImage[position] = "";

    }
    function reloadFeed() {
        //clear all feed
        $("#timeline").html("");
        loadAllPost();
    }
    function clearCreatePostForm() {
        var embedContent = "";
        $("#previewContent").html(embedContent);
        listUploadImage = [];
        $("#previewList").html('');
        $("#postContent").val('');
    }
    function report(id) {
        $("#reportPostId").val(id);
        $("#reportContent").val("");
        $("#reportModal").modal();
    }
    function processSendReport() {;
        var postId = $("#reportPostId").val();
        var reportContent = $("#reportContent").val();
        console.log("processSendReport: postid=" + postId + "reportContent=" + reportContent);
        sendReport(postId, reportContent);
    }
    function deleteNotification(noticChangedId) {
        console.log('deleteNotification' + noticChangedId);
        $.ajax({
            url: "/Home/deleteNotification",
            type: "POST",
            data: {
                data: noticChangedId,
                type: "@SLIM_CONFIG.NOTIC_DELETE_TYPE_CHANGEID",
            },
            success: function (successData) {
                //alert(successData);
                $("#notification" + noticChangedId).hide('slow', function () { $("#notification11").remove(); });
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function onFocusPost() {
        $("#addNewPost").css("display", "block");
    }
    function onBlurPost() {
        $("#addNewPost").css("display", "none");
    }
    function textAreaAdjust(o) {
        o.style.height = "1px";
        o.style.height = (25 + o.scrollHeight) + "px";
    }
</script>