@using Microsoft.AspNet.Identity
@using AMS.Service
@{
    UserService userService = new UserService();
    Layout = "~/Views/Shared/_Layout.cshtml";
    House curHouse = userService.findById(int.Parse(User.Identity.GetUserId())).House;
    User curUser = userService.findById(int.Parse(User.Identity.GetUserId()));
    String url = HttpContext.Current.Request.Url.AbsolutePath;
    bool isResidentOrHouseOwner = curUser.RoleId == SLIM_CONFIG.USER_ROLE_RESIDENT || curUser.RoleId == SLIM_CONFIG.USER_ROLE_HOUSEHOLDER;
}
<link rel="stylesheet" href="~/Content/css/lightgallery.min.css" type="text/css" />

<style>
    .style_prevu_kit {
        display: inline-block;
        border: 0;
        position: relative;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
    }

    .style_prevu_kit:hover {
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.5);
        transition: all 200ms ease-in;
        transform: scale(1.5);
    }
</style>



@if (isResidentOrHouseOwner)
{

    <div class="col-md-3">
        <div class="row sidebar left hidden-xs left-nav" style="width: 100%; bottom: inherit; left: inherit; position: relative;top: inherit;">
            <div class="sidebar-block" style="margin: auto; width: 100%;">
                <a href="@(curHouse == null ? "#" : ("/House/" + curHouse.Id))" style="width: 100%">
                    <div class="profile">
                        <img src="@(curHouse == null || curHouse.ProfileImage == null || curHouse.ProfileImage.Equals("") ? "/Content/images/home_default.jpg" : curHouse.ProfileImage)" alt="HOUSE" class="img-circle" width="100px">
                        <h4>Nhà @(curHouse == null || curHouse.HouseName.Equals("") ? "chưa xác định" : curHouse.HouseName)</h4>
                    </div>
                </a>
            </div>
            <div id="menu">
                <ul id="slide-left" class="slide-left-active">
                    <li class="category">Tiện ích</li>
                    <li class="@(url.Contains("/Home/Setting") ? "active" : "")">
                        <a href="/Home/Setting"><i class="fa fa-fw fa-cogs"></i> Thiết lập căn hộ</a>
                    </li>
                    <li class="@(url.Contains("/Home/ManageReceipt/View") ? "active" : "")">
                        <a href="/Home/ManageReceipt/View"><i class="fa fa-fw fa-money"></i> Hóa đơn</a>
                    </li>
                    <li class="@(url.Contains("/Home") ? "active" : "")">

                    </li>
                    <li class="@(url.Contains("/Home/HelpdeskRequest/ViewHistory") ? "active" : "")">
                        <a href="/Home/HelpdeskRequest/ViewHistory"><i class="fa fa-fw fa-stumbleupon-circle"></i> Yêu cầu sửa chữa</a>
                    </li>
                    <li class="@(url.Contains("BalanceSheet") ? "active" : "")">
                        <a href="/Management/BalanceSheet/View"><i class="fa fa-fw fa-dollar"></i> Tài chính tòa nhà</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
}
<div id="content" class="content col-md-9" style="margin-left:0; @(isResidentOrHouseOwner == true ? "" : "margin-left: 16.66666667%;")">

    @RenderBody()
    <!--Footer-->
    <div class="footer">
        Social Network Template © Copyright Notice
    </div>
    <div id="messageModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 id="hdSrvMsgModalTitle" class="modal-title">Thông Báo !</h4>
                </div>
                <div class="modal-body">
                    <p id="msgContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="userInforModal" class="modal fade ams-modal" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 700px">
            <div class="modal-content">
                <div style="position: relative; padding: 0;">
                    <div>
                        <div class="heading-tab">
                            <ul id="userInfoTabHeader" class="nav nav-tabs pull-right" role="tablist">
                                <li class="active">
                                    <a href="#userInfoTab" role="tab" data-toggle="tab" style="color: #21988c"><i style="color: #21988c" class="fa fa-info-circle"></i> Thông tin cá nhân</a>
                                </li>
                                <li>
                                    <a href="#userRecentActivityTab" role="tab" data-toggle="tab" style="color: #21988c"><i style="color: #21988c" class="fa fa-group"></i> Thông tin gia đình</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="panel-body modal-body tab-pane fade active in" id="userInfoTab">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="avatar" style="text-align: center">
                                            <img id="usrInfoAva" class="loading-img img-border popup-avar" onerror="this.src = '/Content/Images/defaultProfile.png';">
                                            <h3 id="usrInfoFullname" style="background-color: #21988C; color: white; border-top-left-radius: 30px; border-bottom-left-radius: 30px; padding: 5px"> data['FullName'] </h3>
                                            <strong class="house-name" style="float: none;"><span id="_usrInfoHouseName" style="font-size: 17px;"><i class="fa fa-home icon-house"></i></span></strong>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="panel panel-default custom-panel">
                                            <div class="panel-heading panel-heading-gray">
                                                <i class="fa fa-info-circle"></i> Thông tin
                                            </div>
                                            <div class="panel-body">
                                                <ul class="list-unstyled profile-about" style="font-size: 18px;">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                                <i class="fa fa-calendar"></i>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <span class="text-muted">Ngày sinh</span>
                                                            </div>
                                                            <div id="usrInfoDob" class="col-sm-6"></div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                                <i class="fa fa-mars"></i>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <span class="text-muted">Giới tính</span>
                                                            </div>
                                                            <div id="usrInfoSex" class="col-sm-6"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-sm-2">
                                                                <i class="fa fa fa-paw"></i>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <span class="text-muted">Định cư từ</span>
                                                            </div>
                                                            <div id="usrInfoCreateDate" class="col-sm-6"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel panel-default custom-panel">
                                            <div class="panel-heading panel-heading-gray">
                                                <i class="fa fa-info-circle"></i> Hoạt động gần đây
                                            </div>
                                            <div class="panel-body">
                                                <ul id="recentActivity" class="list-unstyled profile-about"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*                            <div id="userRecentActivityTab" class="panel-body modal-body tab-pane fade">*@
                            <div id="userRecentActivityTab" class="tab-pane fade" style="padding: 20px">
                                <div class="row" style="text-align: center" id="houseinfoRow">
                                    <div class="panel-body" id="memberPanelBody">
                                        <div class="row" style="position: relative;">
                                            <div class="house-roof">
                                                <span style="line-height: 140px;">Nhà</span>@*Must be has text in this tag*@
                                            </div>
                                            <div class="abs-centering">
                                                <a id="usrInfoUrlToFamily" class="link-cursor">
                                                    <img id="usrInfoHouseImg" class="img-border" onerror="this.src = '/Content/images/home_default.jpg';" src="/Content/images/home_default.jpg" style="height: 90px; border: 2px solid #bf360c;">
                                                    <div>
                                                        <span id="usrInfoHouseName" class="house-title"></span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div id="amsConfirmModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Thông tin xác nhận</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <p style="font-size: 17px;" id="amsMsgConfirm"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnOk" type="button" class="btn btn-primary">Chấp nhận</button>
                </div>
            </div>
        </div>
    </div>
    <div id="amsMessageModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background: #fcf8e3">
                    @*                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Thông báo</h4>
                </div>
                <div class="modal-body">
                    <div class="panel-body">
                        <h4 id="amsMsgText">Thêm cư dân thành công</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>



@RenderSection("masterjs", required: false)
