@using AMS.Service
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    User curUser = ViewBag.curUser;
    List<UserAnswerPoll> listUserAnswer = new List<UserAnswerPoll>();

    HouseServices houseServices = new HouseServices();
    QuestionService questionService = new QuestionService();
    AnswerService answerService = new AnswerService();
    BlockPollService BlockPollService = new BlockPollService();
    PollService surveyService = new PollService();
    UserAnswerService userAnswerService = new UserAnswerService();
    UserServices userServices = new UserServices();
    List<Poll> listSurveys = surveyService.GetListPolls();
    weatherResult weather = ViewBag.weather;
    string alert = "";



    foreach (var item in listSurveys)
    {
        if (DateTime.Now >= item.PublishDate && item.Priority==1)
        {
            User currentUser = userServices.FindById(int.Parse(User.Identity.GetUserId()));
            listUserAnswer = (userAnswerService.GetListUserAnswerPollsByPollId(item.Id));
            List<BlockPoll> listBlockPolls = BlockPollService.FindByPollId(item.Id);
            int k = 0;
            int p = 0;
            if (listSurveys.Count != 0)
            {
                if (item.Mode == 1 && item.Status == 1)
                {
                    foreach (var VARIABLE in listUserAnswer)
                    {
                        if (VARIABLE.UserId == currentUser.Id)
                        {
                            k++;
                        }
                    }
                    foreach (var obj in listBlockPolls)
                    {
                        if (currentUser.HouseId != null)
                        {
                            if (obj.BlockId == BlockPollService.FindBlockIdByHouseId(currentUser.HouseId.Value).BlockId)
                            {
                                p++;
                            }
                        }

                    }
                    if ((k != 1 && p == 1 && item.Status == 1) || (k != 1 && p == 0 && item.Status == 1))
                        //if (k != 1)
                    {
                        alert = "Bạn Có Một Survey Cần phải Làm!";
                    }
                }
                else if (item.Mode == 2 && currentUser.RoleId == 4 && item.Status == 1)
                {
                    foreach (var VARIABLE in listUserAnswer)
                    {
                        if (VARIABLE.UserId == currentUser.Id)
                        {
                            k++;
                        }
                    }
                    foreach (var obj in listBlockPolls)
                    {
                        if (obj.BlockId == BlockPollService.FindBlockIdByHouseId(currentUser.HouseId.Value).BlockId)
                        {
                            p++;
                        }
                    }
                    if (k != 1 && p == 1 && item.Status == 1)
                        // if (k != 1)
                    {
                        alert = "Bạn Có Một Survey Cần phải Làm!";
                    }
                }
                else if ((item.Mode == 3 && currentUser.RoleId == 4 && item.Status == 1) || (item.Mode == 3 && currentUser.RoleId == 3 && item.Status == 1))
                {
                    foreach (var VARIABLE in listUserAnswer)
                    {
                        if (VARIABLE.UserId == currentUser.Id)
                        {
                            k++;
                        }
                    }
                    foreach (var obj in listBlockPolls)
                    {
                        if (obj.BlockId == BlockPollService.FindBlockIdByHouseId(currentUser.HouseId.Value).BlockId)
                        {
                            p++;
                        }
                    }
                    if (k != 1 && p == 1 && item.Status == 1)
                        // if (k != 1)
                    {
                        alert = "Bạn Có Một Survey Cần phải Làm!";
                    }
                }

            }
        }
    }
}
<link rel="stylesheet" href="~/Content/css/FamilyTree.css" type="text/css" />
<script src="~/Scripts/amsScript/LoadFamilyTree.js"></script>
<script src="~/Scripts/amsScript/LoadUserProfile.js"></script>

<style>
    .button {
        display: block;
        width: 100px;
        height: 35px;
        background: #4E9CAF;
        padding: 7px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .modalDialog {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99999;
        display: none;
        opacity: 1;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
    }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: #339999;
        }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

        .close:hover {
            background: #00d9ff;
        }
</style>
<div class="container-fluid">
    <div class="cover overlay">
        <img src="~/Content/images/banner-842.jpg" alt="cover">
        <a href="#" class="btn btn-cover"><i class="fa fa-pencil fa-fw"></i></a>
    </div>
    <div class="row">
        <div class="col-md-9">

            <ul class="timeline-list">
                <li class="media">
                    <div class="pull-left" onclick="LoadUserProfile(@curUser.Id)">


                        <img src="@(curUser.ProfileImage==null?"/Content/images/defaultProfile.png":curUser.ProfileImage)" alt="people" class="img-circle" width="80px" height="80px">
                        <div class="date">@curUser.Username</div>
                    </div>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-md-10 col-lg-8">
                                <div class="panel panel-default share">

                                    <div class="panel-body" id="postStatusArea">
                                        <textarea id="postContent" name="status" class="form-control share-text" rows="8" placeholder="Chia sẽ những thông tin của bạn..."></textarea>
                                        <div class="row" style="height:auto;" id="previewList">

                                            <input type="file" id="uploadEditorImage" style="display:none" />
                                            <div id="progressBar" class="progress" style="width:200px" hidden="hidden">
                                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:200px">
                                                </div>
                                            </div>

                                        </div>
                                        <input type="file" id="uploadEditorImage" style="display: none" />
                                        <div id="progressBar" class="progress" style="width: 200px" hidden="hidden">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 200px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer share-buttons" id="postStatusArea">
                                        <div id="previewEmbed" class="row" style="height: auto;">
                                            <div id="previewContent">
                                            </div>
                                        </div>
                                        <a href="#postStatusArea" onclick="addImage()">
                                            <i class="fa fa-fw fa-photo"></i>
                                        </a>
                                        <a href="#postStatusArea" data-toggle="modal" data-target="#addEmbedModal">
                                            <i class="fa fa-fw fa-code"></i>
                                        </a>
                                        <a href="#postStatusArea" style="float:right">
                                            <i class="fa fa-map-marker"></i>
                                        </a>
                                        <button type="submit" class="btn btn-primary btn-xs pull-right display-none" style="margin-top:-12px" href="#" onclick="createNewPost()">Post</button>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                </li>
            </ul>
            <ul class="timeline-list" id="timeline"></ul>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Thời tiết hiện tại
                </div>
                <div class="weather-svg">
                    <div class="today text-center">
                 
                        <div class="clearfix"><img src="@weather.weatherIcon" /></div>

                        <div class="details">
                            Nhiệt độ:
                            <strong>@weather.tempC° C</strong>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-gray" style="background-color:#25ad9f;color:white">
                    Thông báo
                </div>
                <div class="panel-body">
                    <div style="margin-bottom:10px">
                        <i class="fa fa-fw fa-info"></i>
                        Yêu cầu helpdesk của bạn đả được xử lí
                        <br />
                    </div>
                    <div style="margin-bottom:10px">
                        <i class="fa fa-fw fa-info"></i>
                        Bạn có 1 hóa đơn mới cần thanh toán
                        <br />
                    </div>
                    <div style="margin-bottom:10px">
                        <i class="fa fa-fw fa-info"></i>
                        Yêu cầu helpdesk của bạn đả được xử lí
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addEmbedModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mã nhúng</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" id="embedCode" placeholder="Copy và paste đoạn mã nhúng của bạn vào đây" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveEmbedCode()">Lưu lại</button>
            </div>
        </div>

    </div>
</div>





@{
    if (!alert.Equals(""))
    {
        @*<div id="openModal" class="modalDialog">
            <div class="modal-content">

                <a href="#close" title="Close" class="close" style="color: white">X</a>
                <div class="modal-header" style="color: white"><b>Thông Báo</b></div>
                <div class="modal-body">
                    <h4 style="color: white">@alert</h4>
                </div>

                <div class="modal-footer">
                 
                    <a href="@Url.Action("DoSurvey", "Survey")" class="button">Làm ngay</a>
                </div>
            </div>
        </div>*@
    <script>
        setTimeout(function () {
            window.location.href = "/Survey/DoSurvey";
        }, 1000);
        </script>
       
    }
}
@*<div id="myModall1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Báo cáo</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>

                </div>
            </div>
        </div>
    </div>*@

<script>
   
    $(document).ready(function () {
        $('.modalDialog').fadeIn();

        $('.close').on('click', function (event) {
            event.preventDefault();
            /* Act on the event */

            $('.modalDialog').fadeOut();

        });
    });
    var listUploadImage = [];
    function addImage() {
        $("#uploadEditorImage").click();

    }
    function saveEmbedCode() {
        alert("saveEmbedCode");
        var embedContent = $("#embedCode").val();
        $("#previewContent").html(embedContent);
    }
    function createNewPost() {
        alert('createNewPost');
        $.ajax({
            url: "/Post/Create",
            type: "POST",
            datatype: 'json',
            data: {
                images: listUploadImage,
                content: $("#postContent").val(),
                embeded: $("#embedCode").val(),

            },

            success: function (successData) {
                if (successData == 'success') {
                    clearCreatePostForm();
                    reloadFeed();
                }
            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });

    }

    $("#uploadEditorImage").change(function () {
        var data = new FormData();

        data.append("dir", "@SLIM_CONFIG.dirPostImage");

        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }

        // progessBar(true);
        $.ajax({
            url: "/Image/Upload/",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,

            success: function (successData) {
                addImageToPreviewList(successData, listUploadImage.length);
                listUploadImage[listUploadImage.length] = successData;
                // progessBar(false);

            },
            error: function (er) {
                alert(er);
                //progessBar(false);
            }

        });
    });
    $(document).ready(function () {
        loadAllPost();

    });

    function loadAllPost() {
        $.ajax({
            url: "/Post/getPost",
            type: "GET",
            datatype: 'json',
            data: {
                idToken: -1,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $.each(obj, function (index, jsonObject) {
                    addPostToTimeline(index, jsonObject);
                    getImagesForPost(index, jsonObject["Id"]);
                   // getUserProfileForPost(index, jsonObject["Id"]);
                    getCommentsForPost(jsonObject["Id"]);
                  
                });
            },
            error: function (er) {
                alert(er);
            }

        });
    }
    function getUserProfileForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getUserForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
                // alert(successData)
                var obj = JSON.parse(successData);
                if (obj['ProfileImage'] === null) {
                    $('#userImagePost' + id).attr("src", "/Content/images/defaultProfile.png");
                } else {
                    $('#userImagePost' + id).attr("src", obj["ProfileImage"]);

                }
                $('#userNamePost' + id).html(obj["Username"])
                $('#userHrefPost' + id).attr("href", "/Profile/" + obj["Id"])
   
                $('#userLoadProfilePost' + id).attr("onclick", "LoadUserProfile("+obj["Id"]+",true)")

            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addPostToTimeline(index, postObject) {
        $("#timeline").append('<li class="media">'
                       + '<div class="pull-left" id="userLoadProfilePost' + postObject['Id'] + '" onclick="LoadUserProfile('+postObject['UserId']+',true)">'
                        

                            + '<img id="userImagePost' + postObject['Id'] + '" src="'+postObject['userProfile']+'" alt="people" class="img-circle" width="80" height="80">'
                            + '<div id="userNamePost' + postObject['Id'] + '" class="date">'+postObject['username']+'</div>'
                     
                        + '</div>'

                        + '<div class="media-body">'
                            + '<div class="panel panel-default">'
                                + '<div class="panel-body" >'
                                    + '<div href="" class="btn btn-white btn-xs pull-right" onclick="report(' + postObject['Id'] + ')"><i class="fa fa-fw fa-warning"></i></div>'
                                    + '<p>' + postObject['Body'] + '</p>'
                                    + '<div class="row" id="imagesPost' + postObject['Id'] + '" style="height:auto">'
                                    + '</div>'
                                    + '<div class="row" style="height:auto;">'
                                    + postObject['EmbedCode']
                                    + '</div>'
                                + '</div>'
                                + '<div class="view-all-comments" id="countComment' + postObject['Id'] + '"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>'
                                + '<ul class="comments" id="commentsArea' + postObject['Id'] + '">'

                                + '</ul>'
                                + '<ul class="comments">'
                                 + '<li class="comment-form">'
                                        + '<div class="input-group">'
                                            + '<input id="contentDetail' + postObject['Id'] + '" type="text" class="form-control" style="width: 95%;">'
                                            + '<span class="input-group-addon" style="padding: 0;">'

                                           
            + '<button class="btn btn-success" onclick="addComment(' + postObject['Id'] + ')">Bình luận</button>'
            + '</span>'
            + '</div>'
            + '</li>'
            + '</ul>'
            + '</div>'
            + '</div>'
            + '</li>'
        )

    }
 
    function addComment(postId) {
        $.ajax({
            url: "/Post/CreateComment",
            type: "POST",
            data: {
                detail: $("#contentDetail" + postId).val(),
                postId: postId,
            },
            success: function (successData) {
                if (successData === 'success') {
                    $("#commentsArea" + postId).html("");
                    getCommentsForPost(postId)
                    $("#contentDetail" + postId).val("")
                } else {
                    alert(successData)
                }
            },
            error: function (er) {
                alert(er)
            }

        });
    }

    function getCommentsForPost(postid) {
        if (postid == null) {
            alert("postid == null");
            return;
        }
        $.ajax({
            url: "/Post/getCommentsForPost",
            type: "GET",
            data: {
                postId: postid,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $("#countComment" + postid).html(obj.length + " bình luận")
                $.each(obj, function (index, comment) {
                    addCommentToCommentArea(postid, comment)
                });
            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addCommentToCommentArea(postId, comment) {
        $("#commentsArea" + postId).append('<li>'
            + '<div class="media">'
            + '<a href="" class="pull-left">'
            + '<img  src="' + comment['userProfile'] + '" class="media-object" style="width:50px">'
            + '</a>'
            + '<div class="media-body">'
            + '<a href="/Profile/' + comment['userId'] + '" class="comment-author">' + comment['username'] + ': </a>'
            + '<span>' + comment['detail'] + '</span>'
            + '<div class="comment-date">' + timeSince(comment['createdDate']) + ' trước </div>'
            +'</div>'
            +'</div>'

            + '</li>')

    }


    function timeSince(dateString) {
        
        var date = new Date(dateString);
        var seconds = Math.floor((new Date() - date) / 1000);

        var interval = Math.floor(seconds / 31536000);

        if (interval >= 1) {
            return interval + " năm";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval >= 1) {
            return interval + " tháng";
        }
        interval = Math.floor(seconds / 86400);
        if (interval >= 1) {
            return interval + " ngày";
        }
        interval = Math.floor(seconds / 3600);
        if (interval >= 1) {
            return interval + " giờ";
        }
        interval = Math.floor(seconds / 60);
        if (interval >= 1) {
            return interval + " phút";
        }
        return Math.floor(seconds) + " giây";

    }



    function getImagesForPost(index, id) {
        if (id == null) {
            alert("postid = nul");
            return;
        }
        $.ajax({
            url: "/Post/getImagesForPost",
            type: "GET",
            data: {
                postId: id,
            },
            success: function (successData) {
                var obj = JSON.parse(successData);
                $.each(obj, function (index, image) {
                    addImageToPost(image['url'], id, (90 / obj.length))

                });

            },
            error: function (er) {
                alert(er)
            }

        });
    }
    function addImageToPost(imageUrl, postId, width) {
        $("#imagesPost" + postId).append('<img src="' + imageUrl + '" style="width:' + width + '%;height:auto;margin-right:5px">')

    }

    function addImageToPreviewList(dir, position) {
        $("#previewList").prepend('<div id="previewImage' + position + '" style="height:100px;width:100px;float:left;position:relative"><img onclick="removePreview(' + position + ')" src="/Content/images/delete.png" style="position:absolute;top:0px;right:0px;width:20px;height:20px"/><img src="' + dir + '" style="max-width:100%;max-height:100%"/></div>')
    }
    function removePreview(position) {
        $('#previewImage' + position + '').hide();
        listUploadImage[position] = "";

    }
    function reloadFeed() {
        //clear all feed
        $("#timeline").html("");
        loadAllPost();
    }
    function clearCreatePostForm() {
        var embedContent = "";
        $("#previewContent").html(embedContent);
        listUploadImage = [];
        $("#previewList").html('');
        $("#postContent").val('');
    }
    function report(id) {
        alert('Chức năng report (chưa xử lí)' + id);
    }
</script>