@model AMS.ViewModel.MemberViewModel
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">Thông tin thành viên</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form">
                <div class="timeline row" data-toggle="gridalicious">
                    <div class="timeline-block">
                        <div class="panel panel-default user-box">
                            <div class="panel-body">
                                <div class="media">
                                    <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                                    <div class="media-body">
                                        <a href="" class="username">Adrian D.</a>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i> Chủ nhà </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          
                        </div>
                    </div>
                    <div class="timeline-block">
                        <div class="panel panel-default user-box">
                            <div class="panel-body">
                                <div class="media">
                                    <img src="/images/people/50/guy-4.jpg" alt="people" class="media-object img-circle pull-left" />
                                    <div class="media-body">
                                        <a href="" class="username">Adrian D.</a>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i> Vợ </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="panel-footer">
                                <a href="#" class="btn btn-default btn-sm">Follow <i class="fa fa-share"></i></a>
                            </div>*@
                        </div>
                    </div>
                    <div class="timeline-block">
                        <div class="panel panel-default user-box">
                            <div class="panel-body">
                                <div class="media">
                                    <img src="/images/people/50/guy-6.jpg" alt="people" class="media-object img-circle pull-left" />
                                    <div class="media-body">
                                        <a href="" class="username">Adrian D.</a>
                                        <div class="profile-icons">
                                            <span><i class="fa fa-users"></i>Con út</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="panel-footer">
                                <a href="#" class="btn btn-default btn-sm">Follow <i class="fa fa-share"></i></a>
                            </div>*@
                        </div>
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-sm-offset-0 col-md-2">
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm thành viên</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
  
</div>
@using (Html.BeginForm("ManageMember", "Home", FormMethod.Post))
{   

  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Đăng ký thêm thành viên mới</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Tiêu đề</label>
                            @Html.TextBoxFor(m => m.Title, new {@class="form-control"})
                            @*<div class="col-sm-9">
                                <input type="email" class="form-control" id="inputEmail3" value="Mr. A">
                            </div>*@
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Mô tả</label>
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Ngày tạo</label>
                            @Html.TextBoxFor(m => m.CreateDate, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.CreateDate, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Ngày đóng</label>
                            @Html.TextBoxFor(m => m.CloseDate, new {@class = "form-control"})
                            @Html.ValidationMessageFor(m => m.CloseDate, "", new {@class = "text-danger"})
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Trạng thái</label>
                            @Html.TextBoxFor(m => m.Status, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Mã căn hộ</label>
                            @Html.TextBoxFor(m => m.HouseholderId, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Mã</label>
                            @Html.TextBoxFor(m => m.PendingUserId, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Mã</label>
                            @Html.TextBoxFor(m => m.ManagerId, new { @class = "form-control" })
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>
                <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
            </div>
        </div>
    </div>
</div>

}
