
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    House curHouse = ViewBag.curHouse;
}

<link rel="stylesheet" href="~/Content/css/FamilyTree.css" type="text/css" />
<script src="~/Scripts/amsScript/LoadFamilyTree.js"></script>
<script src="~/Scripts/amsScript/LoadUserProfile.js"></script>
<div class="container-fluid">
    <div class="media user-profile">
        <div class="media-body">
            <div class="row">
                <div class="col-md-8">

                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-gray">
                            <a href="#" class="btn btn-primary btn-xs pull-right">Thêm thành viên <i class="fa fa-plus"></i></a>
                            <i class="icon-user-1"></i> Thành viên
                        </div>
                        <div class="panel-body">
                            <div class="row" style="text-align:center">
                                <div class="tree">
                                    <ul>

                                        <li id="Coupletree">
                                            <a href="#">
                                                <div style="width:100px;height:120px;float:left">
                                                    <img src="~/Content/images/home_default.jpg" style="width:100%;" />
                                                    <div style="margin-top: 5px; font-size: small;font-weight: 700;background-color: aliceblue;">
                                                        @curHouse.HouseName
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="media-object">
                        <div class="panel panel-default profile-user-box">
                            <div class="avatar">
                                <img id="@("houseProfile"+curHouse.Id)" style="width:200px" src="@(curHouse.ProfileImage==null||curHouse.ProfileImage.Equals("")?"/Content/Images/home_default.jpg":curHouse.ProfileImage)" alt="" class="img-circle" onclick="chooseProfile()">
                                <br />
                                <div style="font-style:italic">
                                    Click chọn hình ảnh để thay đổi
                                </div>
                                <button id="saveProfileBtn" class="btn btn-primary" onclick="saveHomeProfile()" style="margin-top:10px;display:none">Lưu thay đổi</button>
                                <button id="unsaveProfileBtn" class="btn btn-default" onclick="unsaveHomeProfile()" style="margin-top:10px;display:none">Hủy</button>

                                 <h3>Nhà @curHouse.HouseName</h3>
                                <input style="visibility:hidden" type="file" id="uploadEditorImage" />
                                <div id="progressBar" class="progress" style="width:200px" hidden="hidden">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:200px">
                                    </div>
                                </div>


                            </div>
                            <div class="profile-icons">
                                <span><i class="fa fa-users"></i> @curHouse.Users.Count</span> <span><i class="fa fa-photo"></i> Block: @curHouse.Block</span> <span><i class="fa fa-video-camera"></i> Tầng: @curHouse.Floor </span>
                            </div>
                        </div>


                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-gray">
                            <a href="#" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>
                            <i class="fa fa-info-circle"></i> Riêng tư
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled profile-about">
                                <li>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="text-muted" style="word-break:break-word">Cho phép người khác đến thăm</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="allowOtherView" class="form-control" type="checkbox" name="my-checkbox" @(curHouse.AllowOtherView == false ? "" : "checked")>


                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="text-muted" style="word-break:break-word">Cho phép hiện thông tin thành viên</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="allowDisplayMember" class="form-control"  type="checkbox" name="my-checkbox" @(curHouse.DisplayMember==false?"":"checked") >

                                           
                                        </div>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
               
                    
                 </div>
                
                
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#allowDisplayMember').change(function() {
            if($(this).is(":checked")) {
                updateAllowDisplayMember(true);
            }
            else{
                updateAllowDisplayMember(false);
            }
        });
        $('#allowOtherView').change(function() {
            if($(this).is(":checked")) {
                updateAllowOtherView(true);
            }
            else{
                updateAllowOtherView(false);
            }
        });
        loadAllMember("tree","@curHouse.Id");
    });
  
    function updateAllowOtherView(isDisplay){
        $.ajax({
            url: "/Home/UpdateAllowOtherView/",
            type: "POST",
            data: {
                houseId: "@curHouse.Id",
                display: isDisplay,

            },
            success: function(successData){
                alert("Đã cập nhật thành công")
            },
            error: function(er){
                alert(er);
            }
        });
    }

    function updateAllowDisplayMember(isDisplay){
        $.ajax({
            url: "/Home/UpdateDisplayMember/",
            type: "POST",
            data: {
                houseId: "@curHouse.Id",
                display: isDisplay,

            },
            success: function(successData){
                alert("Đã cập nhật thành công")
            },
            error: function(er){
                alert(er);
            }
        });
    }


    function progessBar(isShow) {
        if (isShow == true) {
            $("#progressBar").removeAttr("hidden");
        } else {
            $("#progressBar").attr("hidden", "hidden");
        }
    }
    function chooseProfile() {
        $("#uploadEditorImage").click();
    }
    function saveHomeProfile() {
        $.ajax({
            url: "/Home/ChangeProfile/",
            type: "POST",
            data: {
                houseId: "@curHouse.Id",
                dir: $("#houseProfile"+@curHouse.Id).attr('src'),

            },
            success: function(successData){
                document.getElementById("saveProfileBtn").style.display="none";
                document.getElementById("unsaveProfileBtn").style.display="none";


            },
            error: function(er){
                alert(er);
            }
        });
    }
    function unsaveHomeProfile() {
        $("#houseProfile"+@curHouse.Id).attr("src", "@(curHouse.ProfileImage==null||curHouse.ProfileImage.Equals("")?"/Content/Images/home_default.jpg":curHouse.ProfileImage)");

                document.getElementById("saveProfileBtn").style.display="none";
                document.getElementById("unsaveProfileBtn").style.display="none";

    }

    $("#uploadEditorImage").change(function () {
        var data = new FormData();
        data.append("dir", "@SLIM_CONFIG.dirPostImage");
        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }
        progessBar(true);
        $.ajax({
            url: "/Image/Upload/",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (successData) {
                if(successData!=''){
                    changeImageURL(successData);
                }
                progessBar(false);

            },
            error: function (er) {
                alert(er);
                progessBar(false);
            }

        });
    });

    function changeImageURL(dir) {
        $("#houseProfile"+@curHouse.Id).attr("src", dir);
        document.getElementById("saveProfileBtn").style.display="inline";
        document.getElementById("unsaveProfileBtn").style.display="inline";

    }
</script>