@{
    ViewBag.Title = "Chi tiết dịch vụ";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    List<AroundProviderProduct> products = ViewBag.Products;
    AroundProvider curProvider = ViewBag.CurProvider;
    double lat = ViewBag.Lat;
    double lng = ViewBag.Lng;
}

<link href="~/Content/aroundProvider/main.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8 page-title" id="left">
                    <h2>@curProvider.Name</h2>
                    <ul style="font-size: 16px">
                        <li class="icon-home-1">
                            Địa chỉ: @curProvider.Address
                        </li>
                        <li class="icon-phone">
                            Điện thoại: @curProvider.Tel
                        </li>
                        <li class="icon-comment-1">
                            Mô tả: @curProvider.Description
                        </li>
                        <li class="icon-visual-eye">
                            Lượt xem: @curProvider.ClickCount
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" style="margin-top: 2%">
                    <img src="@curProvider.ImageUrl" />
                </div>
            </div>

            <!--Divider heart-->
            <div class="divider text-center">
                <i class="fa fa-heart-o fa-lg"></i>
            </div>
            <!--End divider-->

            <div class="col-md-12">
                <div class="page-title">
                    <h2>Các sản phẩm</h2>
                </div>
                <div class="col-md-12">
                    <div class="section group">
                        @{
                            foreach (var product in products)
                            {
                                <div class="col_1_of_4 span_1_of_4">
                                    <img src="@product.ImgUrl"/>
                                    <div class="desc">
                                        <div class="left-text">
                                            <h5>
                                                <a href="#">@product.Name</a>
                                            </h5>
                                        </div>
                                        <span class="price">@product.Price <small>đ</small></span>
                                    </div>
                                </div>
                            }
                        }
                        @*<div class="clear"></div>*@
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="page-title">
                    <h2>Bản đồ</h2>
                </div>
                <div style="height: 300px; width: 100%;" id="map"><!--map-canvas will be postioned here--></div>
            </div>


            <input type="hidden" id="lat" value="@lat" />
            <input type="hidden" id="lng" value="@lng" />
        </div>

    </div>
</div>


@*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="~/Scripts/aroundProvider/map.js"></script>