@using System.Collections
@using AMS.Helper
@using AMS.ViewModel
@using Microsoft.Ajax.Utilities
@model AMS.ViewModel.ListPostViewModel
@{
    ViewBag.Title = "TimeLine";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    //List<Post> allPost = new List<Post>();
    //allPost = ViewBag.allPost;
    //IEnumerable<Post> comment = ViewBag.listComment;

   


    //List<PostViewModel> listComment = listPostViewModel;
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div id="page">
    <div class="col-md-9">
        <ul class="timeline-list">
            <li class="media">
                <div class="pull-left">
                    <img src="/images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80">
                    <div class="date">19 OCT</div>
                </div>
                <div class="media-body">
                    @using (Html.BeginForm("TimeLinex", "Home", FormMethod.Post, new {role = "form"}))
                    {
                         @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12 col-lg-8">
                                <div class="panel panel-default share">
                                    <div class="panel-heading panel-heading-gray title">
                                        Chia se
                                    </div>
                                    <div class="panel-body">
                                        <input style="visibility:hidden" type="file" id="uploadEditorImage" />
                                        <textarea rows="4" cols="50" name="Title" id="Title" class="form-control share-text" rows="3" placeholder="chia sẽ cảm xúc của bạn...">
                                        </textarea>
                                        <img id="blah" src="#" width="300" />
                                        <img id="profilePreviews" src="#" width="300"/>
                                        <div id="progressBar" class="progress" style="width:200px" hidden="hidden">
                                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:200px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer share-buttons">
                                      

                                        @*<i class="fa fa-photo">*@
                                        @*@Html.TextBoxFor(m => m.Media, new {@class = "fa fa-photo" ,@type = "file", @name = "Media", @id = "Media"})*@
                                        @*</i>*@
                                        @Html.HiddenFor(m => m.ImgUrl)


                                        <img id="profilePreview" src="~/images/icon-camera.png" width="80px" alt="Default Profile" onclick="chooseProfile()" />
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                        <button @*onclick="addPostByAjax()"*@ class="btn btn-primary btn-note-submit pull-right"><i class="fa fa-save"></i> Lưu</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<div class="media-body">
                    @using (Ajax.BeginForm("TimeLinex", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "page" }))
                    {
                          @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12 col-lg-8">
                                <div class="panel panel-default share">
                                    <div class="panel-heading panel-heading-gray title">
                                        Chia se
                                    </div>
                                    <div class="panel-body">
                                        @Html.TextAreaFor(m =>m.Title, new { @class="form-control share-text"})
                                    </div>
                                    <div class="panel-footer share-buttons">
                                        @Html.TextBoxFor(m => m.Media, new { @class = "fa fa-photo", @type = "file", @name = "Media", @id = "Media" })
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>*@
            </li>
            @foreach (var h in Model.listPost)
            {
                if (h.ImgUrl != null)
                {


                    <li class="media">
                        <div class="pull-left">
                            <img src="/images/people/110/woman-9.jpg" alt="people" class="img-circle" width="80">
                            <div class="date">11 OCT</div>
                        </div>
                        <div class="media-body">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <p>@h.Title</p>
                                    @if (h.ImgUrl == null)
                                    {
                                        <p></p>
                                    }
                                    else
                                    {
                                        <div class="timeline-added-images">
                                            <img alt="media" src="@ViewHelper.Media(h.ImgUrl)" width="550" />
                                        </div>
                                    }

                                </div>


                                <div class="view-all-comments">
                                    <a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments
                                </div>
                                <ul class="comments">
                                    @foreach (var c in h.Post)
                                    {
                                        if (h.Id == c.PostId)
                                        {
                                            <li>
                                                <div class="media">
                                                    <a href="" class="pull-left">
                                                        <img src="/images/people/50/woman-5.jpg" class="media-object">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="" class="comment-author">Mary</a>
                                                        @if (@c.Title.IsNullOrWhiteSpace() || @h.ImgUrl.IsNullOrWhiteSpace())
                                                        {
                                                            <span></span>
                                                        }
                                                        else
                                                        {
                                                            <span>@c.Title</span>
                                                        }

                                                        <div class="comment-date">2 days</div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                    <li class="comment-form">
                                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                                        {
                                            <div class="input-group">
                                                <input type="text" value="@h.Id" class="form-control comment-content" id="PostId" name="PostId">
                                                <textarea type="text" cols="50" class="form-control comment-content" id="Title" name="Title"></textarea>

                                                <span class="input-group-addon">
                                                    <button onclick="addCommentByAjax()" class="btn btn-primary"><i class="fa fa-save"></i> Đăng</button>

                                                </span>
                                            </div>
                                        }

                                    </li>
                                    @*<li class="comment-form" id="comment">
                                        @using (Ajax.BeginForm("Indexx", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "page" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="input-group">

                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.TextBoxFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @value = Model.Id } })
                                                <span class="input-group-addon">
                                                    <input type="submit" value="Save" class="btn btn-primary" />

                                                </span>
                                            </div>
                                        }

                                    </li>*@
                                </ul>

                            </div>
                        </div>
                    </li>

                }
            }
            }

        </ul>
    </div>
    <div class="col-md-3">
        <div data-spy="affix" data-offset-top="318" data-offset-bottom="100" class="affix-top">
            <div id="scroll-spy">
                <ul class="nav timeline-months">
                    <li class="active">
                        <a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a>
                    </li>
                    <li>
                        <a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a>
                    </li>
                    <li>
                        <a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a>
                    </li>
                    <li>
                        <a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a>
                    </li>
                    <li>
                        <a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a>
                    </li>
                    <li>
                        <a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function chooseProfile() {
        $("#uploadEditorImage").click();
       
    }

    function changeImageURL(imageurl) {
        $("#profilePreview").attr("src", imageurl)
        $("#ImgUrl").val(imageurl);

    }
    function readURLS(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profilePreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
           
        }
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#Media").change(function () {
        readURL(this);
    });
    $("#uploadEditorImage").change(function () {
        readURLS(this);
       
    });
    $("#uploadEditorImage").change(function () {
        readURLS(this);
        var data = new FormData();
        var files = $("#uploadEditorImage").get(0).files;
        if (files.length > 0) {
            data.append("HelpSectionImages", files[0]);
        }
        progessBar(true);
        $.ajax({
            url: "/images/Post/Binh",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (successData) {
                changeImageURL(successData);
                progessBar(false);

            },
            error: function (er) {
                alert(er);
                progessBar(false);
            }

        });
    });
    function progessBar(isShow) {
        if (isShow == true) {
            $("#progressBar").removeAttr("hidden");
        } else {
            $("#progressBar").attr("hidden", "hidden");
        }
    }
  
    $(document).ready(function () {
        $("#btnSave").click(function () {
            $.ajax(
            {
                type: "POST", //HTTP POST Method  
                url: "Home/Index", // Controller/View   
                data: { //Passing data  
                    Title: $("#Title").val(), //Reading text box values using Jquery   
                    PostId: $("#PostId").val(),
                  
                }

            });

        });
    });
    function addPostByAjax() {
        $.ajax({
            url: '/Home/TimeLine',
            data: {
                Title: $("#Title").val(),
                Media: $("#ImgUrl").val()

            },
            error: function () {
                alert("error")

            },
            success: function (data) {
               
            },
            type: 'POST'
        });
    }
    function addCommentByAjax() {
        $.ajax({
            url: '/Home/TimeLine',
            data: {
                Title: $("#Title").val(),
                PostId: $("#PostId").val()

            },
           
            success: function (data) {
              
            },
            type: 'POST'
        });
    }
</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>