@using System.Collections
@using AMS.Helper
@using Microsoft.Ajax.Utilities
@model AMS.ViewModel.PostViewModel
@{
    ViewBag.Title = "TimeLine";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    List<Post> allPost = new List<Post>();
    allPost = ViewBag.allPost;
    IEnumerable<Post> comment = ViewBag.commentsLists;
    List<IEnumerable<Post>> listCommentList = ViewBag.listCommentList;
}



<div class="col-md-9">
    <ul class="timeline-list">
        <li class="media">
            <div class="pull-left">
                <img src="/images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80">
                <div class="date">19 OCT</div>
            </div>
            <div class="media-body">
                @using (Html.BeginForm("TimeLine", "Home", FormMethod.Post , new {role = "form", enctype = "multipart/form-data"}))
                {
                   
                     <div class="row">
                                <div class="col-md-12 col-lg-8">
                                    <div class="panel panel-default share">
                                        <div class="panel-heading panel-heading-gray title">
                                            Chia se
                                        </div>
                                        <div class="panel-body">
                                          
                                            <textarea rows="4" cols="50" name="Title" id="Title" class="form-control share-text" rows="3" placeholder="chia sẽ cảm xúc của bạn..."></textarea>
                                        </div>
                                        <div class="panel-footer share-buttons">
                                           
                                          
                                                @*<i class="fa fa-photo">*@
                                                    @Html.TextBoxFor(m => m.Media, new { @class = "fa fa-photo", @type = "file", @name = "Media", @id = "Media" })
                                                @*</i>*@
                                           
                                            
                                            <button @*onclick="addPostByAjax()"*@ class="btn btn-primary btn-note-submit pull-right"><i class="fa fa-save"></i> Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                }
            </div>
        </li>
        
           
            @foreach (Post h in allPost)
            {
                if (h.ImgUrl != null)
                {
                    
               
                 <li class="media">
            <div class="pull-left">
                <img src="/images/people/110/woman-9.jpg" alt="people" class="img-circle" width="80">
                <div class="date">11 OCT</div>
            </div>
            <div class="media-body">
                <div class="panel panel-default">
                   
                    <div class="panel-body">
                        <p>@h.Title</p>
                        @if(h.ImgUrl== null)
                        {
                        <div class="timeline-added-images">
                           

                        </div>
                        }else
                        {
                            <div class="timeline-added-images">
                                <img alt="media" src="@ViewHelper.Media(h.ImgUrl)" width="550" />
                            </div>
                            }

                        </div>
                 
                  
                    <div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments
                    </div>
                    <ul class="comments">
                        @foreach (var c in comment)
                        {
                            //foreach (var d in listCommentList)
                            //{
                            if (h.Id == c.PostId)
                             {
                                  <li>
                                <div class="media">
                                    <a href="" class="pull-left">
                                        <img src="/images/people/50/woman-5.jpg" class="media-object">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="comment-author">Mary</a>
                                        @if (@c.Title.IsNullOrWhiteSpace() || @h.ImgUrl.IsNullOrWhiteSpace())
                                        {
                                            <span></span>
                                        }
                                        else
                                        {
                                            <span>@c.Title</span>
                                        }

                                        <div class="comment-date">2 days</div>
                                    </div>
                                </div>
                            </li>
                             }
                              @*}*@ 
                        }


                        <li class="comment-form">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {role = "form", enctype = "multipart/form-data"}))
                            {
                                <div class="input-group">
                                    <input type="text" hidden="hidden" value="@h.Id" class="form-control comment-content" id="PostId" name="PostId">
                                    <input type="text" class="form-control comment-content" id="Title" name="Title">

                                    <span class="input-group-addon">
                                        <button onclick="addCommentByAjax()" class="btn btn-success"><i class="fa fa-save"></i> Đăng</button>
                                   
                                </span>
                                </div>
                            }

                        </li>
                    </ul>

                </div>
            </div>
        </li>  
            
             }
            }
        }
     
    </ul>
</div>
<div class="col-md-3">
    <div data-spy="affix" data-offset-top="318" data-offset-bottom="100" class="affix-top">
        <div id="scroll-spy">
            <ul class="nav timeline-months">
                <li class="active">
                    <a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a>
                </li>
                <li>
                    <a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a>
                </li>
                <li>
                    <a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a>
                </li>
                <li>
                    <a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a>
                </li>
                <li>
                    <a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a>
                </li>
                <li>
                    <a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function addPostByAjax() {
        $.ajax({
            url: '/Home/TimeLine',
            data: {
                Title: $("#Title").val(),
               Media: $("#Media").val()

            },
            error: function () {
                alert("error")
               
            },
            success: function (data) {
                //clearHouseList();
                //loadHouseList();
            },
            type: 'POST'
        });
    }
    function addCommentByAjax() {
        $.ajax({
            url: '/Home/TimeLine',
            data: {
                Title: $("#Title").val(),
                Media: $("#PostId").val()

            },
            error: function () {
                alert("error")

            },
            success: function (data) {
                //clearHouseList();
                //loadHouseList();
            },
            type: 'POST'
        });
    }
</script>
  
