@using AMS.Enum
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/HelpdeskSupporter/__HelpdeskSupporterLayout.cshtml";
    AMS.ViewModel.HelpdeskRequestViewModel hr = ViewBag.currRequest;

}
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="heading-tab supporter">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Chi tiết yêu cầu sửa chữa</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/HelpdeskSupporter"><i class="icon-newspaper"></i> Yêu cầu sửa chữa</a>
                </li>
                <li>
                    <a href="/HelpdeskSupporter/History"><i class="icon-bookmark"></i> Lịch sử hoạt động</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post">
                <div class="table-responsive">
                    <div class="form-group">
                        <label class="col-sm-offset-2 col-sm-2 control-label">Tiêu đề</label>
                        <div class="col-sm-6">
                            <input type="email" readonly="readonly" class="form-control" id="title" value="@hr.Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="houseConsumptBlock" class="col-sm-offset-2 col-sm-2  control-label">Căn hộ</label>
                        <div class="col-md-3">
                            <span id="houseConsumptBlock" class="btn room-color btn-block">@hr.HouseName</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-2 col-sm-2  control-label">Nhóm dịch vụ</label>
                        <div class="col-sm-6">
                            <input type="email" readonly="readonly" class="form-control" id="serviceName" value="@hr.HelpdeskServiceCatName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-offset-2 col-sm-2 control-label">Ngày tạo</label>
                        <div class="col-sm-6">
                            <input type="email" readonly="readonly" class="form-control" id="createDate" value="@hr.CreateDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-2 col-sm-2 control-label">Ngày hết hạn</label>
                        <div class="col-sm-6">
                            <input type="email" readonly="readonly" class="form-control" id="assignDate" value="@hr.DueDate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-2 col-sm-2 control-label">Trạng thái</label>
                        <div class="col-md-3">
                            @if (@hr.Status == (int)StatusEnum.Open)
                            {
                                <span class="btn btn-info btn-block margin-none status-label-size">Chưa giải quyết</span>
                            }
                            else if (@hr.Status == (int)StatusEnum.Processing)
                            {
                                <span class="btn btn-block margin-none status-label-size processing">Đang xử lý</span>
                            }
                            else if (@hr.Status == (int)StatusEnum.Done)
                            {
                                <span class="btn btn-block  btn-success status-label-size margin-none">Hoàn thành</span>
                            }
                            else if (@hr.Status == (int)StatusEnum.Close)
                            {
                                <span class="btn btn-block btn-danger status-label-size margin-none">Đóng</span>
                            }
                            else if (@hr.Status == (int)StatusEnum.Cancel)
                            {
                                <span class="btn btn-block btn-default status-label-size margin-none">Hủy</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-offset-2 col-sm-2 control-label">Miêu tả</label>
                        <div class="col-sm-6">
                            <textarea type="email" readonly="readonly" rows="3" class="form-control" id="description" value="">@hr.Description</textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="hiddenId" value="@hr.Id" />
                <input type="hidden" name="hiddenStatus" value="3" />
                <input type="hidden" name="hiddenStatusFrom" value="@hr.Status" />
                <input type="hidden" name="hiddenHelpdeskSupporterId" value="@hr.HelpdeskSupporterId" />
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a href="~/HelpdeskSupporter/Index" class="btn btn-danger">Trở Về</a>
                            @if (@hr.Status == (int)StatusEnum.Processing)
                            {
                            <button type="submit" class="btn btn-primary">Hoàn thành</button>
                            }
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
