@using AMS.Enum
@{
    ViewBag.Title = "History";
    Layout = "~/Views/HelpdeskSupporter/__HelpdeskSupporterLayout.cshtml";
    int count = 0;
    List<HelpdeskRequestLog> allLog = ViewBag.listLog;
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">Lịch sử hoạt động</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" method="post">
                <div class="table-responsive">
                    <table class="table table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th class="text-center">Thứ tự</th>
                                <th>Tiêu đề</th>
                                <th>Username</th>
                                <th>Ngày tạo</th>
                                <th>Từ trạng thái</th>
                                <th>Sang trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (HelpdeskRequestLog logOfCurrRequest in allLog)
                                {
                                    <tr data-id="@(++count)">
                                        <td class="text-center">
                                            <span class="label label-gray">@count</span>
                                        </td>
                                        <td>
                                            <span class="label label-gray">@logOfCurrRequest.HelpdeskRequest.Title</span>
                                        </td>
                                        <td>
                                            @logOfCurrRequest.User.Username
                                        </td>
                                        <td>
                                            <span class="label label-primary">@Convert.ToString(string.Format("{0:dd/MM/yyyy HH:mm}", @logOfCurrRequest.CreateDate))</span>
                                        </td>
                                        <td>
                                            @{
                                                if (logOfCurrRequest.StatusFrom == (int)StatusEnum.Open)
                                                {
                                                    @Html.Label("Mở")
                                                }
                                                if (logOfCurrRequest.StatusFrom == (int)StatusEnum.Processing)
                                                {
                                                    @Html.Label("Đang xử lý")
                                                }
                                                if (logOfCurrRequest.StatusFrom == (int)StatusEnum.Done)
                                                {
                                                    @Html.Label("Xong")
                                                }
                                                if (logOfCurrRequest.StatusFrom == (int)StatusEnum.Close)
                                                {
                                                    @Html.Label("Đóng")
                                                }
                                                if (logOfCurrRequest.StatusFrom == (int)StatusEnum.Cancel)
                                                {
                                                    @Html.Label("Hủy")
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (logOfCurrRequest.StatusTo == (int)StatusEnum.Open)
                                                {
                                                    @Html.Label("Mở")
                                                }
                                                if (logOfCurrRequest.StatusTo == (int)StatusEnum.Processing)
                                                {
                                                    @Html.Label("Đang xử lý")
                                                }
                                                if (logOfCurrRequest.StatusTo == (int)StatusEnum.Done)
                                                {
                                                    @Html.Label("Xong")
                                                }
                                                if (logOfCurrRequest.StatusTo == (int)StatusEnum.Close)
                                                {
                                                    @Html.Label("Đóng")
                                                }
                                                if (logOfCurrRequest.StatusTo == (int)StatusEnum.Cancel)
                                                {
                                                    @Html.Label("Hủy")
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>