
@{
    ViewBag.Title = "TestDataTables";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
    int count = 0;
    List<HelpdeskRequest> openRequest = ViewBag.openRequest;
}

<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th class="text-center">Thứ tự</th>
            <th>Tiêu đề</th>
            <th>Căn hộ</th>
            <th>Nội dung</th>
            <th>Ngày tạo</th>
            @*<th>Ngày giao việc</th>*@
            <th>Ngày đóng</th>
            <th>Trạng thái</th>
            @*<th>Nhân viên đã thực hiện</th>*@
            <th class="text-center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (HelpdeskRequest hr in openRequest)
            {
                <tr data-id="@(++count)">
                    <td class="text-center">
                        <span class="label label-gray">@count</span>
                    </td>
                    <td>
                        <span class="label label-gray">@hr.Title</span>
                    </td>
                    <td>
                        @hr.House.HouseName
                    </td>
                    <td>
                        @hr.Description
                    </td>
                    <td>
                        <span class="label label-primary">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @hr.CreateDate))</span>
                    </td>
                    <td>
                        <span class="label label-success">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @hr.CloseDate))</span>
                    </td>
                    <td>
                        @hr.Status
                        @*@{
                            if (hr.Status == 1)
                            {
                                @Html.Label("Assigned")
                            }
                            if (hr.Status == 2)
                            {
                                @Html.Label("Done")
                            }
                        }*@
                        @*<input class="label label-default" />*@
                    </td>
                    <td class="text-center">

                        <a href="" onclick="getSelectedRequest(@hr.Id)" class="btn btn-default btn-xs" data-toggle="modal" data-target="#loadData" data-placement="top" title="Chi tiết"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>


