@using AMS.Constant
@using AMS.Enum
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Quản lý nhân viên hổ trợ</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li>
                    <a href="/Management/ManageUser/ViewResidentList"><i class="fa fa-users"></i> Dân cư</a>
                </li>
                <li class="active">
                    <a href="/Management/ManageUser/ViewSupporterList"><i class="fa fa-user-md "></i> NV Hổ trợ</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">

                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <!-- Data table -->
                        <table id="manageUserListTbl" data-fromuserid="@User.Identity.GetUserId()" data-role-id="@SLIM_CONFIG.USER_ROLE_SUPPORTER" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                        <!-- // Data table -->
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<div id="addResidentModal" class="modal fade ams-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="title">Thêm mới cư dân</h4>
            </div>
            <form id="addResidentForm" class="form-horizontal" role="form">
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="alert alert-info" id="addResSuccessNoti" style="display: none">
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span id="successMsg">Thêm nhân viên hổ trợ thành công</span>
                        </div>
                        <div class="alert alert-danger" id="addResFailedNoti" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <span id="failedMsg">Thêm nhân viên hổ trợ thất bại</span>
                        </div>
                        <div class="alert alert-danger" id="msgAddFailedNoty" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span id="addTransMsg"></span>
                        </div>

                        <div class="form-group">
                            <label for="resName" class="col-md-3 control-label">Họ tên</label>
                            <div class="col-md-9">
                                <input id="resName" name="Name" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="resName" class="col-md-3 control-label">Tên đăng nhập</label>
                            <div class="col-md-4">
                                <input id="userAccountName" name="UserAccountName" type="text" class="form-control" value="">
                            </div>
                            <label for="resName" class="col-md-1 control-label">ĐTDĐ </label>
                            <div class="col-md-4">
                                <input id="cellNumb" name="CellNumb" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group res-info">
                            <label for="resId" class="col-md-3 control-label">Ngày sinh</label>
                            <div class="col-md-4">
                                <input id="dob" type="text" name="Dob" class="form-control datepicker" data-date-format="dd-mm-yyyy" data-date-language="vi"
                                       data-date-min-view-mode="0" data-date-today-highlight="true" data-date-end-date="0m">
                            </div>
                            <label class="col-md-1 control-label">Giới tính</label>
                            <div class="col-md-4">
                                <label class="radio-inline">
                                    <input type="radio" value="@SLIM_CONFIG.USER_SEX_MALE" name="Gender" />Nam
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="@SLIM_CONFIG.USER_SEX_FEMALE" name="Gender" checked="checked" />Nữ
                                </label>
                            </div>
                        </div>
                        <div class="form-group res-info">
                            <label for="resId" class="col-md-3 control-label">CMND</label>
                            <div class="col-md-4">
                                <input id="resId" type="text" name="Idenity" class="form-control" value="">
                            </div>
                            <label for="idCreateDate" class="col-md-1 control-label">Ngày cấp</label>
                            <div class="col-md-4">
                                <input id="idCreateDate" type="text" name="IdCreateDate" class="form-control datepicker" data-date-format="dd-mm-yyyy" data-date-language="vi"
                                       data-date-min-view-mode="0" data-date-today-highlight="true" data-date-end-date="0m">
                            </div>
                        </div>
                        <input type="hidden" id="accountId" name="Id" />
                        <input type="hidden" id="roleId" value="@SLIM_CONFIG.USER_ROLE_SUPPORTER" name="RoldId" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button id="btnAdd" type="submit" class="btn btn-info hide">Chấp nhận</button>
                    <button id="btnUpdate" type="submit" class="btn btn-info hide">Chấp nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thông tin xác nhận</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <p style="    font-size: 17px;" id="msgConfirm"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="acceptApproveUser()">Chấp nhận</button>
            </div>
            <input type="hidden" id="residentId" value="" />
            <input type="hidden" id="mode" value="" />
        </div>
    </div>
</div>

<div id="messageModal" class="modal fade ams-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <p style="    font-size: 17px;" id="messageNotify"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");

        window.mode = window.INSERTMODE;
        window.deleteRes = [];

        var roleId = document.getElementById("manageUserListTbl").dataset.roleId;
        window.manageUserListTbl = $("#manageUserListTbl").DataTable({
            "ajax": {
                url: "/Management/ManageUser/GetEmployeeList?roleId=" + roleId,
                dataSrc: function (data) {
                    window.residentList = data;
                    return data;
                }
            },
            "drawCallback": function (settings) {
                var addBtn = "<div class='col-md-1'>" +
                                "<span class='btn btn-info' onclick='openAddNewUserModal()'>" +
                                "<i class='fa fa-plus'></i>" +
                                "</span>" +
                            "</div>";
                $("#manageUserListTbl_wrapper > div:nth-child(1) > div:nth-child(1)").html(addBtn);

                var deleteBtn =
            "<div class='hide' id='delConsumptionRecordBtnGroup'>" +
                "<span class='btn btn-warning btn-stroke' onclick='cancelDeleteConsumptionRecord()'>" +
                    " Hủy" +
                "</span>" +
                "<span class='btn btn-primary' style='margin-left: 5px' onclick='commitDeleteConsumptionRecord()'>" +
                    "Chấp nhận" +
                "</span>" +
            "</div>";
                $("#manageUserListTbl_wrapper > div.row:nth-child(3) > div:nth-child(1) ").html(deleteBtn);
            },
            "rowId": 'UserId',
            "bLengthChange": false,
            "bInfo": false,
            "columns": [
                { data: "Id" },
                { data: "Name" },
                { data: "Status" },
                { data: "CreateDate" },
                { data: "Id" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0,
                    "class": "dt_center",
                    "width": "5%"
                },
                {
                    "targets": 1,
                    "width": "30%"
                },
                {
                    "targets": 2,
                    "data": "Status",
                    "width": "10%",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            var msg = "";
                            if (data === window.UserStatusDisable) {
                                msg = "Đóng";
                                return "<span class='label label-danger'>" +
                                    msg + "</div>";
                            } else if (data === window.UserStatusEnable) {
                                msg = "Mở";
                                return "<span class='label label-success'>" +
                                    msg + "</div>";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 3,
                    "data": "CreateDate",
                    "width": "15%",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data !== null && data !== undefined) {
                                var dateTime = data.split(" ");
                                return "<strong>" + dateTime[0] +
                                    "</strong>  " + dateTime[1];
                            }
                            return "Đang xác nhận";
                        }
                        return full.CreateDateLong;
                    }
                },
                {
                    "targets": 4,
                    "width": "12%",
                    "data": "Id",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (full.RoldId === window.UserRoleHouseHolder) {
                                return "<div class='text-right'> " +
                                   "<td> " +
                                  "<span onclick='getResidentInfor(" + data + ")' class='btn btn-default btn-xs'>" +
                                   "<i class='fa fa-pencil'></i>" +
                               "</td>" +
                               "</div>";
                            }
                            return "<div class='text-right'> " +
                                   "<td> " +
                                  "<span onclick='getResidentInfor(" + data + ")' class='btn btn-default btn-xs'>" +
                                   "<i class='fa fa-pencil'></i>" +
                                  "</span> " +
                                   "<span class='btn btn-danger btn-xs' onclick='deleteConsumptionRecord(\"" + data + "\"" + ")'>" +
                                       "<i class='fa fa-times'></i>" +
                                   "</span>" +
                               "</td>" +
                               "</div>";
                        }
                        return data;
                    }
                }

            ], "order": [[3, "desc"]]
        });

        generateTableIndex(window.manageUserListTbl);
        $('#residentApproveTbl').on('click', 'tr', function () {
            window.currentRow = $(this);
        });
        $("#resName").on("change", function (event) {
            if (window.mode === window.INSERTMODE) {
                $.ajax({
                    url: "/Home/getHintUsername",
                    type: "get",
                    data: {
                        fullName: event.target.value,
                        startNumber: 0
                    },
                    success: function (data) {
                        $("#userAccountName").val(data);
                    }
                });
            }
        });
        $("#userAccountName").on("change", function (event) {
            if (window.mode === window.INSERTMODE) {
                $.ajax({
                    url: "/Home/checkAvailableUsername",
                    type: "get",
                    data: {
                        username: event.target.value,
                    },
                    success: function (data) {
                        if (data === "True") {
                            $("#msgAddFailedNoty").css("display", "none");
                        } else {
                            $("#msgAddFailedNoty").css("display", "none");
                            $("#addTransMsg").text("Tên đang nhập đã tồn tại");
                            $("#msgAddFailedNoty").fadeIn("fast");
                        }
                    }
                });
            }
        });
        validateForm();
    });

    function openAddNewUserModal() {
        $(".security").addClass("hide");
        $(".res-info").removeClass("hide");
        $("#btnAdd").removeClass("hide");

        window.mode = window.INSERTMODE;

        $("#successMsg").text("Thêm mới nhân viên hổ trợ thành công.");
        $("#failedMsg").text("Thêm mới nhân viên hổ trợ thất bại.");
        $("#title").text("Thêm mới nhân viên hổ trợ");

        $("#btnUpdate").addClass("hide");
        $("#btnAdd").removeClass("hide");

        $("#userAccountName").prop("readonly", "");
        $("#addResidentModal").modal("show");
    }

    function getResidentInfor(supporterId) {

        $(".security").addClass("hide");
        $(".res-info").removeClass("hide");
        $("#btnAdd").removeClass("hide");

        $.ajax({
            url: "/Management/ManageUser/GetEmployeeInfor",
            data: {
                supporterId: supporterId
            },
            type: "get",
            success: function (data) {
                if (data.StatusCode === 0) {
                    var obj = data.Data;

                    $("#resName").val(obj.Name);
                    $("#dob").val(obj.Dob);
                    $("#resId").val(obj.Idenity);
                    $("#accountId").val(obj.Id);
                    $("#roleId").val(obj.RoldId);
                    $("#userAccountName").val(obj.UserAccountName);
                    $("#cellNumb").val(obj.CellNumb);
                    $("#idCreateDate").val(obj.IdCreateDate);

                    $("input:radio[name=Gender]").filter("[value=" + obj.Gender + "]").prop("checked", "checked");

                    window.mode = window.UPDATEMODE;
                    $("#successMsg").text("Cập nhật nhân viên hổ trợ thành công.");
                    $("#failedMsg").text("Cập nhật nhân viên hổ trợ thất bại.");
                    $("#title").text("Cập nhật nhân viên hổ trợ");

                    $("#btnUpdate").removeClass("hide");
                    $("#btnAdd").addClass("hide");

                    $("#userAccountName").prop("readonly", "readonly");
                    $("#addResidentModal").modal("show");
                }
            }
        });
    }

    function addNewResident() {
        $.ajax({
            "url": "/Management/ManageUser/AddEmployee",
            data: $("#addResidentForm").serialize(),
            type: "POST",
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#addResSuccessNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResSuccessNoti").fadeOut("fast");
                        resetFormData("addResidentForm");
                    }, 3000);
                    window.manageUserListTbl.ajax.reload(null, true);
                } else if (data.StatusCode === 2) {
                    $("#addTransMsg").text("Căn hộ này chưa có chủ nhà!");
                    $("#msgAddFailedNoty").fadeIn("fast");
                    setTimeout(function () {
                        $("#msgAddFailedNoty").fadeOut("fast");
                    }, 3000);
                } else {
                    $("#addResFailedNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResFailedNoti").fadeOut("fast");
                    }, 3000);
                }
                console.log(data);
            }
        });
    }

    function updateResident() {
        $.ajax({
            "url": "/Management/ManageUser/UpdateEmployee",
            data: $("#addResidentForm").serialize(),
            type: "POST",
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#addResSuccessNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResSuccessNoti").fadeOut("fast");
                        resetFormData("addResidentForm");
                        $("#addResidentModal").modal("hide");
                    }, 3000);

                    window.manageUserListTbl.ajax.reload(null, true);
                } else if (data.StatusCode === 2) {
                    $("#addTransMsg").text("Căn hộ này chưa có chủ nhà!");
                    $("#msgAddFailedNoty").fadeIn("fast");
                    setTimeout(function () {
                        $("#msgAddFailedNoty").fadeOut("fast");
                    }, 3000);
                } else {
                    $("#addResFailedNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResFailedNoti").fadeOut("fast");
                    }, 3000);
                }
                console.log(data);
            }
        });
    }
    function deleteConsumptionRecord(id) {
        //        var element = $("#resident_" + id).addClass("hide");
        window.deleteRes.push(id);
        window.manageUserListTbl.row("#employee_" + id).remove().draw(false);
        $("#delConsumptionRecordBtnGroup").removeClass("hide").addClass("show");
    } $("#addResidentForm").validate({
        rules: {
            Name: {
                required: true,
                maxlength: 255
            },
            UserAccountName: {
                required: true,
                maxlength: 255
            },
            CellNumb: {
                required: true,
                maxlength: 11
            },
            Dob: {
                required: true
            }
        },
        messages: {
            Name: {
                required: "Vui lòng nhập họ tên.",
                maxlength: "Họ tên không dài quá 255 ký tự."
            },
            UserAccountName: {
                required: "Vui lòng nhập tên đăng nhập",
                maxlength: "Tên đăng nhập không dài quá 255 ký tự."
            },
            CellNumb: {
                required: "Vui lòng nhập số điện thoại.",
                maxlength: "Số điện thoại không dài quá 11 ký số."
            },
            Dob: {
                required: "Vui lòng nhập ngày sinh.",
            }
        },
        submitHandler: function () {
            if ($("#btnUpdate").hasClass("hide")) {
                addNewResident();
            } else {
                updateResident();
            }
        }
    });
    function cancelDeleteConsumptionRecord() {
        for (var i = 0; i < window.residentList.length; i++) {
            var originItem = window.residentList[i];
            for (var z = 0; z < window.deleteRes.length; z++) {
                var deleteItem = window.deleteRes[z];
                if (originItem.Id.toString() === deleteItem) {
                    window.manageUserListTbl.row.add(originItem).draw();
                }
            }
        }
        window.deleteRes = new Array();
        $("#delConsumptionRecordBtnGroup").removeClass("show").addClass("hide");;
    }
    function commitDeleteConsumptionRecord() {
        $.ajax({
            url: "/Management/ManageUser/DeleteResident",
            type: "POST",
            data: {
                listResId: window.deleteRes
            },
            success: function (data) {
                window.deleteRes = new Array();
                window.manageUserListTbl.ajax.reload(null, false);
                $("#delConsumptionRecordBtnGroup").removeClass("show").addClass("hide");;
                if (data.StatusCode === 0) {
                    window.deleteRes = new Array();
                    window.manageUserListTbl.ajax.reload(null, false);
                } else if (data.StatusCode === 2) {
                    $("#messageNotify").html("Xóa nhân viên [<strong>" + data.Data + "</strong>] không thành công. Chuyển hết công việc sang nhân viên khác trước khi xóa !");
                    $("#messageModal").modal("show");
                } else {
                    $("#messageNotify").text("Xóa nhân viên thất bại!");
                    $("#messageModal").modal("show");
                }
            }
        });
    }

    function validateForm() {
        $("#addResidentForm").validate({
            rules: {
                Name: {
                    required: true,
                    maxlength: 255
                },
                UserAccountName: {
                    required: true,
                    maxlength: 255
                },
                CellNumb: {
                    required: true,
                    maxlength: 11
                },
                Dob: {
                    required: true
                },
                Idenity: {
                    required: true,
                    maxlength: 9
                },
                IdCreateDate: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 255 ký tự."
                },
                UserAccountName: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 255 ký tự."
                },
                CellNumb: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 11 ký tự."
                },
                Dob: {
                    required: "Trường bắt buộc"
                },
                Idenity: {
                    required: "Trường bắt buộc",
                    maxlength: "Tối đa 9 ký tự."
                },
                IdCreateDate: {
                    required: "Trường bắt buộc",
                },
            },
            submitHandler: function () {
                if ($("#btnUpdate").hasClass("hide")) {
                    addNewResident();
                } else {
                    updateResident();
                }
            }
        });
    }
</script>