@using AMS.Enum
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ManageMember";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="heading-tab">
            <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Quản lý nhân viên tài khoản cư dân</span>
            <ul class="nav nav-tabs pull-right" role="tablist">
                <li class="active">
                    <a href="/Management/ManageUser/ViewResidentList"><i class="fa fa-users"></i> Cư dân</a>
                </li>
                <li>
                    <a href="/Management/ManageUser/ViewSupporterList"><i class="fa fa-user-md "></i> Nhân viên hỗ trợ</a>
                </li>
            </ul>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="">
                    <div class="form-horizontal" id="searchHdSrv" role="form">
                        <div class="alert alert-danger" id="deleteUserFail" style="display: none">
                            <a href="#" class="close" onclick="$('.alert').hide()" aria-label="close">&times;</a>
                            <span id="deleteUserFailMsg"></span>
                        </div>
                        <!-- Data table -->
                        <table id="manageUserListTbl" data-fromuserid="@User.Identity.GetUserId()" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Căn hộ</th>
                                    <th>Chủ hộ</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Căn hộ</th>
                                    <th>Chủ hộ</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody></tbody>
                        </table>
                        <!-- // Data table -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addResidentModal" class="modal fade ams-modal" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="title">Thêm mới cư dân</h4>
            </div>
            <form id="addResidentForm" class="form-horizontal" role="form">
                <div class="modal-body">
                    <div class="panel-body">
                        <div class="alert alert-info" id="addResSuccessNoti" style="display: none">
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span id="successMsg">Thêm cư dân thành công</span>
                        </div>

                        <div class="alert alert-danger" id="addResFailedNoti" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <span id="failedMsg">Thêm cư dân thất bại</span>
                        </div>
                        <div class="alert alert-danger" id="msgAddFailedNoty" style="display: none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span id="addTransMsg"></span>
                        </div>

                        <div class="form-group">
                            <label for="resName" class="col-md-3 control-label">Họ tên</label>
                            <div class="col-md-9">
                                <input id="resName" name="Name" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userAccountName" class="col-md-3 control-label">Tên đăng nhập</label>
                            <div class="col-md-4">
                                <input id="userAccountName" name="UserAccountName" type="text" class="form-control" value="">
                            </div>
                            <label for="cellNumb" class="col-md-1 control-label">ĐTDĐ </label>
                            <div class="col-md-4">
                                <input id="cellNumb" name="CellNumb" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group res-info">
                            <label for="dob" class="col-md-3 control-label">Ngày sinh</label>
                            <div class="col-md-4">
                                <input id="dob" type="text" name="Dob" class="form-control datepicker" data-date-format="dd-mm-yyyy" data-date-language="vi"
                                       data-date-min-view-mode="0" data-date-today-highlight="true" data-date-end-date="0m">
                            </div>
                            <label class="col-md-1 control-label">Giới tính</label>
                            <div class="col-md-4">
                                <label class="radio-inline">
                                    <input type="radio" value="@SLIM_CONFIG.USER_SEX_MALE" name="Gender" />Nam
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="@SLIM_CONFIG.USER_SEX_FEMALE" name="Gender" checked="checked" />Nữ
                                </label>
                            </div>
                        </div>
                        <div class="form-group res-info">
                            <label for="resId" class="col-md-3 control-label">CMND</label>
                            <div class="col-md-4">
                                <input id="resId" type="text" name="Idenity" class="form-control" value="">
                            </div>
                            <label for="idCreateDate" class="col-md-1 control-label">Ngày cấp</label>
                            <div class="col-md-4">
                                <input id="idCreateDate" type="text" name="IdCreateDate" class="form-control datepicker" data-date-format="dd-mm-yyyy" data-date-language="vi"
                                       data-date-min-view-mode="0" data-date-today-highlight="true" data-date-end-date="0m">
                            </div>
                        </div>
                        <div class="form-group res-info">
                            <label for="_houseBlock" class="col-md-3 control-label">Tòa nhà</label>
                            <div class="col-md-9 ">
                                <div class="input-group">
                                    <select id="_houseBlock" name="Block" class="form-control">
                                        <option></option>
                                    </select>
                                    <label for="_houseFloor" class="input-group-addon control-label">Tầng</label>
                                    <select id="_houseFloor" name="Floor" class="form-control">
                                        <option></option>
                                    </select>
                                    <label for="_houseId" class="input-group-addon control-label">Nhà</label>
                                    <select id="_houseId" name="HouseId" class="form-control">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group res-info">
                            <label class="col-md-3 control-label ">Chủ hộ</label>
                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input type="radio" value="@SLIM_CONFIG.USER_ROLE_HOUSEHOLDER" name="IsHouseOwner" />Có
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="@SLIM_CONFIG.USER_ROLE_RESIDENT" name="IsHouseOwner" checked="checked" />Không
                                </label>
                            </div>
                        </div>
                        <div class="form-group res-info">
                            <label for="ownerRelationShip" class="col-md-3 control-label ">Mối quan hệ</label>
                            <div class="col-md-9">
                                <select class="form-control" id="ownerRelationShip" name="RelationLevel">
                                    <option value="0">Vợ, Chồng, Anh, Chị, Em, Bạn...</option>
                                    <option value="-2">Ông, bà (Lớn hơn 2 bậc)</option>
                                    <option value="-1">Bố, mẹ, cô, dì, chú, bác, cậu, mợ...(Lớn hơn 1 bậc)</option>
                                    <option value="1">Con, cháu (gọi bằng cô, dì, chú, bác)</option>
                                    <option value="2">Cháu (gọi bằng ông, bà)</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="accountId" name="Id" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    @*                    <button id="btnAdd" type="button" class="btn btn-info hide" onclick="addNewResident()">Chấp nhận</button>*@
                    <button id="btnAdd" name="btnAdd" type="submit" class="btn btn-info hide">Chấp nhận</button>
                    <button id="btnUpdate" type="submit" type="button" class="btn btn-info hide">Chấp nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thông tin xác nhận</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <p style="font-size: 17px;" id="msgConfirm"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="acceptApproveUser()">Chấp nhận</button>
            </div>
            <input type="hidden" id="residentId" value="" />
            <input type="hidden" id="mode" value="" />
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        validateAddNewResident();

        $("#slide-left").children().removeClass("active");
        $($("#slide-left li")[4]).addClass("active");

        window.mode = window.INSERTMODE;
        window.deleteRes = [];

        window.manageUserListTbl = $("#manageUserListTbl").DataTable({
            "ajax": {
                url: "/Management/ManageUser/GetResidentList",
                dataSrc: function (data) {
                    window.residentList = data;
                    return data;
                }
            },
            "order": [[5, "desc"]],
            stateSave: true,
            "drawCallback": function (settings) {
                var addBtn = "<div class='col-md-1'>" +
                                "<span class='btn btn-info' onclick='openAddNewUserModal()'>" +
                                "<i class='fa fa-plus'></i>" +
                                "</span>" +
                            "</div>";
                $("#manageUserListTbl_wrapper > div:nth-child(1) > div:nth-child(1)").html(addBtn);

                var deleteBtn =
            "<div class='hide' id='delConsumptionRecordBtnGroup'>" +
                "<span class='btn btn-warning btn-stroke' onclick='cancelDeleteConsumptionRecord()'>" +
                    "Hủy" +
                "</span>" +
                "<span class='btn btn-primary' style='margin-left: 5px' onclick='commitDeleteConsumptionRecord()'>" +
                    "Chấp nhận" +
                "</span>" +
            "</div>";
                $("#manageUserListTbl_wrapper > div.row:nth-child(3) > div:nth-child(1) ").html(deleteBtn);
            },
            "rowId": 'UserId',
            "bLengthChange": false,
            "bInfo": false,
            "columns": [
                { data: "Id" },
                { data: "Name" },
                { data: "HouseName" },
                { data: "RoldId" },
                { data: "Status" },
//                { data: "RoleName" },
                { data: "CreateDate" },
                { data: "Id" }
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": 0,
                    "class": "dt_center",
                    "width": "5%"
                },
                {
                    "targets": 1,
                    "width": "30%"
                },
                {
                    "targets": 2,
                    "width": "15%",
                    "data": "HouseName",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data === "-1") {
                                return "<strong>Không có</strong>";
                            } else {
                                return "<span class='label room-color' >" + full.HouseName + "</span>";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 3,
                    "data": "Status",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data === window.UserRoleHouseHolder) {
                                return "<strong>Chủ hộ</strong>";
                                //                                return "<span class='label label-info'>Chủ hộ</div>";
                            } else {
                                return "Cư dân";
                                //                                return "<span class='label processing'>Dân cư</div>";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 4,
                    "data": "Status",
                    "width": "10%",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            var msg = "";
                            if (data === window.UserStatusDisable) {
                                msg = "Đóng";
                                return "<span class='label label-danger'>" +
                                    msg + "</div>";
                            } else if (data === window.UserStatusEnable) {
                                msg = "Mở";
                                return "<span class='label label-success'>" +
                                    msg + "</div>";
                            } else if (data === window.UserStatusReject) {
                                msg = "Hủy";
                                return "<span class='label label-default'>" +
                                    msg + "</div>";
                            }
                        }
                        return data;
                    }
                },
                {
                    "targets": 5,
                    "data": "CreateDate",
                    "width": "15%",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (data !== null && data !== undefined) {
                                var dateTime = data.split(" ");
                                return "<strong>" + dateTime[0] +
                                    "</strong>  " + dateTime[1];
                            }
                            return "Đang chờ xác nhận";
                        }
                        return full.CreateDateLong;
                    }
                },
                {
                    "targets": 6,
                    "width": "12%",
                    "data": "Id",
                    "render": function (data, type, full, meta) {
                        if (type === "display" || type === "filter") {
                            if (full.IsDeletable === window.IsNotDeletable) {
                                return "<div class='text-right'> " +
                                   "<td> " +
                                  "<span onclick='getResidentInfor(" + data + ")' class='btn btn-default btn-xs'>" +
                                   "<i class='fa fa-pencil'></i>" +
                               "</td>" +
                               "</div>";
                            }
                            return "<div class='text-right'> " +
                                   "<td> " +
                                  "<span onclick='getResidentInfor(" + data + ")' class='btn btn-default btn-xs'>" +
                                   "<i class='fa fa-pencil'></i>" +
                                  "</span> " +
                                   "<span class='btn btn-danger btn-xs' onclick='deleteConsumptionRecord(\"" + data + "\"" + ")'>" +
                                       "<i class='fa fa-times'></i>" +
                                   "</span>" +
                               "</td>" +
                               "</div>";
                        }
                        return data;
                    }
                }

            ],
        });

        generateTableIndex(window.manageUserListTbl);
        $('#residentApproveTbl').on('click', 'tr', function () {
            window.currentRow = $(this);
        });

        $("#resName").on("change", function (event) {
            if (window.mode === window.INSERTMODE) {

                $.ajax({
                    url: "/Management/ManageUser/GetHintUsername",
                    type: "get",
                    data: {
                        fullName: event.target.value,
                        startNumber: 0
                    },
                    success: function (data) {
                        $("#userAccountName").val(data);
                    }
                });
            }
        });
        $("#userAccountName").on("change", function (event) {
            if (window.mode === window.INSERTMODE) {

                $.ajax({
                    url: "/Management/ManageUser/CheckAvailableUsername",
                    type: "get",
                    data: {
                        username: event.target.value,
                    },
                    success: function (data) {
                        if (data === "True") {
                            $("#msgAddFailedNoty").css("display", "none");
                            //                        $("#userAccountName").val(data);

                        } else {
                            $("#msgAddFailedNoty").css("display", "none");
                            $("#addTransMsg").text("Tên đang nhập đã tồn tại");
                            $("#msgAddFailedNoty").fadeIn("fast");
                        }
                    }
                });
            }
        });

        $("#_houseBlock").on("change", function () {
            var selected = $(this).find("option:selected").val();
            _getRoomAndFloor(selected, "", "block");
        });

        $("#_houseFloor").on("change", function () {
            var selectedFloor = $(this).find("option:selected").val();
            var selectedBlock = $("#_houseBlock").find("option:selected").val();
            _getRoomAndFloor(selectedBlock, selectedFloor, "floor");
        });
    });

    function openAddNewUserModal() {

        $.ajax({
            url: "/Management/ManageUser/GetHouseList",
            type: "get",
            success: function (data) {
                if (data.StatusCode === 0) {
                    var block = parseJsonToSelectTags(data.Data.blocks);
                    var floor = parseJsonToSelectTags(data.Data.floors);
                    var room = parseJsonToSelectTags(data.Data.rooms);
                    $("#_houseBlock").html(block);
                    $("#_houseFloor").html(floor);
                    $("#_houseId").html(room);
                    window.mode = window.INSERTMODE;

                    $("#successMsg").text("Thêm mới cư dân thành công.");
                    $("#failedMsg").text("Thêm mới cư dân thất bại.");
                    $("#title").text("Thêm mới cư dân");

                    $("#btnAdd").removeClass("hide");
                    $("#btnUpdate").addClass("hide");
                    $("#userAccountName").prop("readonly", "");

                    $("#addResidentModal").modal("show");
                }
            }
        });
    }

    function getResidentInfor(residentId) {

        $.ajax({
            url: "/Management/ManageUser/GetResidentInFor",
            data: {
                residentId: residentId
            },
            type: "get",
            success: function (data) {
                if (data.StatusCode === 0) {

                    var obj = data.Data.data;

                    $("#resName").val(obj.Name);
                    $("#dob").val(obj.Dob);
                    $("#resId").val(obj.Idenity);
                    $("#accountId").val(obj.Id);
                    $("#userAccountName").val(obj.UserAccountName);
                    $("#cellNumb").val(obj.CellNumb);
                    $("#idCreateDate").val(obj.IdCreateDate);

                    $("input:radio[name=Gender]").filter("[value=" + obj.Gender + "]").prop("checked", "checked");
                    $("input:radio[name=IsHouseOwner]").filter("[value=" + obj.RoldId + "]").prop("checked", "checked");

                    $("#ownerRelationShip").val(obj.RelationLevel);

                    if (obj.RoldId === window.UserRoleHouseHolder) {
                        $("input:radio[name=IsHouseOwner]").prop("disabled", "disabled");
                        $("#_houseId").prop("disabled", "disabled");
                        $("#_houseBlock").prop("disabled", "disabled");
                        $("#_houseFloor").prop("disabled", "disabled");
                    } else {
                        $("input:radio[name=IsHouseOwner]").prop("disabled", "");
                        $("#_houseId").prop("disabled", "");
                        $("#_houseBlock").prop("disabled", "");
                        $("#_houseFloor").prop("disabled", "");
                    }

                    var block = parseJsonToSelectTags(data.Data.blocks, obj.BlockId.toString());
                    var floor = parseJsonToSelectTags(data.Data.floors, obj.Floor);
                    var room = parseJsonToSelectTags(data.Data.rooms, obj.HouseId.toString());
                    $("#_houseBlock").html(block);
                    $("#_houseFloor").html(floor);
                    $("#_houseId").html(room);

                    window.mode = window.UPDATEMODE;
                    $("#successMsg").text("Cập nhật cư dân thành công.");
                    $("#failedMsg").text("Cập nhật cư dân thất bại.");
                    $("#title").text("Cập nhật cư dân");

                    $("#btnAdd").addClass("hide");
                    $("#btnUpdate").removeClass("hide");

                    $("#userAccountName").prop("readonly", "readonly");
                    $("#addResidentModal").modal("show");
                }
            }
        });
    }

    function addNewResident() {
        $.ajax({
            "url": "/Management/ManageUser/AddNewResident",
            data: $("#addResidentForm").serialize(),
            type: "POST",
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#successMsg").html("Thêm mới cư dân thành công.");
                    $("#addResSuccessNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResSuccessNoti").fadeOut("fast");
                        resetFormData("addResidentForm");
                    }, 3000);

                    window.manageUserListTbl.ajax.reload(null, false);
                } else if (data.StatusCode === 2) {
                    $("#addTransMsg").text("Căn hộ này chưa có chủ nhà!");
                    $("#msgAddFailedNoty").fadeIn("fast");
                    setTimeout(function () {
                        $("#msgAddFailedNoty").fadeOut("fast");
                    }, 3000);
                } else {
                    $("#addResFailedNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResFailedNoti").fadeOut("fast");
                    }, 3000);
                }
                console.log(data);
            }
        });
    }

    function updateResident() {
        var form = $("#addResidentForm");
        var disabled = form.find(':input:disabled').removeAttr('disabled');
        var serializedForm = form.serialize();
        disabled.attr('disabled', 'disabled');

        $.ajax({
            "url": "/Management/ManageUser/UpdateResident",
            data: serializedForm,
            type: "POST",
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#addResSuccessNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResSuccessNoti").fadeOut("fast");
                        resetFormData("addResidentForm");
                        $("#addResidentModal").modal("hide");
                    }, 3000);

                    window.manageUserListTbl.ajax.reload(null, false);
                } else if (data.StatusCode === 2) {
                    $("#addTransMsg").text("Căn hộ này chưa có chủ nhà!");
                    $("#msgAddFailedNoty").fadeIn("fast");
                    setTimeout(function () {
                        $("#msgAddFailedNoty").fadeOut("fast");
                    }, 3000);
                } else {
                    $("#addResFailedNoti").fadeIn("fast");
                    setTimeout(function () {
                        $("#addResFailedNoti").fadeOut("fast");
                    }, 3000);
                }
                console.log(data);
            }
        });
        disabled.attr('disabled', 'disabled');
    }

    function deleteConsumptionRecord(id) {
        //        var element = $("#resident_" + id).addClass("hide");
        window.deleteRes.push(id);
        window.manageUserListTbl.row("#resident_" + id).remove().draw(false);
        $("#delConsumptionRecordBtnGroup").removeClass("hide").addClass("show");
    }
    function cancelDeleteConsumptionRecord() {
        for (var i = 0; i < window.residentList.length; i++) {
            var originItem = window.residentList[i];
            for (var z = 0; z < window.deleteRes.length; z++) {
                var deleteItem = window.deleteRes[z];
                if (originItem.Id.toString() === deleteItem) {
                    window.manageUserListTbl.row.add(originItem).draw();
                }
            }
        }
        window.deleteRes = new Array();
        $("#delConsumptionRecordBtnGroup").removeClass("show").addClass("hide");;
    }
    function commitDeleteConsumptionRecord() {
        $.ajax({
            url: "/Management/ManageUser/DeleteResident",
            type: "POST",
            data: {
                listResId: window.deleteRes
            },
            success: function (data) {
                window.deleteRes = new Array();
                window.manageUserListTbl.ajax.reload(null, false);
                if (data.StatusCode === 0) {
                    $("#delConsumptionRecordBtnGroup").removeClass("show").addClass("hide");;
                } else if (data.StatusCode === 4) {
                    $("#deleteUserFailMsg").html("Không thể xóa được chủ hộ <strong> " +
                            data.Data.fullName + "</strong> của căn hộ <strong>" + data.Data.houseName +
                            "</strong> vì vẫn còn cư dân trong căn hộ!. Xin vui lòng xóa cư dân trước khi xóa chủ hộ");
                    $("#deleteUserFail").fadeIn("fast");
                    $("#delConsumptionRecordBtnGroup").removeClass("show").addClass("hide");;
                } else {
                    $("#addTransMsg").html("Xóa cư dân thất bại xin vui lòng thử lại!");
                    $("#deleteUserFail").fadeIn("fast");
                    $("#delConsumptionRecordBtnGroup").removeClass("show").addClass("hide");
                }
            }
        });
    }

    //    function validForm() {
    //        $("#addResidentForm").valid();
    //    }

    function validateAddNewResident() {
        $("#addResidentForm").validate({
            rules: {
                Name: {
                    required: true,
                    maxlength: 255
                },
                UserAccountName: {
                    required: true,
                    maxlength: 255
                },
                CellNumb: {
                    required: true,
                    number: true,
                    maxlength: 11,
                    minlength: 10
                },
                Dob: {
                    required: true
                },
                Idenity: {
                    maxlength: 9,
                    minlength: 9,
                    number: true,
                    required: function (element) {
                        return $("#idCreateDate").is(':filled');
                    },
                },
                IdCreateDate: {
                    required: function (element) {
                        return $("#resId").is(':filled');
                    },
                }
            },
            messages: {
                Name: {
                    required: "Vui lòng nhập họ tên.",
                    maxlength: "Họ tên không dài quá 255 ký tự."
                },
                UserAccountName: {
                    required: "Vui lòng nhập tên đăng nhập",
                    maxlength: "Tên đăng nhập không dài quá 255 ký tự."
                },
                CellNumb: {
                    required: "Vui lòng nhập số điện thoại.",
                    number: "Số điện thoại phải là ký số",
                    maxlength: "Số điện thoại tối đa 11 ký số.",
                    minlength: "Số điện thoại tối thiểu 10 ký số."
                },
                Dob: {
                    required: "Vui lòng nhập ngày sinh.",
                },
                Idenity: {
                    number: "CMND phải là ký số",
                    maxlength: "CMND 9 ký số.",
                    minlength: "CMND 9 ký số.",
                    required: "Vui lòng nhập số CMND."
                },
                IdCreateDate: {
                    required:"Vui lòng nhập ngày cấp CMND."
                }
            },
            submitHandler: function () {
                if ($("#btnUpdate").hasClass("hide")) {
                    addNewResident();
                } else {
                    updateResident();
                }
            }
        });
    }
    function _parseJsonToSelectTag(floor, room, roomId) {
        var selectTagList = [];
        var selectTag = "";
        if (getHouseMode !== "floor") {
            for (var i = 0; i < floor.length; i++) {
                var obj = floor[i];
                selectTag = "<option value=\"" + obj + "\">" + obj + "</option>";
                selectTagList.push(selectTag);
            }
            $("#_houseFloor").html(selectTagList);
        }

        selectTagList = [];
        for (var j = 0; j < room.length; j++) {
            var roomName = room[j];
            var roomIdObj = roomId[j];
            selectTag = "<option value=\"" + roomIdObj + "\">" + roomName + "</option>";
            selectTagList.push(selectTag);
        }
        $("#_houseId").html(selectTagList);
    }

    function _getRoomAndFloor(blockId, floorName, mode, callback) {
        window.getHouseMode = mode;
        $.ajax({
            type: "GET",
            url: "/Management/ManageUser/GetRoomAndFloor",
            data: {
                blockId: blockId,
                floorName: floorName
            },
            success: function (data) {
                var floor = data.Data.Floor;
                var room = data.Data.Room;
                var roomId = data.Data.RoomId;
                var msg = "<option value=\"\">" + "Không có dữ liệu " + "</option>";
                var msg2 = "<option value=\"\">" + "Không có dữ liệu" + "</option>";
                if (floor === undefined || floor === null || floor.length === 0) {
                    $("#houseFloor").html(msg);
                    $("#houseId").html(msg2);
                } else if (room === undefined || room === null || room.length === 0) {
                    $("#houseId").html(msg2);
                } else {
                    _parseJsonToSelectTag(floor, room, roomId, mode);
                }
                if (callback && isFunction(callback)) {
                    callback();
                }
            },
            error: function () {

            }
        });
    }
</script>