@using AMS.Models
@{
    ViewBag.Title = "Tất cả dịch vụ";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    List<AroundProviderDetailModel> allProviders = ViewBag.AllProviders;
    List<AroundProviderCategory> allCategories = ViewBag.AllCategorys;
    int highestProCat = ViewBag.highestProCat;
}
<link href="~/Content/aroundProvider/main.css" rel="stylesheet" />
<link href="~/Content/css/jquery.raty.css" rel="stylesheet" />

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="page-title">
                        <h2>Dịch vụ xung quanh</h2>
                        <p>Hãy đến với các dịch vụ, nhà cung cấp quanh đây với giá cả ưu đãi nhất!</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
                        <ul class="text-center">
                            @{
                                if (allCategories != null)
                                {
                                    for (int i = 0; i < allCategories.Count; i++)
                                    {
                                        AroundProviderCategory c = allCategories.ElementAt(i);
                                        if (c != null)
                                        {
                                            <li><a  href="javascript:void(0)" data-filter=".category-@c.Id" class="filter">@c.Name</a></li>
                                        }
                                    }
                                }
                            }
                            <li><a href="javascript:void(0)" data-filter="all" class="filter">Tất cả</a></li>
                        </ul>
                    </div>
                </div>

                @*        <div class="row" >*@
                <div class="form-group" id="Container" style="">
                    @{
                        foreach (var provider in allProviders)
                        {
                            <div class="col-md-4 mix work-item category-@provider.ProviderCatId" style="float: left; overflow: hidden">
                                <div class="single-project @provider.ProviderCatId">
                                    <section>
                                        <div class="project-preview" style="overflow: hidden">
                                            <a href="/Home/AroundService/SingleProviderDetail?id=@provider.Id">
                                                <img src="@provider.ImageUrl" class="img-responsive" alt="">
                                            </a>
                                            <div class="project-meta-modify">
                                                <div class="project-date">
                                                    <div class="user-rate" data-score="@provider.RatePoint"></div>
                                                </div>

                                                <div class="project-count">
                                                    <p><i class="fa fa-eye"></i> @provider.ClickCount</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="project-link" style="max-height: 80px; overflow: hidden;">
                                            <h2 class="truncate" style="max-width: 100%">
                                                <a href="" style="font-weight: 700">@provider.Name</a>
                                            </h2>
                                            <p style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@provider.Address</p>
                                        </div>
                                    </section>
                                    <a href="/Home/AroundService/SingleProviderDetail?id=@provider.Id">
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    <input type="hidden" id="highest" value="@(highestProCat)" />
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.raty.defaults.path = '/Content/images';
        $(".user-rate").raty({
            score: function () {
                return $(this).attr('data-score');
            },
            number: 5,
            readOnly: true
        });
        var heighest = $("#highest").val();
        if (heighest !== "null") {
            $('#Container')
                .mixItUp({
                    load: {
                        filter: ".category-" + heighest
                    },
                });
        } else {
            $('#Container')
               .mixItUp({});
        }
    });
</script>
