@using AMS.Constant
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "ManageReipt";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
    List<House> block = ViewBag.block;
    List<House> firstBlockFloor = ViewBag.firstBlockFloor;
    List<House> rooms = ViewBag.rooms;
    Receipt receipt = ViewBag.receipt;
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="heading-tab">
                <i class="fa fa-list"> Chi tiết hóa đơn</i>
                <ul class="nav nav-tabs pull-right" role="tablist">
                    <li class="active">
                        <a href="/Management/ManageReceipt/View"><i class="fa fa-file-text-o"></i> Quản lý hóa đơn</a>
                    </li>
                    <li>
                        <a href="/Management/ManageReceipt/@User.Identity.GetUserId()"><i class="fa fa fa-plus"></i> Tạo hóa đơn thủ công</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade active in" id="">

                    <form id="updateOrder" class="form-horizontal" data-receiptid="@receipt.Id" data-fromuserid="@User.Identity.GetUserId()" role="form">

                        <div class="alert alert-info hide" id="createReceiptSuccessNoti" @*style="display: none"*@>
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span>Hóa đơn được tạo thành công</span>
                        </div>
                        <div class="alert alert-danger hide" id="createReceiptFailedNoti">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                            <span>Việc tạo hóa đơn thất bại</span>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <fieldset class="scheduler-border less-padding">
                                    <legend class="scheduler-border">Thông tin hóa đơn</legend>
                                    <div class="form-group">
                                        <label for="receiptTitle" class="col-md-2 control-label">Tiêu đề</label>
                                        <div class="col-md-10">
                                            <input id="receiptTitle" value="@receipt.Title" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="houseName" class="col-md-2 control-label">Tòa nhà</label>
                                        <div class="col-md-3 full-width-select">
                                            <select id="houseBlock" name="select" class="form-control">
                                                @{
                                                    foreach (var b in block)
                                                    {
                                                        if (b.Block.Equals(receipt.House.Block))
                                                        {
                                                            <option selected="selected" value="@b.Block">@b.Block</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@b.Block">@b.Block</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <label for="houseName" class="col-md-1 control-label">Tầng</label>
                                        <div class="col-md-2">
                                            <select id="houseFloor" name="select" class="form-control">
                                                @{
                                                    foreach (var f in firstBlockFloor)
                                                    {
                                                        if (f.Floor.Equals(receipt.House.Floor))
                                                        {
                                                            <option selected="selected" value="@f.Floor">@f.Floor</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@f.Floor">@f.Floor</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <label for="houseName" class="col-md-1 control-label">Nhà</label>
                                        <div class="col-md-3">
                                            <select id="houseName" name="select" class="form-control">
                                                @{
                                                    foreach (var r in firstBlockFloor)
                                                    {
                                                        if (r.HouseName.Equals(receipt.House.HouseName))
                                                        {
                                                            <option selected="selected" value="@r.HouseName">@r.HouseName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@r.HouseName">@r.HouseName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="houseBlock" class="col-md-2 control-label">Người tạo</label>
                                        <div class="col-md-5">
                                            <input readonly="readonly" value="@receipt.User.Fullname" id="creator" type="text" class="form-control">
                                        </div>
                                        <label for="createDate" class="col-md-2 control-label">Ngày tạo</label>
                                        <div class="col-md-3">
                                            @{
                                                string date = receipt.CreateDate.Value.ToString(AmsConstants.DateFormat);
                                            }
                                            <input readonly="readonly" value="@date" id="createDate" type="text" class="form-control">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="houseBlock" class="col-md-2 control-label">Trạng thái</label>
                                        <div class="col-md-5">
                                            @{
                                                if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_PAID)
                                                {
                                                    <span class="btn btn-success">Đã thanh toán</span>
                                                }
                                                else if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_UNPAID)
                                                {
                                                    <span id="unPaid" class="btn btn-default">Chưa thanh toán</span>
                                                    <span id="paid" class="btn btn-success hide">Đã thanh toán</span>
                                                }
                                                else if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_UNPUBLISHED)
                                                {
                                                    <span id="unpublished" class="btn btn-inverse">Chưa công bố</span>
                                                    <span id="unPaid" class="btn btn-default hide">Chưa thanh toán</span>
                                                    <span id="paid" class="btn btn-success hide">Đã thanh toán</span>
                                                }
                                            }
                                        </div>
                                        <label for="paidDate" class="col-md-2 control-label">Ngày thanh toán</label>
                                        <div class="col-md-3">
                                            @{
                                                string paidDateStr = "";
                                                if (null == receipt.PaymentDate)
                                                {
                                                    paidDateStr = "Chưa thanh toán";
                                                }
                                                else
                                                {
                                                    paidDateStr = receipt.PaymentDate.Value.ToString(AmsConstants.DateFormat);
                                                }
                                            }
                                            <input id="paidDate" readonly="readonly" type="text" value="@paidDateStr" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="receiptDesc" class="col-md-2 control-label">Mô tả</label>
                                        <div class="col-md-10">
                                            <textarea id="receiptDesc" class="form-control" rows="3">@receipt.Description</textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <fieldset class="scheduler-border less-padding">
                                    <legend class="scheduler-border">Chi tiết hóa đơn</legend>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <strong style="align-content: center">Tên</strong>
                                        </div>
                                        <div class="col-sm-1">
                                            <strong style="align-content: center">Số lượng</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong style="align-content: center">Đơn giá</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <strong style="align-content: center">Thành tiền</strong>
                                        </div>
                                    </div>
                                    <div id="receiptWrapper">
                                        @{
                                            int index = 0;
                                            double total = 0;
                                            double qtyPrice = 0;
                                            foreach (var detail in receipt.ReceiptDetails)
                                            {
                                                {
                                                    index++;
                                                }

                                                <div id="row_@index" class="form-group">
                                                    <div class="col-sm-6">
                                                        <input id="item_name_@index" value="@detail.UtilityService.Name" name="" type="text" class="form-control order-item">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <input id="item_qty_@index" value="@detail.Quantity.Value.ToString("N0")" type="text" class="form-control order-item-qty">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <input id="item_unit_price_@index" value="@detail.UnitPrice.Value.ToString("N0")" type="text" class="form-control order-item-price">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @{
                                                qtyPrice = (detail.UnitPrice * detail.Quantity).Value;
                                                        }
                                                        <input id="item_qty_price_@index" readonly="readonly" value="@qtyPrice.ToString("N0")" name="" type="text" class="form-control total-order">
                                                    </div>
                                                    @{
                                                if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_UNPUBLISHED)
                                                {
                                                    <span class="btn btn-danger btn-xs rmv-order-item" onclick="deleteItem(@index)"><i class="fa fa-times"></i></span>
                                                }
                                                    }

                                                    <input type="hidden" id="item_id_@index" value="@detail.Id" name="" />
                                                </div>
                                                {
                                                    total += (detail.UnitPrice * detail.Quantity).Value;
                                                }
                                            }
                                        }
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-3">
                                            @{
                                                if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_UNPUBLISHED)
                                                {
                                                    <span id="addNewRow" name="addNewRow" class="btn btn-stroke btn-primary"><i class="fa fa-plus"> Thêm</i></span>
                                                }
                                            }

                                        </div>
                                    </div>
                                    <div class="form-group" style="font-size: 20px; text-align: right">
                                        <div class="col-sm-offset-7 col-sm-2">
                                            <strong style="align-content: center">Tổng cộng</strong>
                                        </div>
                                        <div class="col-sm-2">
                                            <label id="total">@total.ToString("N0")</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="form-horizontal">
                            <div class="form-group">
                                @{
                                    if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_UNPUBLISHED)
                                    {
                                        <div class="col-md-offset-9 col-md-1">
                                            <span id="btnPublished" onclick="changeStatusReceipt(@receipt.Id, @User.Identity.GetUserId(), @SLIM_CONFIG.RECEIPT_STATUS_UNPAID)" class="btn btn-info"><i class="fa fa-reply"></i> Công bố</span>
                                        </div>
                                        <div class="col-md-1">
                                            <span id="btnUpdate" onclick="updateReceipt(@User.Identity.GetUserId())" class="btn btn-primary"><i class="fa fa-pencil"></i> Cập nhật</span>
                                        </div>
                                        <div class="col-md-offset-10 col-md-2">
                                            <span id="btnPaid" onclick="changeStatusReceipt(@receipt.Id, @User.Identity.GetUserId(), @SLIM_CONFIG.RECEIPT_STATUS_PAID)" class="btn btn-success hide"><i class="fa fa-check"></i> Thanh toán</span>
                                        </div>
                                    }
                                    else if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_UNPAID)
                                    {
                                        <div class="col-md-offset-10 col-md-2">
                                            <span id="btnPaid" onclick="changeStatusReceipt(@receipt.Id, @User.Identity.GetUserId(), @SLIM_CONFIG.RECEIPT_STATUS_PAID)" class="btn btn-success"><i class="fa fa-check"></i> Thanh toán</span>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        window.index = (@index);
        $("#addNewRow").on("click", function () {
            window.index++;
            var tag = "<div id=\"row_" + index + "\" class='form-group'>" +
                            "<div class='col-sm-6'><input id=\"item_name_" + index + "\" type='text' class='form-control order-item'></div>" +
                            "<div class='col-sm-1'><input type='text' id=\"item_qty_" + index + "\" class='form-control order-item-qty'></div>" +
                            "<div class='col-sm-2'><input id=\"item_unit_price_" + index + "\"type='text' class='form-control order-item-price'></div>" +
                            "<div class='col-sm-2'><input id=\"item_qty_price_" + index + "\" type='text' readonly='readonly' class='form-control'></div>" +
                            "<input type='hidden' id=\"" + "item_id_" + index + "\" value='0'  />" +
                            "<span class='btn btn-danger btn-xs' onclick='deleteItem(\"" + index + "\")'><i class='fa fa-times'></i></span>" +
                        "</div>";
            $("#receiptWrapper").append(tag);
        });
    });
    function deleteItem(id) {
        $("#row_" + id)[0].parentNode.removeChild($("#row_" + id)[0]);
    }

    function updateReceipt(fromUserId) {
        var contentObj = $("#receiptWrapper > .form-group");
        var numberOfRow = contentObj.length;
        var receiptName = $("#receiptTitle").val();
        var receiptDesc = $("#receiptDesc").val();
        var receiptHouseName = $("#houseName").val();
        var receiptId = document.getElementById("updateOrder").dataset.receiptid;
        var userId = fromUserId;

        var listItem = [];
        if (numberOfRow !== 0) {
            for (var i = 0; i < numberOfRow; i++) {
                var rowIdStr = $(contentObj[i]).prop("id").split("row_");
                var id = rowIdStr[1];
                var name = $("#item_name_" + id).val();
                var qty = $("#item_qty_" + id).val();
                var unitPrice = $("#item_unit_price_" + id).val();
                var receipDetailId = $("#item_id_" + id).val();
                if (name && qty && unitPrice) {
                    var item = {
                        RecDetailId: receipDetailId,
                        Name: name,
                        UnitPrice: unitPrice,
                        Quantity: qty
                    };
                    listItem.push(item);
                }
            }
        }

        var orderItem = {
            Creator: userId,
            ReceiptId: receiptId,
            ReceiptTitle: receiptName,
            ReceiptDesc: receiptDesc,
            ReceiptHouseName: receiptHouseName,
            ListItem: listItem
        };

        $.ajax({
            type: "POST",
            url: "/Management/ManageReceipt/UpdateReceipt",
            data: $.param(orderItem),
            success: function (data) {
                if (data.StatusCode === 0) {
                    $("#createReceiptSuccessNoti").removeClass("hide").addClass("show");
                    setTimeout(function () {
                        $("#createReceiptSuccessNoti").removeClass("show").addClass("hide");
                        $("#createNewOrder").reset();
                        $("#createNewOrder").closest('form').find("input[type=text], textarea").val("");
                    }, 3000);

                    $("#receiptWrapper").load("/Management/ManageReceipt/ReceiptDetailItemList?receiptId="+ document.getElementById("updateOrder").dataset.receiptid);

                } else if (data.StatusCode === 5) {
                    location.href = "/Management/ManageReceipt/View";
                }else {
                    $("#createReceiptFailedNoti").removeClass("hide").addClass("show");
                    setTimeout(function () {
                        $("#createReceiptFailedNoti").removeClass("show").addClass("hide");
                    }, 3000);
                }
            },
            error: function () {
            }
        });
    }
    function changeStatusReceipt(receiptId,userId, mode) {
        $.ajax({
            type: "get",
            url: "/Management/ManageReceipt/UpdateStatus",
            data: {
                ReceiptId: receiptId,
                Status: mode,
                UserId: userId
            },
            success: function(data) {
                if (data.StatusCode !== -1) {
                    if (data.Data.paymentDate === undefined) {
                        $("#unpublished").addClass("hide");
                        $("#btnUpdate").addClass("hide");
                        $("#btnPublished").addClass("hide");

                        $("#unPaid").removeClass("hide");
                        $("#btnPaid").removeClass("hide");
                        $(".rmv-order-item").addClass("hide");
                        $("#addNewRow").addClass("hide");

                    }else {
                        $("#unPaid").addClass("hide");
                        $("#paid").removeClass("hide");
                        $("#btnPaid").addClass("hide");
                        $("#paidDate").val(data.Data.paymentDate);
                    }
                }
            }
        });
    }
</script>