@using AMS.Constant
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ViewReceiptDetail";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    Receipt receipt = ViewBag.receipt;
}
<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/Home/ManageReceipt/View/@User.Identity.GetUserId()"><i class="fa fa-file-text-o"></i> Hóa đơn</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray"><i class="fa fa-info-circle"></i> Xem hóa đơn chi tiết</div>
        <div class="panel-body">
            <form id="createNewOrder" class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Thông tin hóa đơn</legend>
                            <div class="form-group">
                                <label for="receiptTitle" class="col-md-2 control-label">Tiêu đề</label>
                                <div class="col-md-10">
                                    <input readonly="readonly" value="@receipt.Title" id="receiptTitle" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="houseBlock" class="col-md-2 control-label">Người tạo</label>
                                <div class="col-md-5">
                                    <input readonly="readonly" value="@receipt.User.Fullname" id="creator" type="text" class="form-control">
                                </div>
                                <label for="createDate" class="col-md-2 control-label">Ngày tạo</label>
                                <div class="col-md-3">
                                    @{
                                        string date = receipt.CreateDate.Value.ToString(AmsConstants.DateFormat);
                                    }
                                    <input readonly="readonly" value="@date" id="createDate" type="text" class="form-control">
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="houseBlock" class="col-md-2 control-label">Trạng thái</label>
                                <div class="col-md-5">
                                    @{
                                        if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_PAID)
                                        {
                                            <span class="btn btn-success">Đã thanh toán</span>
                                        }
                                        else if (receipt.Status == SLIM_CONFIG.RECEIPT_STATUS_UNPAID)
                                        {
                                            <span class="btn btn-danger ">Chưa thanh toán</span>
                                        }
                                    }
                                </div>
                                <label for="paidDate" class="col-md-2 control-label">Ngày thanh toán</label>
                                <div class="col-md-3">
                                    @{
                                        string paidDateStr = "";
                                        if (null == receipt.PaymentDate)
                                        {
                                            paidDateStr = "Chưa thanh toán";
                                        }
                                        else
                                        {
                                            paidDateStr = receipt.PaymentDate.Value.ToString(AmsConstants.DateFormat);
                                        }
                                    }
                                    <input id="paidDate" type="text" value="@paidDateStr" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="receiptDesc" class="col-md-2 control-label">Mô tả</label>
                                <div class="col-md-10">
                                    <textarea id="receiptDesc" readonly="readonly" class="form-control" rows="3">@receipt.Description</textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <fieldset class="scheduler-border less-padding">
                            <legend class="scheduler-border">Chi tiết hóa đơn</legend>
                            <div class="table-responsive">
                                <table class="table v-middle table-bordered table-striped" id="receiptDetailTable">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Tên</th>
                                            <th>Số lượng</th>
                                            <th>Đơn giá</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            double total = 0;
                                            double qtyPrice = 0;
                                            foreach (var detail in receipt.ReceiptDetails)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>@detail.UtilityService.Name</td>
                                                    <td>@detail.Quantity.Value.ToString("N0")</td>
                                                    <td>@detail.UnitPrice.Value.ToString("N0")</td>
                                                    @{
                                                        qtyPrice = (detail.UnitPrice*detail.Quantity).Value; 
                                                    }
                                                    <td>@(qtyPrice.ToString("N0"))</td>
                                                </tr>
                                                {
                                                    total += (detail.UnitPrice*detail.Quantity).Value;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="form-group" style="font-size: 20px; text-align: right">
                                    <div class="col-sm-offset-8 col-sm-2">
                                        <strong style="align-content: center">Tổng cộng</strong>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="lbl">@total.ToString("N0")</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var datatable5 = $("#receiptDetailTable").DataTable({
            "bLengthChange": false,
            "bPaginate": false,
            "bInfo": false
        });
        generateTableIndex(datatable5);
    });
</script>