@model AMS.ViewModel.SurveyViewModel
@{
    ViewBag.Title = "DetailSurvey";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
    Survey surveys = ViewBag.Survey;
    List<Question> questions = ViewBag.Question;
    List<List<Answer>> answers = ViewBag.Answer;
}



<div class="col-md-12">
    <div class="panel panel-default">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
               
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Survey/Survey">Trang chính</a></li>
                    <li><a href="#">Page 1</a></li>
                   
                </ul>
            </div>
        </nav>
        <div class="panel-heading panel-heading-gray"><h4>Cập nhập chi tiết khảo sát</h4>
        </div>
        <div class="panel-body">
            @*<form class="form-horizontal" role="form" method="post">*@
            <div class="table-responsive">
                @using (Html.BeginForm("UpdateSurvey", "Survey", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Tiêu đề</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="Title" name="Title" style="width: 330px" value="@surveys.Title">
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Ngày bắt đầu</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(m => m.StartDate, new {@class = "form-control", style = "width: 330px", @Value = surveys.StartDate})
                        </div>
                    </div>
                     @*<div class="form-group">
                         <label for="inputEmail3" class="col-sm-3 control-label">Ngày bắt đầu</label>
                         @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                         {
                             Text = "Đang mở",
                             Value = "Đang mở"
                         });
                    listItems.Add(new SelectListItem
                         {
                             Text = "Đã đóng",
                             Value = "Đã đóng",
                             Selected = true
                         });
                   
                         }
                                <div class="col-sm-7">
                                   @Html.DropDownListFor(model => model.Status, listItems, "-- Chon Status --")

                                </div>
                            </div>*@
                    int ii = 1;

                    int i = 0;
                    int count = answers.Count;
                    foreach (var item in questions)
                    {
                        if (i < count)
                        {
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Câu Hỏi @ii:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" style="width: 330px" id="question" name="question" value="@item.QuestionContent">
                                    @{
                                        List<Answer> a = answers.ElementAt(i);
                                        int counts = 1;
                                        foreach (var b in a)
                                        {
                                           
                                            
                                             @Html.TextBoxFor(m => m.Id, new {@type = "hidden", @Value = surveys.Id})
                                            <label for="inputEmail3" class="col-sm-2 control-label">Câu trả lời:</label>
                                            <input type="hidden" id="count" name="count" value="@counts"/>
                                            <input type="text" class="form-control" style="width: 200px" id="anwser1" name="anwser1" value="@b.AnswerContent">

                                            counts++;
                                        }
                                        i++;
                                        ii++;

                                    }

                                </div>
                            </div>
                   

                        }

                    }
                    <div class="form-group">
                        <div class="col-sm-9 col-lg-offset-3">
                            @*<a href="@Url.Action("UpdateSurvey", "Survey", new { surveyId =@surveys.Id})" class="fa fa-list-alt">Lưu..</a>*@
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>

                }


            </div>
            @*</form>*@
        </div>

    </div>
</div>
<script>
    $(function () {
        $("#StartDate").datepicker();
        $("#StartDate").attr('readOnly', 'true');
    });
</script>