@model AMS.ViewModel.SurveyViewModel
@{
    ViewBag.Title = "DoDetailSurvey";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
    Survey surveys = ViewBag.Survey;
 
    List<Answer> answers = ViewBag.Answer;
}
<style>
    .binh {
        border-color: #1ABC9C;
        box-shadow: none;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<div class="col-sm-offset-1 col-sm-10">
    <div class="panel panel-default">
        <nav class="navbar navbar-default">
            <nav class="navbar navbar-default binh">
                <div class="container-fluid binh">

                    <ul class="nav navbar-nav binh">
                        <li class="active binh"><a href="/Survey/Survey"><i class="glyphicon glyphicon-home"></i><b>Trang chính</b></a></li>


                    </ul>
                </div>
            </nav>
        </nav>
        <div class="panel-heading panel-heading-gray">
            <h4>Cập nhập chi tiết khảo sát</h4>
        </div>
        <div class="panel-body">
            <fieldset class="scheduler-border less-padding">
                @*<form class="form-horizontal" role="form" method="post">*@
                <div class="table-responsive">
                    @using (Html.BeginForm("DoDetailSurvey", "Survey", FormMethod.Post))
                    {
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <legend class="scheduler-border">Thông tin survey</legend>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Tiêu đề</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control binh" id="Title" name="Title" style="width: 330px" value="@surveys.Title"><br>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Ngày bắt đầu</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control binh", style = "width: 330px", @Value = surveys.StartDate })
                                    </div>
                                </div>
                            </div>
                        </div>
                        int ii = 1;
                        int tem = 1;
                        int i = 0;
                        int count = answers.Count;
                            if (i < count)
                            {
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-8">
                                        <fieldset class="scheduler-border less-padding">
                                            <legend class="scheduler-border">Câu hỏi</legend>
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-3 control-label">Câu Hỏi @ii:</label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control binh" style="width: 330px" id="question" name="question" value="@surveys.Question"><br>
                                                    @Html.TextBoxFor(m => m.Id, new { @type = "hidden", @Value = surveys.Id })
                                                </div>
                                            </div>
                                            <div class="form-group">

                                                @{
                              
                                int counts = 1;
                                                   
                                foreach (var b in answers)
                                {
                                    <label for="inputEmail3" class="col-sm-3 control-label">Câu trả lời:</label>
                                    <div class="col-sm-1">
                                        @Html.RadioButtonFor(m => m.AnswerContent,b.Id, new { @Value = b.AnswerContent })


                                        @*<input type="radio" id="@b.Id" name="answer" value="@b.AnswerContent">*@
                                    </div>
                                                    <div class="col-sm-7">
                                                        <input type="hidden" id="answerId" name="answerId" value="@b.Id" />
                                                        <input type="hidden" id="count" name="count" value="@counts" />
                                                        @*<input type="radio" name="gender" value="@b.AnswerContent">*@
                                                        <input type="text" class="form-control binh" style="width: 230px" id="anwser1" name="anwser1" value="@b.AnswerContent">


                                                    </div>
                                    counts++;
                                }
                                i++;
                                ii++;
                                                    tem++;                 
                                                }
                                            </div>

                                        </fieldset>
                                    </div>
                                </div>
                            }

                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                @*<a href="@Url.Action("UpdateSurvey", "Survey", new { surveyId =@surveys.Id})" class="fa fa-list-alt">Lưu..</a>*@
                                <button type="submit" onclick="addCommentByAjax()" class="btn btn-primary">Lưu</button>
                                <button type="reset" class="btn btn-primary">Xóa hết</button>
                            </div>

                        </div>

                    }


                </div>

             
            </fieldset>
        </div>

    </div>
</div>
<script>
    function addCommentByAjax() {
      
        var payload = {
            model: {
                // whatever properties you might have
            },
            choiceId: $("#anwser1").val()
        };
        $.ajax({
            type: "POST",
            url: '/Survey/DoDetailSurvey',
            contentType: 'application/json',
            data: JSON.stringify(payload)
        });
        
    }
    //$('#btnComment').click(function () {
    //    var choiceId = "1";

    //    $.ajax({
    //        url: '/Survey/DoDetailSurvey',
    //        data: { 'choiceId': choiceId },
    //        type: "Post",
    //        cache: false,
    //        success: function (response) {
    //            //do something with response
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert('error occured');
    //        }
    //    });
    //});
    //function addCommentByAjax() {
    //    $.ajax({
    //        type: "POST",
    //        url: '/Survey/DoDetailSurvey',
         
    //        data: {
    //            choiceId: "1"
    //        }
      
        
    //    });
    //}
    $(function () {
        $("#StartDate").datepicker();
        $("#StartDate").attr('readOnly', 'true');
    });
    $(document).ready(function () {
        $("#btnSave").click(function () {
            $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: '/Survey/DoDetailSurvey', // Controller/View
                data: { //Passing data
                    choiceId: "aaaaa"//Reading text box values using Jquery


                }

            });

        });
    });
</script>

<script src="~/Scripts/jquery.validate.min.js"></script>