@using AMS.Service
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "DoSurvey";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    List<Poll> listSurveys = ViewBag.ListSurvey;
    User currentUser = ViewBag.currentUser;
    House currentHouse = ViewBag.currentHouse;
    List<int> listPollId = ViewBag.ListUserAnswer;

    List<UserAnswerPoll> listUserAnswer = new List<UserAnswerPoll>();
    UserAnswerService userAnswerService = new UserAnswerService();
    BlockPollService BlockPollService = new BlockPollService();
    string alerts = ViewBag.alerts;

    PollService surveyService = new PollService();
 
    UserServices userServices = new UserServices();
 
    string alert = "";
    foreach (var item in listSurveys)
    {
        listUserAnswer = (userAnswerService.GetListUserAnswerPollsByPollId(item.Id));
        User currentUsers = userServices.FindById(int.Parse(User.Identity.GetUserId()));
        int k = 0;
        if (item.Priority == 1)
        {
            foreach (var VARIABLE in listUserAnswer)
            {


                if (VARIABLE.UserId == currentUsers.Id)
                {
                    k++;

                }

            }
            if (k != 1)
            {
                alert = "Bạn Có Bình Chọn Cần phải Làm!";
            }
        }
    }
    <style>
        

        .modalDialog {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99999;
            display: none;
            opacity: 1;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
        }

            .modalDialog > div {
                width: 400px;
                position: relative;
                margin: 10% auto;
                padding: 5px 20px 13px 20px;
                border-radius: 10px;
                background: #fff;
                background: #339999;
            }


        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }

            .close:hover {
                background: #00d9ff;
            }
         .button {
             display: block;
             width: 70px;
             height: 35px;
             background: #4E9CAF;
             padding: 7px;
             text-align: center;
             border-radius: 5px;
             color: white;
             font-weight: bold;
         }
        .binh {
            border-color: #1ABC9C;
            box-shadow: none;
        }

        .media-item-ctr-1 {
            /*border-bottom: 1px solid #e5e3da;*/
            padding-bottom: 1em;
            margin-top: 1em;
            width: 100%;
            position: relative;
            float: left;
        }

        .media-item-ctr-1 .media-item-thumbnail {
            display: block;
            position: relative;
        }

        .media-ribbon {
            position: absolute;
            top: 15px;
            left: -8px;
            background-color: #ff4500;
            padding: 0 3px;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 24px;
            font-size: 11px;
        }

        .media-item-ctr-1 .media-item-overview {
            position: relative;
            min-height: 140px;
            padding-bottom: 15px;
        }

        .media-item-ctr-1 .media-item-overview .media-item-cat {
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
        }

        .media-item-ctr-1 .media-item-overview .media-meta-data {
            margin-top: 10px;
            color: #b5b3ac;
            font-size: 11px;
        }

        .media-item-ctr-1 .social-share-ctr {
            position: absolute;
            right: 10px;
            bottom: 20px;
        }

        .btn-facebook {
            background-color: #395693;
            color: #fff;
        }

        .btn-twitter {
            background-color: #00acee;
            color: #fff;
        }
    </style>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<body onload="paging()">
    <div class="heading-tab">
        <i class="fa fa-list">Bình Chọn</i>
        <ul class="nav nav-tabs pull-right" role="tablist">
            
                    <li>
                        <a href="/Survey/ViewHistory"><i class="fa fa-history"></i>Các Bình Chọn Bạn Đã Làm</a>
                    </li>
               
            <li class="active">
                <a href=""><i class="fa fa-book"></i>Danh Sách Các Bình Chọn</a>
            </li>
           
                
              
        </ul>
    </div>

    <div class="col-sm-offset-1 col-md-8">
        @{
            if (!alert.Equals(""))
            {
               
            }
            foreach (var item in listSurveys)
            {
                if (DateTime.Now >= item.PublishDate)
                {
                    listUserAnswer = (userAnswerService.GetListUserAnswerPollsByPollId(item.Id));
                    List<BlockPoll> listBlockPolls = BlockPollService.FindByPollId(item.Id);
                    int k = 0;
                    int p = 0;
                    if (listSurveys.Count != 0)
                    {
                        if (item.Mode == 1 && item.Status == 1)
                        {
                            foreach (var VARIABLE in listUserAnswer)
                            {
                                if (VARIABLE.UserId == currentUser.Id)
                                {
                                    k++;
                                }
                            }
                            foreach (var obj in listBlockPolls)
                            {
                                if (currentUser.HouseId != null)
                                {
                                    if (obj.BlockId == BlockPollService.FindBlockIdByHouseId(currentUser.HouseId.Value).BlockId)
                                    {
                                        p++;
                                    }
                                }

                            }
                            if ((k != 1 && p == 1 && item.Status == 1) || (k != 1 && p == 0 && item.Status == 1))
                            //if (k != 1)
                            {
                                <fieldset class="scheduler-border poll less-padding aass">
                                    <div class="media-item-ctr-1">
                                        <div class="col-xs-5 col-sm-3">
                                            <a class="media-item-thumbnail" href="@Url.Action("DoDetailSurvey", "Survey", new { PollId = @item.Id })">
                                                <img class="img-responsive" src="@item.ImageUrl">
                                                <div class="media-ribbon">
                                                    <i class="fa fa-heart"></i> @item.Id
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-7 col-sm-9 media-item-overview">

                                            <span style="font-size: 17px">
                                                <a href="@Url.Action("DoDetailSurvey", "Survey", new { PollId = @item.Id })">@item.Question</a>
                                            </span>
                                            
                                            <div>
                                                <span style="font-size: 14px">Ngày kết thúc:</span>  @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.EndDate))
                                            </div>
                                            <span style="font-size: 14px;margin-top: 20px">
                                                <span style="font-size: 14px">Số người tham gia:</span>  @listUserAnswer.Count người 
                                            </span>
                                           
                                            @{
                                if (item.Priority == 1)
                                {
                                    <h3> <span class="label label-warning">Bắt Buộc</span></h3>

                                }
                                            }


                                        </div>

                                    </div>
                                </fieldset><br/>
                            }
                        }
                        else if (item.Mode == 2 && currentUser.RoleId == 4 && item.Status == 1)
                        {
                            foreach (var VARIABLE in listUserAnswer)
                            {
                                if (VARIABLE.UserId == currentUser.Id)
                                {
                                    k++;
                                }
                            }
                            foreach (var obj in listBlockPolls)
                            {
                                if (obj.BlockId == BlockPollService.FindBlockIdByHouseId(currentUser.HouseId.Value).BlockId)
                                {
                                    p++;
                                }
                            }
                            if (k != 1 && p == 1 && item.Status == 1)
                            // if (k != 1)
                            {
                                <fieldset class="scheduler-border poll less-padding aass">
                                    <div class="media-item-ctr-1">
                                        <div class="col-xs-5 col-sm-3">
                                            <a class="media-item-thumbnail" href="@Url.Action("DoDetailSurvey", "Survey", new { PollId = @item.Id })">
                                                <img class="img-responsive" src="@item.ImageUrl">
                                                <div class="media-ribbon">
                                                    <i class="fa fa-heart"></i> @item.Id
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-xs-7 col-sm-9 media-item-overview">

                                            <span style="font-size: 17px">
                                                <a href="@Url.Action("DoDetailSurvey", "Survey", new { PollId = @item.Id })">@item.Question</a>
                                            </span>
                                           
                                            <div class="media-meta-data">
                                                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.PublishDate))
                                            </div>
                                            @{
                                if (item.Priority == 1)
                                {
                                    <h3> <span class="label label-warning">Bắt Buộc</span></h3>

                                }
                                            }
                                        </div>
                                        <div class="social-share-ctr hidden-xs">


                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                        else if ((item.Mode == 3 && currentUser.RoleId == 4 && item.Status == 1) || (item.Mode == 3 && currentUser.RoleId == 3 && item.Status == 1))
                        {
                            foreach (var VARIABLE in listUserAnswer)
                            {
                                if (VARIABLE.UserId == currentUser.Id)
                                {
                                    k++;
                                }
                            }
                            foreach (var obj in listBlockPolls)
                            {
                                if (obj.BlockId == BlockPollService.FindBlockIdByHouseId(currentUser.HouseId.Value).BlockId)
                                {
                                    p++;
                                }
                            }
                            if (k != 1 && p == 1 && item.Status == 1)
                            // if (k != 1)
                            {
                              <fieldset class="scheduler-border poll less-padding aass">
                                <div class="media-item-ctr-1">
                                    <div class="col-xs-5 col-sm-3">
                                        <a class="media-item-thumbnail" href="@Url.Action("DoDetailSurvey", "Survey", new { PollId = @item.Id })">
                                            <img class="img-responsive" src="@item.ImageUrl">
                                            <div class="media-ribbon">
                                                <i class="fa fa-heart"></i> @item.Id
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-7 col-sm-9 media-item-overview">

                                        <span style="font-size: 17px">
                                            <a href="@Url.Action("DoDetailSurvey", "Survey", new { PollId = @item.Id })">@item.Question</a>
                                             </span>
                                           
                                            <div class="media-meta-data">
                                                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.PublishDate))
                                            </div>
                                            @{
                            if (item.Priority == 1)
                            {
                                    <h3> <span class="label label-warning">Bắt Buộc</span></h3>

                            }
                                            }
</div>
                                    <div class="social-share-ctr hidden-xs">
                                       

                                    </div>
                                </div>
                            </fieldset>
                        }
                    }
                   
                }

                else if (listSurveys.Count == 0)
                {

                }
                }
            }

        }



        <div class="w100 categoryFooter">

            <ul class="pagination" id="paginations">

                <li class="current"><a href="#">1</a></li>
                <li> <a href="#">2</a></li>
                <li> <a href="#">3</a></li>
                <li> <a href="#">4</a></li>
                <li> <a href="#">5</a></li>

            </ul>

        </div>








    </div>
</body>
<script>
    pageSize = 5;
    $('#label1').delay(2500).fadeOut('slow');
    showPage = function (page) {
        $(".content").hide();
        $(".content").each(function (n) {
            if (n >= pageSize * (page - 1) && n < pageSize * page)
                $(this).show();
        });
    }

    showPage(1);

    $("#pagin li a").click(function () {
        $("#pagin li a").removeClass("current");
        $(this).addClass("current");
        showPage(parseInt($(this).text()))
    });


    function paging() {
        var pageSize = 5;

        var showPage = function (page) {
            $(".aass").hide();
            $(".aass").each(function (n) {
                if (n >= pageSize * (page - 1) && n < pageSize * page)
                    $(this).show();
            });
        }

        showPage(1);


        $("#paginations li a").click(function () {
            $("#paginations li a").removeClass("current");
            $(this).addClass("current");
            showPage(parseInt($(this).text()))
        });
    }
</script>

