@using AMS.Constant
@using AMS.Service
@using Microsoft.AspNet.Identity
@model AMS.ViewModel.SurveyViewModel
@{
    ViewBag.Title = "DoSurvey";
    Layout = "~/Views/Home/_socialNetworkLayout.cshtml";
    List<Poll> listSurveys = ViewBag.ListSurvey;
    User currentUser = ViewBag.currentUser;
    House currentHouse = ViewBag.currentHouse;
    List<int> listPollId = ViewBag.ListUserAnswer;
    List<Poll> listSurveyss = ViewBag.ListSurveys;
    List<UserAnswerPoll> listUserAnswer = new List<UserAnswerPoll>();
    UserAnswerService userAnswerService = new UserAnswerService();
    BlockPollService BlockPollService = new BlockPollService();
    string alerts = ViewBag.alerts;

    PollService surveyService = new PollService();

    UserServices userServices = new UserServices();


    foreach (var item in listSurveys)
    {
        listUserAnswer = (userAnswerService.GetListUserAnswerPollsByPollId(item.Id));
        User currentUsers = userServices.FindById(int.Parse(User.Identity.GetUserId()));
        int k = 0;
        if (item.Priority == 1)
        {
            foreach (var VARIABLE in listUserAnswer)
            {


                if (VARIABLE.UserId == currentUsers.Id)
                {
                    k++;

                }

            }
            if (k != 1)
            {

            }
        }
    }
    <style>
        .modalDialog {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 99999;
            display: none;
            opacity: 1;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
        }

            .modalDialog > div {
                width: 400px;
                position: relative;
                margin: 10% auto;
                padding: 5px 20px 13px 20px;
                border-radius: 10px;
                background: #fff;
                background: #339999;
            }


        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }

            .close:hover {
                background: #00d9ff;
            }

        .button {
            display: block;
            width: 70px;
            height: 35px;
            background: #4E9CAF;
            padding: 7px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        .binh {
            border-color: #1ABC9C;
            box-shadow: none;
        }

        .media-item-ctr-1 {
            /*border-bottom: 1px solid #e5e3da;*/
            padding-bottom: 1em;
            margin-top: 1em;
            width: 100%;
            position: relative;
            float: left;
        }

            .media-item-ctr-1 .media-item-thumbnail {
                display: block;
                position: relative;
            }

        .media-ribbon {
            position: absolute;
            top: 15px;
            left: -8px;
            background-color: #ff4500;
            padding: 0 3px;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 24px;
            font-size: 11px;
            margin-left: 15px;
        }

        .media-item-ctr-1 .media-item-overview {
            position: relative;
            min-height: 140px;
            padding-bottom: 15px;
        }

            .media-item-ctr-1 .media-item-overview .media-item-cat {
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                font-size: 12px;
            }

            .media-item-ctr-1 .media-item-overview .media-meta-data {
                margin-top: 10px;
                color: #b5b3ac;
                font-size: 11px;
            }

        .media-item-ctr-1 .social-share-ctr {
            position: absolute;
            right: 10px;
            bottom: 20px;
        }

        .btn-facebook {
            background-color: #395693;
            color: #fff;
        }

        .btn-twitter {
            background-color: #00acee;
            color: #fff;
        }
    </style>
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<body onload="paging()">



    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="heading-tab">
                <span class="tab-location"><i class="fa fa-sitemap" aria-hidden="true"></i> Bình Chọn</span>
                <ul class="nav nav-tabs pull-right" role="tablist">
                    <li>
                        <a href="/Survey/ViewHistory"><i class="fa fa-history"></i>Các Bình Chọn Bạn Đã Làm</a>
                    </li>
                    <li class="active">
                        <a href=""><i class="fa fa-book"></i>Danh Sách Các Bình Chọn </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">

                        <div class="col-md-offset-2 col-md-8">
                            @{
                                foreach (var item in listSurveyss)
                                {
                                    <div class="panel panel-primary" style="border-radius: 5px;">
                                        <div class="panel-heading">
                                            <h3 class="panel-title" style="line-height: 1.5;">
                                                <span style="font-size: 17px" class="glyphicon glyphicon-hand-right"></span> @item.Question
                                            </h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <a class="media-item-thumbnail" href="@Url.Action("DoDetailSurvey", "Survey", new {PollId = @item.Id})">
                                                        <img class="img-responsive" src="@item.ImageUrl">

                                                        @{if (item.Priority == 1)
                                                        {
                                                            <div class="media-ribbon">
                                                                <i class="fa fa-exclamation-circle"></i>Bắt buộc
                                                            </div>
                                                        }
                                                        }
                                                    </a>
                                                </div>
                                                <div class="col-md-9">
                                                    @using (Html.BeginForm("DoDetailSurvey", "Survey", FormMethod.Post))
                                                    {
                                                        @Html.TextBoxFor(m => m.Id, new { @type = "hidden", @Value = item.Id })
                                                        {
                                                            <ul class="list-group">
                                                                @if (item.Answer1 != null && !item.Answer1.Equals(""))
                                                                {
                                                                    <li class="list-group-item">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" name="answer" value="@item.Answer1">
                                                                                @item.Answer1
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                }
                                                                @if (item.Answer2 != null && !item.Answer2.Equals(""))
                                                                {
                                                                    <li class="list-group-item">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" name="answer" value="@item.Answer2">
                                                                                @item.Answer2
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                }
                                                                @if (item.Answer3 != null && !item.Answer3.Equals(""))
                                                                {
                                                                    <li class="list-group-item">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" name="answer" value="@item.Answer3">
                                                                                @item.Answer3
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                }
                                                                @if (item.Answer4 != null && !item.Answer4.Equals(""))
                                                                {
                                                                    <li class="list-group-item">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" name="answer" value="@item.Answer4">
                                                                                @item.Answer4
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                }
                                                                @if (item.Answer5 != null && !item.Answer5.Equals(""))
                                                                {
                                                                    <li class="list-group-item">
                                                                        <div class="radio">
                                                                            <label>
                                                                                <input type="radio" name="answer" value="@item.Answer5">
                                                                                @item.Answer5
                                                                            </label>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="pull-left">
                                                        <button type="submit" onclick="addCommentByAjax()" class="btn btn-sm btn-info">Bình chọn</button>
                                                   
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="pull-right">
                                                        <div class="col-md-12">
                                                            <i class="fa fa-calendar"></i> <span style="font-size: 14px;">Kết thúc:</span> <strong>@Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.EndDate))</strong>
                                                        </div>
                                                        <div class="col-md-12">
                                                            @{if (listUserAnswer.Count == 0)
                                                            {
                                                                <span style="font-size: 14px; margin-top: 20px">
                                                                    <i class="fa fa-users"></i>  <span style="font-size: 14px;">Tham gia:</span> <strong>Chưa có</strong>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span style="font-size: 14px; margin-top: 20px">
                                                                    <i class="fa fa-users"></i>  <span style="font-size: 14px;">Tham gia:</span>  <strong>@listUserAnswer.Count</strong> người
                                                                </span>
                                                            }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                }
                                <div class="w100 categoryFooter">

                                    <ul class="pagination" id="paginations">

                                        <li class="current"><a href="#">1</a></li>
                                        <li> <a href="#">2</a></li>
                                        <li> <a href="#">3</a></li>
                                        <li> <a href="#">4</a></li>
                                        <li> <a href="#">5</a></li>

                                    </ul>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    pageSize = 5;
    $('#label1').delay(2500).fadeOut('slow');
    showPage = function (page) {
        $(".content").hide();
        $(".content").each(function (n) {
            if (n >= pageSize * (page - 1) && n < pageSize * page)
                $(this).show();
        });
    }

    showPage(1);

    $("#pagin li a").click(function () {
        $("#pagin li a").removeClass("current");
        $(this).addClass("current");
        showPage(parseInt($(this).text()))
    });


    function paging() {
        var pageSize = 5;

        var showPage = function (page) {
            $(".aass").hide();
            $(".aass").each(function (n) {
                if (n >= pageSize * (page - 1) && n < pageSize * page)
                    $(this).show();
            });
        }

        showPage(1);


        $("#paginations li a").click(function () {
            $("#paginations li a").removeClass("current");
            $(this).addClass("current");
            showPage(parseInt($(this).text()))
        });
    }
</script>

