@model AMS.ViewModel.SurveyViewModel
@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Management/__ManagementLayout.cshtml";
    List<Survey> listSurveys = ViewBag.ListSurvey;
    List<string> listBlock = ViewBag.ListBlock;
    List<string> listFloor = ViewBag.ListFloor;
    string alerts = ViewBag.alerts;
    <style>
        .button {
            display: block;
            width: 70px;
            height: 35px;
            background: #4E9CAF;
            padding: 7px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        .form-control:focus {
            border-color: #1ABC9C;
            box-shadow: none;
        }

        .binh {
            border-color: #1ABC9C;
            box-shadow: none;
        }
        /*//import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');*/

        .isa_info, .isa_success, .isa_warning, .isa_error {
            margin: 10px 0px;
            padding: 12px;
        }

        .isa_info {
            color: #00529B;
            background-color: #BDE5F8;
        }

        .isa_success {
            color: #4F8A10;
            background-color: #DFF2BF;
        }

        .isa_warning {
            color: #9F6000;
            background-color: #FEEFB3;
        }

        .isa_error {
            color: #D8000C;
            background-color: #FFBABA;
        }

            .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
                margin: 10px 22px;
                font-size: 2em;
                vertical-align: middle;
            }
        .img_border {
            border: 2px solid red;
        }
    </style>
}
<link href="~/Content/css/datatables.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/datatables.js"></script>
<body @*onload="paging()"*@>
    <div class="col-md-12">
        <div class="panel panel-default binh">
            <div class="panel-body binh">
                <ul class="nav nav-tabs binh" role="tablist" id="rowTab">
                    <li class="active binh">
                        <a href="#thismonth" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-pencil"></i> <b>Tạo survey</b></a>
                    </li>
                    <li class="binh">
                        <a href="#graph" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-list"></i> <b>Xem tất cả survey</b></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="thismonth">
                        @using (Html.BeginForm("Surveys", "Survey", FormMethod.Post))
                        {
                            <div class="form-group" id="form">

                                <div class="col-sm-offset-2 col-sm-8">
                                    <fieldset class="scheduler-border less-padding">
                                        @{
                            if (alerts != null)
                            {
                                <div class="form-group">
                                    <label  class="col-sm-3 control-label"></label>
                                    <div class="col-sm-7" id="label1">
                                        @*<div class="alert alert-success" style="width: 330px">
                                                <strong><span class="label date-color label-gray center">Tao thanh cong</span></strong>
                                            </div>*@
                                        <div class="isa_success" style="width: 330px">
                                            <i class="fa fa-check"></i>
                                            @alerts
                                        </div>
                                    </div>
                                </div><br>
                            }
                                        }
                                        <legend class="scheduler-border">Chi tiết </legend>
                                        <div class="col-sm-9">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Tiêu đề</label>
                                                <div class="col-sm-7">
                                                    @*<input type="text" class="form-control" id="Title" name="Title" style="width: 330px"><br>*@
                                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control binh", @name = "Title", @id = "Title" })<br />
                                                    <input id="image_from_list" name="image_from_list" type="hidden" value="" />
                                                </div>
                                            </div><br>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Hình đại điện</label>
                                                <div class="col-sm-7">
                                                    <button class="btn btn-primary" style="margin-bottom: 20px" data-toggle="modal" data-target="#myModal">Bấm vào để chọn hình</button><br />

                                                </div><br/>
                                            </div><br/>
                                            <div class="form-group">
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-7">
                                                    <label class="checkbox-inline"><input type="checkbox" name="blockFilter" id="check" value="1"
                                                                                          onchange="if (this.value == '1') { document.getElementById('other').style.visibility = 'visible' }
 if (! document.getElementById('check').checked) { document.getElementById('other').style.visibility = 'hidden' };"
                                                   >Lọc Theo Khu</label>
                                                </div><br />
                                            </div><br />
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Ngày bắt đầu</label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.PublishDate, new { @class = "form-control binh", onclick = "bInfos()" })<br>
                                                    @Html.ValidationMessageFor(m => m.PublishDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div><br>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Ngày kết thúc</label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.EndDate, new
                                   {
                                       @class = "form-control binh",

                                       onclick = "bInfos()"
                                   })<br>
                                                    @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div><br>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Đối tượng</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control binh" name="people"
                                                           >

                                                        <option value="1">Tất Cả </option>
                                                        <option value="2">Tất Cả Chủ Nhà</option>
                                                        <option value="3">Tất Cả Cư Dân</option>

                                                    </select><br>

                                                </div>
                                            </div><br>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label"> Bắt buộc</label>

                                         
                                                <div class="radio col-sm-7">
                                                    <label><input type="radio" value="1" name="priority">Có</label>
                                                    <label><input type="radio" value="0" name="priority">Không</label>
                                                </div>

                                            </div><br>
                                            <div class="form-group" id="other" style="visibility:hidden;">
                                                <label class="col-sm-3 control-label">Khu</label>
                                                <div class="col-sm-7">

                                                    @{
                            foreach (var item in listBlock)
                            {
                                        <label class="checkbox-inline"><input type="checkbox" name="block"  value="@item">@item</label>

                            }
                                                    }
                                                </div>
                                            </div><br /><br />
                                        </div>
                                        <div class="col-sm-3"><img id="review" src="" width="100%" /></div>
                                     

                                    </fieldset>
                                </div>
                              
                            </div>
                            <div class="col-sm-offset-3 col-sm-6">
                                <fieldset class="scheduler-border less-padding" id="row">
                                    <legend class="scheduler-border" id="row">Câu hỏi </legend>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Câu hỏi</label>
                                            <div class="col-sm-7">
                                                <input type="text" id="questions" class="form-control binh" name="question"><br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Câu trả lời</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control binh" id="idd1" onblur="bInfo()" name="anwser1">  <label id="label1"></label><br>
                                                <input type="hidden" name="count" value="1" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control binh" id="idd2" onblur="bInfo()" name="anwser1">  <br>
                                                <input type="hidden" name="count" value="2" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control binh" id="idd3" onblur="bInfo()" name="anwser1"> <br>
                                                <input type="hidden" name="count" value="3" />
                                            </div>
                                        </div>
                                        <div class="form-group" id="aa">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control binh" id="idd4" onblur="bInfo()" name="anwser1"> <br>
                                                <input type="hidden" name="count" value="4" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3">
                                                <span id="addNewForm" name="addNewForm" class="btn btn-info"><i class="fa fa-plus">Thêm câu trả lời</i></span>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </fieldset>
                            </div>
                            <div class="panel-footer">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-offset-9 col-md-2">
                                            @*<span class="btn btn-primary">Gửi yêu cầu</span>*@
                                            <button type="submit" class="btn btn-primary">Tạo Survey</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="tab-pane fade" id="graph">
                        <div class="panel panel-default binh">
                            <div class="table-responsive binh">
                                <table class="table table-hover table-bordered binh" id="myTables">
                                    <thead>
                                        <tr>
                                            <th>Số Thứ tự</th>
                                            <th>Tiêu đề</th>

                                            <th>Ngày đăng</th>
                                            <th>Ngày đóng</th>
                                            <th>Trạng thái </th>
                                            <th> </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in listSurveys)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-sm-9" style="width: 100px">
                                                                @*<input type="text" disabled="disabled" class="form-control binh" id="fullname" value="@item.Id">*@
                                                                @item.Id
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-sm-9">
                                                                <input type="hidden" class="form-control" id="surveyId" value="@item.Id">
                                                                <span class="">@item.Description</span>
                                                                @*<input type="text" disabled="disabled" class="form-control binh" id="fullname" value="@item.Description">*@
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-sm-9">
                                                                @*<span class="label date-color label-warning">@item.StartDate</span>*@
                                                                @*<input type="text" disabled="disabled" class="form-control" id="fullname" value="@item.StartDate">*@
                                                                @Html.TextBoxFor(m => m.PublishDate, new { @Value = Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.PublishDate)), @class = "date-color", @style = "width:100px", @disabled = "disabled" })


                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td >
                                                        <div class="form-group">
                                                            <div class="col-sm-9">
                                                                @*<span class="label date-color label-gray">@item.EndDate</span>*@
                                                                @*@Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.EndDate))*@
                                                                @Html.TextBoxFor(m => m.EndDate, new { @Value = Convert.ToString(string.Format("{0:MM/dd/yyyy}", item.EndDate)), @class = "date-color", @style = "width:100px", @disabled = "disabled" })
                                                                @*<input type="text" disabled="disabled" class="form-control" id="fullname" value="@item.EndDate">*@
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td >
                                                      
                                                        @{
                                                if (@item.EndDate >= DateTime.Now)
                                                {
                                                    <span class="label" style="background-color: #3366ff; font-size: 14px; color: white">Đang mở</span>

                                                }
                                                else
                                                {
                                                    <span class="label" style="background-color: #ff9999; font-size: 14px; color: white; ">Đã kết thúc</span>

                                                }
}

                                                    </td>

                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-sm-8">
                                                                <a href="@Url.Action("DeleteSurvey", "Survey", new {surveyId = @item.Id})" onclick="return myFunction()" class="button">Xóa</a>

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <div class="col-sm-9">

                                                                <a href="@Url.Action("DetailSurvey", "Survey", new {surveyId = @item.Id})" class="button">Chi Tiết</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }



                                    </tbody>
                                </table>
                                @*<div class="w100 categoryFooter binh">

                                    <ul class="pagination binh" id="paginations">

                                        <li class="current binh"><a href="#">1</a></li>
                                        <li class="binh"> <a href="#">2</a></li>
                                        <li class="binh"> <a href="#">3</a></li>
                                        <li class="binh"> <a href="#">4</a></li>
                                        <li class="binh"> <a href="#">5</a></li>

                                    </ul>

                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<div id="myModal" style="height: auto" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Danh sách hình</h4>
            </div>
            <div class="modal-body" id="image_container">
                <div class="row">
                    <div class="col-sm-4"><img src="~/images/IconPoll/1244-f.png" width="150px" /></div>
                    <div class="col-sm-4"><img src="~/images/IconPoll/images.png" width="150px" /></div>
                    <div class="col-sm-4"><img src="~/images/IconPoll/paper_holder_pad-512.png" width="150px" /></div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-sm-4"><img width="150px" src="~/images/IconPoll/survey-flat-icon-clipboard-report-form-checklist-business-plan-sheet-file-note-pad-paper-page-document-planning-check-list-survey-questionnaire-flat-design-icon-512.png" /></div>
                    <div class="col-sm-4"><img src="~/images/IconPoll/survey-icon.png" width="150px" /></div>
                    <div class="col-sm-4"><img src="~/images/IconPoll/a.png" width="150px" /></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>
<script>
    if (document.getElementById('check').checked) {
        document.getElementById('other').style.visibility = 'visible'
    } else if (!document.getElementById('check').checked) {
        document.getElementById('other').style.visibility = 'hidden'
    }
    $(document).ready(function () {
        $('#image_container img').click(function () {
            //remove border on any images that might be selected
            $('#image_container img').removeClass("img_border")
            // set the img-source as value of image_from_list
            $('#image_from_list').val($(this).attr("src"));
            $('#data_value').val($(this).attr("id"));
            // $('#data_value').val( $(this).data("options").color );
         
            document.getElementById("review").src = ($(this).attr("src"));
            //add border to a clicked image
            $(this).addClass("img_border")
        });

    })
    var inputs = $('anwser1');

    inputs.filter(function (i, el) {
        return inputs.not(this).filter(function () {
            return this.value === el.value;
        }).length !== 0;
    }).addClass('background: red');
    $("#myTables").DataTable({
        
    });
    $("#questions").attr("required", true);
    $("#idd1").attr("required", true);
    $("#idd2").attr("required", true);
    //$("#idd3").attr("required", true);
    //$("#idd4").attr("required", true);
    $(function () {
        $("#StartDate").datepicker({
            format: "yyyy/mm/dd",
            startDate: "-3d",
            onSelect: function (selected) {
                $("#EndDate").datepicker("option", "minDate", selected)
            }
        });

        //$("#StartDate").attr('readOnly', 'false');
    });
    $(function () {
        $("#PublishDate").datepicker({
            format: "yyyy/mm/dd",
            startDate: "-3d"
        });
        //$("#PublishDate").attr('readOnly', 'false');
    });
    $(function () {
        $("#EndDate").datepicker({
            format: "yyyy/mm/dd",
            startDate: "-3d",
            onSelect: function (selected) {
                $("#StartDate").datepicker("option", "maxDate", selected)
            }
        });
        //$("#EndDate").attr('readOnly', 'false');
    });

    function bInfos() {
       
        b = document.getElementById('EndDate').value;
        c = document.getElementById('PublishDate').value;
       
        var d2 = new Date(b)
        var d3 = new Date(c)
       
        //if (CompareDates(d1, d2, '-') == 0) {
        //    alert('Selected date must be current date or previous date!');
        //    return false;
        //}
        if (d3 > d2) {
            alert('Ngày đăng không hợp lệ!'); return false;
        } 
        
        else { return true; }
    }
    function bInfo() {
        in1 = document.getElementById('idd1').value;
        in2 = document.getElementById('idd2').value;
        in3 = document.getElementById('idd3').value;
        in4 = document.getElementById('idd4').value;
        //in5 = document.getElementById('idd5').value;
        if (in1 == in2 && in1 != "" && in2 != "") {
            alert('Same Value'); return false;
        } else if (in1 == in3 && in1 != "" && in3 != "") {
            alert('Same Value'); return false;
        }
        else if (in2 == in3 && in2 != "" && in3 != "") {
            alert('Same Value'); return false;
        } else if (in1 == in4 && in1 != "" && in4 != "") {
            alert('Same Value'); return false;
        } else if (in2 == in4 && in2 != "" && in4 != "") {
            alert('Same Value'); return false;
        } else if (in3 == in4 && in3 != "" && in4 != "") {
            alert('Same Value'); return false;
        } else { return true; }
    }
    $('#label1').delay(2500).fadeOut('slow');



    function myFunction() {
        var x = confirm("Bạn chắc muốn xóa dòng này chứ?");
        if (x)
            return true;
        else
            return false;

    }
    pageSize = 6;

    showPage = function (page) {
        $(".content").hide();
        $(".content").each(function (n) {
            if (n >= pageSize * (page - 1) && n < pageSize * page)
                $(this).show();
        });
    }

    showPage(1);

    $("#pagin li a").click(function () {
        $("#pagin li a").removeClass("current");
        $(this).addClass("current");
        showPage(parseInt($(this).text()))
    });


    function paging() {
        var pageSize = 6;

        var showPage = function (page) {
            $(".aass").hide();
            $(".aass").each(function (n) {
                if (n >= pageSize * (page - 1) && n < pageSize * page)
                    $(this).show();
            });
        }

        showPage(1);

        $("#paginations li a").click(function () {
            $("#paginations li a").removeClass("current");
            $(this).addClass("current");
            showPage(parseInt($(this).text()))
        });
    }
    $(document).ready(function () {
        window.index = 4;
        $("#addNewRow").on("click", function () {
            window.index++;
            var tag = "<div id=\"row_" + index + "\" class='form-group'>" +
                "<div class='col-sm-6'><input id=\"item_name_" + index + "\" type='text' class='form-control order-item'></div>" +

                "<span class='btn btn-danger btn-xs' onclick='deleteItem(\"" + index + "\")'><i class='fa fa-times'></i></span>" +
                "</div>";
            $("#receiptWrapper").append(tag);
        });
        window.k = 5;
        window.i = 3;
        $("#addNewForm").on("click", function () {
            window.i++;
            var tag = " <div id=\"row_" + k + "\" class='form-group'>" +
                "   <label for='inputEmail3' class='col-sm-3 control-label'></label>" +
                "  <div class='col-sm-7'>" +
                "     <input type='text' class='form-control binh' id=\"idd" + index + "\"  onblur='bInfo() name='anwser1' >  <br>" +
              
                "     <input type='hidden' name='count' value='" + i + "' />" +
                "   </div>" +
                "<div class='col-sm-1'>" +
                "   <span class='btn btn-danger btn-xs' onclick='deleteItem(5)'><i class='fa fa-times'></i></span>" +
                "</div>"+
                "   </div>";

            $("#aa").append(tag);
            $("#addNewRow" + i).on("click", function () {

                var tags =


                    " <div class='form-group'>" +
                        "  <label for='inputEmail3' class='col-sm-3 control-label'>Tiêu đề</label>" +
                        "  <div class='col-sm-7'>" +
                        "      <input type='text' class='form-control'  name='Title' style='width: 330px'><br>" +
                        "   </div>" +
                        " </div>" +
                        " <div class='form-group'>" +
                        "  <label for='inputEmail3' class='col-sm-3 control-label'>Tiêu đề</label>" +
                        "  <div class='col-sm-7'>" +
                        "      <input type='text' class='form-control'  name='Title' style='width: 330px'><br>" +
                        "   </div>" +
                        " </div>" +
                        " <div class='form-group'>" +
                        "  <label for='inputEmail3' class='col-sm-3 control-label'>Tiêu đề</label>" +
                        "  <div class='col-sm-7'>" +
                        "      <input type='text' class='form-control'  name='Title' style='width: 330px'><br>" +
                        "   </div>" +
                        " </div>";


                $("#row" + i).append(tags);

            });
        });
    });


    function deleteItem(id) {
            $("#row_" + id)[0].parentNode.removeChild($("#row_" + id)[0]);
    }

    $(document).on('click', 'button.removebutton', function () {

        $(this).closest('tr').remove();
        return false;
    });
  
</script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/datatables.js"></script>